.j-alert{
  border-radius: 3px;
  box-shadow: 0 1px 3px 0 rgba(63, 63, 68, 0.15), 0 0 0 1px rgba(63, 63, 68, 0.05);
  padding: 1.2rem;
  background-color: #fff;
  border-top: 3px solid #bdc5c8;
  margin-bottom: 1.429rem;
  .j-alert-icon-wrap{
    margin-right: 1.25rem;
    i{
      width: 28px;
      height: 28px;
      background-color: #dfe3e8;
      text-align: center;
      line-height: 28px;
      border-radius: 30px;
      color: #808f94;
    }
  }
  .title{
    font-size: 1.14rem;
    font-weight: normal;
    margin-bottom: 15px;
  }
  &.j-alert-success{
	  background-color: rgba(var(--success-rgb), .15);
	  border-top-color: var(--success-color);
    .j-alert-icon-wrap i{
	    background-color: rgba(var(--success-rgb), .25);
	    color: var(--success-color);
    }
  }
	&.j-alert-info{
		background-color: rgba(var(--primary-rgb), .1);
		border-top-color: var(--primary-color);
		.j-alert-icon-wrap i{
			background-color: rgba(var(--primary-rgb), .25);
			color: var(--primary-color);
		}
	}

	&.j-alert-warning{
		background-color: rgba(var(--warning-rgb), .1);
		border-top-color: var(--warning-color);
		.j-alert-icon-wrap i{
			background-color: rgba(var(--warning-rgb), .25);
			color: var(--warning-color);
		}
	}

	&.j-alert-danger{
		background-color: rgba(var(--danger-rgb), .1);
		border-top-color: var(--danger-color);
		.j-alert-icon-wrap i{
			background-color: rgba(var(--danger-rgb), .25);
			color: var(--danger-color);
		}
	}
}
