joomla-progress{
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;
    .progress-inner-text{
        position: absolute;
        width: 100%;
        text-align: center;
    }
}

.j-progress{
    @extend .progress;
    border-radius: 10px;
    height: 10px;
	position: relative;
	overflow: inherit;
	&.j-has-percent{
		margin-right: 40px;
	}
	.progress-bar{
        background-color: var(--primary-color);
        border-radius: 10px;
        height: 10px;
        &.progress-bar-striped{
            background-size: 10px 10px;
	        animation: j-progress-bar-stripes 1s linear infinite;
        }
	}
	.j-progress-percent{
		position: absolute;
		right: -40px;
		width: 40px;
		text-align: right;
		line-height: 10px;
		font-size: 14px;
	}
}

@keyframes j-progress-bar-stripes {
	from { background-position: 10px 0; }
	to { background-position: 0 0; }
}
