
// radio button

.j-radio-label input[type="radio"],
.j-radio-group input[type="radio"],
input[type="radio"].j-radio{
    -webkit-appearance: none;
    height: 18px;
    min-width: 18px;
    max-width: 18px;
    border-radius: 50%;
    box-shadow: 0 1px 0 0 rgba(22, 29, 37, 0.05);
	background-color: #f4f5f9;
    background-image: linear-gradient(to bottom, #f4f5f9, #e3e6f2);
    border: 2px solid #bdc5c8;
    cursor: pointer;
    position: relative;
    display: inline-block;
    &::before{
        content: '';
        position: absolute;
        height: 0;
        width: 0;
        background: var(--primary-color);
        left: 50%;
        top: 50%;
        transform: translateY(-50%) translateX(-50%);
        border-radius: 50%;
        transition: 100ms;
        opacity: 0;
    }
    &:checked{
        border-color: var(--primary-color);
        &::before{
            height: 50%;
            width: 50%;
            opacity: 1;
        }
    }
}

.j-radio-group{
	@extend .j-checkbox-group;
}

.j-radio-group label,
.j-radio-label{
    @extend .j-checkbox-label;
}
