.com_content {
	&.layout-edit {
		joomla-field-media .field-media-preview {
			height: 10.25rem;
		}
		joomla-tab {
			#attrib-basic[active],
			#editor[active] {
				display: flex;
				flex-wrap: wrap;

				.form-group {
					flex: 0 0 50%;
					max-width: 50%;
					box-shadow: none;

					&:nth-child(1),
					&:nth-child(19) {
						flex: 0 0 100%;
						max-width: 100%;
					}
				}
				.field-spacer {
					flex: 0 0 100%;
					max-width: 100%;
				}
			}
		}
	}
	&.view-article{
		.article-title-info-wrapper{
			margin-bottom: 10px;
		}
		.artilce-preview-link{
			justify-content: center !important;
			position: relative;
			color: var(--inverse-background);
			.link-info{
				display: flex;
				i{
					font-size: 22px;
					margin-right: 15px;
					opacity: .5;
				}
			}
			>a{
				position: absolute;
				right: 0;
				color: var(--inverse-background);
				font-size: 16px;
				border-left: solid 1px #f4f7fc;
				width: 50px;
				text-align: center;
				height: 44px;
				line-height: 44px;
				transition: .3s;
				&:hover, &:focus{
					color: var(--link-color);
				}
			}
		}
		.alias-wrap{
			display: flex;
			align-items: center;
			justify-content: space-between;
			.alias-text{
				display: flex;
				align-items: center;
				margin: 0;
				.control-label{
					min-width: 110px;
				}
				.controls{
					color: var(--inverse-background);
				}
			}
			#edit-alias{
				color: var(--secondary-icon-color);
				font-size: 12px;
				
			}
			.alias-edit{
				display: none;
				.control-group{
					display: flex;
				}
			}
			&.active{
				.alias-text{
					display: none;
				}
				.alias-edit{
					display: block;
				}
			}
		}
	}
}
