// com_config

.com_config {

	#fieldset-permissions {
		grid-template-columns: 1fr;
	}

	.tab-description {
		grid-column: 1 / 3;
	}

  .rule-notes,
  .filter-notes {
    padding: 1em;
    background-color: $white;
    margin-bottom: 1em;
  }

  .options-menu {
    .revert-controls .controls {
      margin-left: 0;
    }
  }
  .sidebar-content{
    .nav-header{
      font-size: 1.14rem;
      font-weight: 400;
      margin-bottom: 15px;
    }
    ul.nav{
      @include media-breakpoint-down(lg){
        @extend .flex-direction-column;
        >li{
          margin-right: 15px;
        }
      }
      >li {
        border-bottom: 1px solid var(--border-color);
        padding-bottom: 5px;
        >a{
          color: var(--secondary-color);
          font-size: 1rem;
          font-weight: 400;
          &:hover, &:focus{
            color: var(--link-color);
          }
        }
        &.active>a{
          color: var(--link-color);
        }
      }
    }
  }
  .com-config-sidebar{
    min-width: 240px;
    margin-right: 30px;
  }
  .com-config-content{
    flex: auto;
    .form-control{
      width: 100%;
    }
  }
  @include media-breakpoint-down(lg){
    form#application-form{
      @extend .flex-direction-column;
    }
  }
}
