//com_finder
.com_finder {
    .btn-toolbar {
        joomla-toolbar-button {
            &#toolbar-options,
            &#toolbar-bars {
                @include media-breakpoint-down(lg) {
                    display: none;
                }
            }
            &#toolbar-trash {
                margin-left: auto;
                @include media-breakpoint-down(xs){
                    margin-left: 0;
                }
            }
        }
    }
}