// New Modules List
#new-modules-list {
    .j-card-body {
        min-height: 130px;
    }
}
.j-simple-title {
    margin: 0;
    font-weight: 400;
    line-height: 1.714rem;
    color: var(--primary-text-color);
    .j-simple-icon {
        color: var(--icon-color);
        display: inline-block;
        margin-right: .293rem;
        cursor: move;
    }
}
