.com_content {
	&.layout-edit {
		joomla-field-media .field-media-preview {
			height: 10.25rem;
		}
		joomla-tab {
			#attrib-basic[active],
			#editor[active] {
				display: flex;
				flex-wrap: wrap;

				.form-group {
					flex: 0 0 50%;
					max-width: 50%;
					box-shadow: none;

					&:nth-child(1),
					&:nth-child(19) {
						flex: 0 0 100%;
						max-width: 100%;
					}
				}
				.field-spacer {
					flex: 0 0 100%;
					max-width: 100%;
				}
			}
		}
	}
	&.view-article{
		.article-title-wrap{
			>.card-body{
				background: transparent !important;
				padding: 0;
			}
			label{
				color: var(--color);
				font-size: 1rem;
			}
			input{
				color: var(--color);
				background: #fff;
				font-size: 1.15rem;
				border-bottom-width: 3px;
				height: 3.4rem;
				padding-left: 1.7rem;
				padding-right: 1.7rem;
			}
		}
	}
}
