// Variables
@import "../../../../media/vendor/bootstrap/scss/functions";


// new color
:root{
	//rgb
	--primary-text-rgb:             37, 39, 50;
	--secondary-text-rgb:           94, 114, 124;
	--secondary-text-rgb-alt:       88, 88, 88; // #585858
	
	--icon-rgb:                     94, 114, 124; // #5E727C
	--secondary-icon-rgb:           189, 197, 200; // #bdc5c8
	
	--bg-rgb:                       237, 240, 245;
	--bg-light-rgb:                 250, 251, 252;
	--bg-dark-rgb:                  227, 230, 235;
	
	
	// color
	--primary-text-color:           rgb(var(--primary-text-rgb));
	--secondary-text-color:         rgb(var(--secondary-text-rgb));
	--secondary-text-alt-color:     rgb(var(--secondary-text-rgb-alt));
	
	--icon-color:                   rgb(var(--icon-rgb));
	--secondary-icon-color:         rgb(var(--secondary-icon-rgb));
	
	--border-color:                 rgb(var(--bg-rgb));
	--bg-color:                     rgb(var(--bg-rgb));
	--bg-light-color:               rgb(var(--bg-light-rgb));
	--bg-dark-color:                rgb(var(--bg-dark-rgb));
	
	
	//static color
	--dark-border-color: #7c7e82;
	--overlay: rgba(23, 23, 23, 0.5);
	--input-border-color: #dfe1e5;
	--light-btn-color: #e5f1ff;
	--lighter-btn-color: #f0f6ff;
	--table-striped-row-color: #edf4fa;
	--table-row-selected-color: #fef6ec;
	
	// common rgb
	--white-rgb: 255, 255, 255;
	--black-rgb: 0, 0, 0;
	
	// common color
	--white:                        rgb(var(--white-rgb));
	--black:                        rgb(var(--black-rgb));
	
	
	//primary color
	--primary-rgb:                  1, 132, 255; //#0184ff
	--primary-dark-rgb:             0, 82, 204; //#0052cc
	--primary-dark-color:           rgb(var(--primary-dark-rgb));
	--primary-light-rgb:            25, 141, 248; //#198df8
	--primary-color:                rgb(var(--primary-rgb));
	--primary-light-color:          rgb(var(--primary-light-rgb));
	--primary-lighter-rgb:          229, 242, 255; //#e5f2ff
	--primary-lighter-color:        rgb(var(--primary-lighter-rgb));
	--khonsu-bg-dark: var(--primary-color);
	
	
	//success color
	--success-rgb:                  95, 172, 35; //#5fac23
	--success-light-rgb:            122, 193, 67; //#7ac143
	--success-color:                rgb(var(--success-rgb));
	--success-light-color:          rgb(var(--success-light-rgb));
	
	
	// warning color
	--warning-rgb:                  255, 171, 0;
	--warning-light-rgb:            255, 196, 0;
	--warning-color:                rgb(var(--warning-rgb));
	--warning-light-color:          rgb(var(--warning-light-rgb));
	
	
	// danger color
	--danger-rgb:                   222, 53, 11;
	--danger-light-rgb:             255, 82, 43;
	--danger-color:                 rgb(var(--danger-rgb));
	--danger-light-color:           rgb(var(--danger-light-rgb));

	// button color
	--btn-gradient-1: #1d91ff;
	--btn-gradient-2: #0687ff;
	--btn-gradient-3: var(--lighter-btn-color);
	--btn-gradient-4: var(--primary-lighter-color);
	--btn-disabled-color: #7A8391;
	--btn-secondary-border-color: var(--dark-border-color);
}


$white:                            #fff;
$gray-100:                         #f8f9fa;
$gray-300:                         #dee2e6; //used for toolbar and badges
$gray-400:                         #cdcdcd; //used for border-bottom sidebar-nav and toolbar normal border
$gray-500:                         #adb5bd; //used in toolbar and buttons for border
$gray-700:                         #495057; //used for khonsu-text-dark, secondary
$gray-800:                         #343a40; //used for badges-inverse
$gray-900:                         #212529; //used for tree header, badge-inverse border
$black:                            #000;    //used for shadows

// BS Colours
$indigo:                           #0184ff; //used in bootstrap
$purple:                           #6f42c1; //used in bootstrap
$pink:                             #e83e8c; //used in bootstrap
$red:                              #de350b; //used in bootstrap
$red-dark:                         #3b0d0c; //used for alerts error
$yellow:                           #ffaa00; //used in bootstrap
$green:                            #00875a; //used in bootstrap
$green-dark:                       #0f2f21; //used for alert success
$teal:                             #20c997; //used in bootstrap
$cyan:                             #0052cc; //used in bootstrap

$theme-colors: ();
$theme-colors: map-merge((
	primary:                         $indigo, //used only in bootstrap, please use $khonsu-bg-dark
	secondary:                       $gray-700, //used for btn-secondary
	success:                         #00875a,
	info:                            $indigo,
	warning:                         $yellow,
	danger:                          $red,
	light:                           $gray-100, //used in bootstrap
	dark:                            $gray-900,  //used in bootstrap and for table-border
), $theme-colors);


// Alerts
$alert-border-level:               0;
$alert-color-level:                0;

// Global
$khonsu-box-shadow:                  1px 1px 1px 0px rgba($black,0.25);
$enable-rounded:                   false;
$border-radius:                    none;
$input-btn-padding-y:              .6rem;
$input-btn-padding-x:              1rem;
$input-max-width:                  100%;
$btn-disabled-opacity:             0.4;

// Header
$header-height:                    4.3rem;

// Toolbar
$khonsu-toolbar-line-height:         2.45rem;

// Sidebar
$sidebar-width:                    18rem;
$sidebar-width-login:              28.75rem;
$sidebar-width-closed:             5.214rem;
$main-brand-height:                3rem;

// Fonts
$font-family-sans-serif:           "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$h1-font-size:                     1.65rem;
$h2-font-size:                     1.5rem;
$h3-font-size:                     1.25rem;
$h4-font-size:                     1rem;
$h5-font-size:                     .9286rem;
$h6-font-size:                     .8571rem;
$font-size-sm:                     .8rem;
$font-size-vsm:                    .6rem;
$display1-size:                    1rem;
$display2-size:                    .875rem;
$content-font-size:                0.875rem;
$label-font-size:                  0.85rem;
$badge-font-size:                  0.75rem;
$fa-css-prefix:                    fa;
$fa-font-path:                     "../../../../media/vendor/fontawesome-free/webfonts";
$roboto-font-path:                 "../../../../media/vendor/roboto-fontface/fonts";

// Font weights
$thin-weight:                      100;
$extralight-weight:                200;
$light-weight:                     300;
$normal-weight:                    400;
$medium-weight:                    500;
$semibold-weight:                  600;
$bold-weight:                      700;
$extrabold-weight:                 800;
$black-weight:                     900;

// Text
$body-color:                       var(--primary-text-color); //only used in bootstrap, please use --khonsu-color-dark

// Tables
$table-bg:                         var(--white);

// Dropdowns
$dropdown-padding-y:               0;
$dropdown-box-shadow:              0 1px 1px rgba($black, .15);
$dropdown-link-hover-color:        var(--primary-text-color);
$dropdown-border-width:            1px;
$dropdown-item-padding-y:          .5rem;
$dropdown-item-padding-x:          .75rem;
$dropdown-spacer:                  0;

// Tabs
$nav-tabs-border-width:            0;
$nav-tabs-link-active-bg:          rgba($black, .2); //is it used?

// Cards
$card-border-width:                0;
$card-border-color:                transparent;

// Alerts
$state-success-text:               var(--alert-success);
$state-success-bg:                 lighten($green-dark, 70%);
$state-success-border:             lighten($green-dark, 30%);

$state-info-text:                  var(--white);
$state-info-bg:                    var(--info);
$state-info-border:                var(--info-border);

$state-warning-text:               var(--atum-text-dark);
$state-warning-bg:                 var(--warning);
$state-warning-border:             var(--warning-border);

$state-danger-text:                var(--white);
$state-danger-bg:                  var(--danger);
$state-danger-border:              var(--danger-border);

$state-error-text:                 var(--error);
$state-error-bg:                   lighten($red-dark, 70%);
$state-error-border:               lighten($red-dark, 30%);

// Badges
$success-bg:                       #bae0b7;
$success-txt:                      #114b0c;

$warning-bg:                       #fcd9b6;
$warning-txt:                      #462a16;

$danger-bg:                        #f9acaa;
$danger-txt:                       #3b0d0c;

// Input Group
$input-group-addon-color:          var(--white);
$input-group-addon-bg:             var(--khonsu-bg-dark);
$input-group-addon-border-color:   var(--khonsu-bg-dark);

// Treeselect
$treeselect-indent:                30px;

// List
$list-group-bg:                    var(--white-offset);

// Buttons
$input-btn-padding-y-sm-submenu:    0;
$input-btn-padding-x-sm-submenu:    1.625rem;
$input-btn-submenu-icon-distance:   1rem;

// Custom form
$custom-select-indicator-padding:    3rem;
$custom-select-bg:                   var(--khonsu-bg-dark);
$custom-select-bg-size:              116rem;
$custom-select-indicator:            url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1854.54 295' preserveAspectRatio='xMinYMid' width='1854.54' height='295'%3E%3Cpath d='M1825.1,145.7l6.9,6.9c0.1,0.1,0.2,0.1,0.3,0.1c0.1,0,0.2,0,0.3-0.1l6.9-6.9c0.1-0.1,0.1-0.2,0.1-0.3c0-0.1,0-0.2-0.1-0.3l-0.7-0.7c-0.1-0.1-0.2-0.1-0.3-0.1s-0.2,0-0.3,0.1l-5.8,5.8l-5.8-5.8c-0.1-0.1-0.2-0.1-0.3-0.1c-0.1,0-0.2,0-0.3,0.1l-0.7,0.7c-0.1,0.1-0.1,0.2-0.1,0.3C1824.9,145.5,1825,145.6,1825.1,145.7z' fill='%235e727c'/%3E%3Crect width='1810' height='295' fill='%23fafbfc'/%3E%3C/svg%3E%0A");
$custom-select-indicator-active:     url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1854.54 295' preserveAspectRatio='xMinYMid' width='1854.54' height='295'%3E%3Cpath d='M1825.1,145.7l6.9,6.9c0.1,0.1,0.2,0.1,0.3,0.1c0.1,0,0.2,0,0.3-0.1l6.9-6.9c0.1-0.1,0.1-0.2,0.1-0.3c0-0.1,0-0.2-0.1-0.3l-0.7-0.7c-0.1-0.1-0.2-0.1-0.3-0.1s-0.2,0-0.3,0.1l-5.8,5.8l-5.8-5.8c-0.1-0.1-0.2-0.1-0.3-0.1c-0.1,0-0.2,0-0.3,0.1l-0.7,0.7c-0.1,0.1-0.1,0.2-0.1,0.3C1824.9,145.5,1825,145.6,1825.1,145.7z' fill='%23fff'/%3E%3C/svg%3E");
$custom-select-background:           $custom-select-indicator no-repeat right center / $custom-select-bg-size; // Used so we can have multiple background elements (e.g., arrow and feedback icon)
$custom-select-box-shadow:           $khonsu-box-shadow;
$custom-select-bg-size-sm:           75rem;
$custom-select-multiple-padding-y:   .3rem;

//input
$input-padding:                    .6rem 1rem;

// Modals
$modal-header-height:              2.875rem;

// Quickicons
$quickicon-bg:                     var(--white);
$quickicon-box-shadow-success:     0 0 3px 0 var(--success);
$quickicon-box-shadow-danger:      0 0 3px 0 var(--danger);
$quickicon-box-shadow-warning:     0 0 3px 0 var(--warning);
$quickicon-icon-size:              1.3rem;
$quickicon-icon-size-big:          2rem;

// Gutter
$grid-gutter-width:                2rem;
$grid-gutter-width-s:              15px;

// Breadcrumbs
$breadcrumb-bg:                    var(--white);

// Links
$link-color:                       var(--primary-color);
$link-hover-color:                 var(--khonsu-link-hover-color);

// Time for fade effect
$fadetime:                         1s;

// Z-Index list
$zindex-negative:                  -1;
$zindex-actions:                   auto;
$zindex-toolbar:                   1010;
$zindex-sidebar:                   1011;
$zindex-mobile-nav:                1015;
$zindex-header:                    1020;
$zindex-alerts:                    1030;
$zindex-modal-backdrop:            1040;
$zindex-modal:                     1050;
$zindex-popover:                   1060;
$zindex-tooltip:                   1070;
$zindex-mobil-bottom:              8000;
$zindex-mobil-toggle:              9999;
$zindex-mobil-menu:                9000;


// Global

$khonsu-box-shadow:                  0 10px 30px 0 rgba(209, 213, 223, 0.5);
$sidebar-width:                    19.3rem;
