// Mixins

@mixin prefix-fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@mixin fadeout-page {
  @keyframes fadeout {
    @include prefix-fadeout;
  }

  animation: fadeout $fadetime;
  opacity: 0;
}

@mixin prefix-fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@mixin fadein-page {
  @keyframes fadein {
    @include prefix-fadein;
  }

  animation: fadein $fadetime;
}

//Input style mixin
@mixin input-style () {
  border: 2px solid var(--input-border-color);
  border-radius: 3px;
  background-color: var(--input-background-color);
  color: var(--icon-color);
  display: block;
  height: 2.86rem;
  min-width: 100%;
  font-size: 1rem;
}

//Media action popup style
@mixin media-popup-action ($width, $pad1, $pad2) {
  display: block;
  position: absolute;
  right: 0;
  top: 25px;
  width: $width;
  background: var(--inverse-color);
  border-radius: 3px;
  box-shadow: 0 30px 60px -10px rgba(0, 28, 73, 0.15);
  border: solid 1px #eaeef5;
  padding: $pad1 $pad2;
}