// Bootstrap functions
@import "../../../../media/vendor/bootstrap/scss/functions";

// Atum Variables
@import "variables";

// Mixins
@import "mixin";

// Bootstrap other
@import "vendor/bootstrap";

// Fonts
@import "../../../../media/vendor/roboto-fontface/scss/roboto/sass/roboto-fontface";
@import "fonts/fontawesome";

// Alert
@import "../../../../build/media_source/system/scss/jalert";

// jQuery Minicolors
@import "../../../../build/media_source/system/scss/jquery-minicolors";

// Blocks
@import "blocks/global"; // Leave this first
@import "blocks/alerts";
@import "blocks/edit";
@import "blocks/header";
@import "blocks/form";
@import "blocks/icons";
@import "blocks/iframe";
@import "blocks/layout";
@import "blocks/login";
@import "blocks/modals";
@import "blocks/quickicons";
@import "blocks/searchtools";
@import "blocks/lists";
@import "blocks/sidebar";
@import "blocks/sidebar-nav";
@import "blocks/system-message";
@import "blocks/toolbar";
@import "blocks/treeselect";
@import "blocks/utilities";
@import "blocks/list-table";
@import "blocks/badge";
@import "blocks/tabs";
@import "blocks/buttons";

// Vendor overrides
@import "vendor/awesomplete";
@import "vendor/bootstrap/card";
@import "vendor/bootstrap/collapse";
@import "vendor/bootstrap/dropdown";
@import "vendor/bootstrap/lists";
@import "vendor/bootstrap/modal";
@import "vendor/bootstrap/nav";
@import "vendor/bootstrap/pagination";
@import "vendor/bootstrap/table";
@import "vendor/codemirror";
@import "vendor/chosen";
@import "vendor/choicesjs";
@import "vendor/dragula";
@import "vendor/minicolors";
@import "vendor/tinymce";

// Page specifics
@import "pages/com_admin";
@import "pages/com_config";
@import "pages/com_content";
@import "pages/com_cpanel";
@import "pages/com_tags";
@import "pages/com_privacy";
@import "pages/com_templates";
@import "pages/com_users";


//Custom Design for modal
.joomla-upload-modal {
    width: 770px;
    max-width: 770px;
}
.joomla-upload-modal  .body {
    padding: 10px;
}
.joomla-media-upload-drag-container {
    min-height: 432px;
    border: 1px solid #efefef;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &.active {
        border-color: pink;
    }
    .joomla-recent-uploaded-media {
        display: flex;
        min-height: 100px;
        .joomla-recent-uploaded-media-item {
            flex: 1 auto;
            max-width: 237px;
            margin: 4px;
            position: relative;

                .joomla-media-loader-box {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    background: rgba(90, 90, 90, 0.63);
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    display: flex;
                    justify-content: center;
                    align-content: center;
                        .joomla-media-loader-box-inner {
                            position: absolute;
                            height: 100%;
                            width: 100%;
                        }
                        .media-loader {
                            bottom: 50%;
                            margin: 0 auto;
                            height: 4px;
                            border-radius: 3px;
                        }
                }
                img {
                    width: 100%;
                }
        }
    }
}
.joomla-progress {
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: .25rem;
    .joomla-progress-bar {
        background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
        background-size: 1rem 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        background-color: #28a745;
        transition: width .6s ease;
    }
}