// Bootstrap functions
@import "../../../../media/vendor/bootstrap/scss/functions";

// Atum Variables
@import "variables";

// Mixins
@import "mixin";

// Bootstrap other
@import "vendor/bootstrap";

// Fonts
@import "../../../../media/vendor/roboto-fontface/scss/roboto/sass/roboto-fontface";
@import "fonts/fontawesome";

// Alert
@import "../../../../build/media_source/system/scss/jalert";

// jQuery Minicolors
@import "../../../../build/media_source/system/scss/jquery-minicolors";

// Blocks
@import "blocks/global"; // Leave this first
@import "blocks/alerts";
@import "blocks/edit";
@import "blocks/header";
@import "blocks/form";
@import "blocks/icons";
@import "blocks/iframe";
@import "blocks/layout";
@import "blocks/login";
@import "blocks/modals";
@import "blocks/quickicons";
@import "blocks/searchtools";
@import "blocks/lists";
@import "blocks/sidebar";
@import "blocks/sidebar-nav";
@import "blocks/system-message";
@import "blocks/toolbar";
@import "blocks/treeselect";
@import "blocks/utilities";
@import "blocks/tabs";

// Vendor overrides
@import "vendor/awesomplete";
@import "vendor/bootstrap/badge";
@import "vendor/bootstrap/buttons";
@import "vendor/bootstrap/card";
@import "vendor/bootstrap/custom-forms";
@import "vendor/bootstrap/collapse";
@import "vendor/bootstrap/dropdown";
@import "vendor/bootstrap/form";
@import "vendor/bootstrap/lists";
@import "vendor/bootstrap/modal";
@import "vendor/bootstrap/nav";
@import "vendor/bootstrap/pagination";
@import "vendor/bootstrap/table";
@import "vendor/codemirror";
@import "vendor/chosen";
@import "vendor/choicesjs";
@import "vendor/dragula";
@import "vendor/minicolors";
@import "vendor/tinymce";

// Page specifics
@import "pages/com_admin";
@import "pages/com_config";
@import "pages/com_content";
@import "pages/com_cpanel";
@import "pages/com_tags";
@import "pages/com_privacy";
@import "pages/com_templates";
@import "pages/com_users";

.joomla-progress {
    display: flex;
    height: .5rem;
    overflow: hidden;
    font-size: .75rem;
    border-radius: .25rem;
    border: 1px solid #5fac23;
    width: 100%;
    .joomla-progress-bar {
        background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
        background-size: .5rem .5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        background-color: #5fac23;
        transition: width .6s ease;
    }
}

//Custom Design for modal
.joomla-upload-modal {
    width: 770px;
    max-width: 770px;
}
.joomla-upload-modal  .body {
    padding: 10px;
}
.joomla-media-upload-drag-container {
    min-height: 432px;
    border: 1px solid #efefef;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &.active {
        border-color: pink;
    }
}
.joomla-recent-uploaded-media {
    .joomla-recent-uploaded-media-item {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #f4f7fc;
        padding: 5px;
        .joomla-progress-container {
            width: 250px;
            display: flex;
            align-items: center;
                span {
                    padding-left: 20px;
                    color: #5e727c;
                }
        }
        .joomla-recent-upload-file {
            display: flex;
            align-items: center;
            span {
                &:first-child {
                    font-size: 28px;
                    padding-right: 5px;
                }
                &.joomla-image-item {
                    color: #5AD5B9;    
                }
                &.joomla-media-item {
                    color: #FDC547;    
                }
                &.joomla-file-item {
                    color: #4D8DFC;    
                }
            }
        }
        .joomla-upload-complete {
            display: flex;
            align-items: center;
            i {
                color: #5fac23;
            }
            span {
                padding-left: 5px;
            }
        }
        .joomla-file-upload-cancel-btn{
            font-size: 14px;
            font-weight: 500;
            color: #5e727c;
        }
        &:last-child {
            border: none;
        }
    }
}
