// Bootstrap functions
@import "../../../../media/vendor/bootstrap/scss/functions";

// Atum Variables
@import "variables";

// Mixins
@import "mixin";

// Bootstrap other
@import "vendor/bootstrap";

// Fonts
@import "../../../../media/vendor/roboto-fontface/scss/roboto/sass/roboto-fontface";
@import "fonts/fontawesome";

// Alert
@import "../../../../build/media_source/system/scss/jalert";

// jQuery Minicolors
@import "../../../../build/media_source/system/scss/jquery-minicolors";

// Blocks
@import "blocks/global"; // Leave this first
@import "blocks/alerts";
@import "blocks/edit";
@import "blocks/header";
@import "blocks/form";
@import "blocks/icons";
@import "blocks/iframe";
@import "blocks/layout";
@import "blocks/login";
@import "blocks/modals";
@import "blocks/quickicons";
@import "blocks/searchtools";
@import "blocks/lists";
@import "blocks/sidebar";
@import "blocks/sidebar-nav";
@import "blocks/system-message";
@import "blocks/toolbar";
@import "blocks/treeselect";
@import "blocks/utilities";
@import "blocks/list-table";
@import "blocks/badge";
@import "blocks/tabs";
@import "blocks/buttons";
@import "blocks/media";
@import "blocks/pagination";

// Vendor overrides
@import "vendor/awesomplete";
@import "vendor/bootstrap/card";
@import "vendor/bootstrap/collapse";
@import "vendor/bootstrap/dropdown";
@import "vendor/bootstrap/lists";
@import "vendor/bootstrap/modal";
@import "vendor/bootstrap/nav";
@import "vendor/bootstrap/pagination";
@import "vendor/bootstrap/table";
@import "vendor/codemirror";
@import "vendor/chosen";
@import "vendor/choicesjs";
@import "vendor/dragula";
@import "vendor/minicolors";
@import "vendor/tinymce";

// Page specifics
@import "pages/com_admin";
@import "pages/com_config";
@import "pages/com_content";
@import "pages/com_cpanel";
@import "pages/com_tags";
@import "pages/com_privacy";
@import "pages/com_templates";
@import "pages/com_users";

.joomla-docker-panel {
    position: fixed;
    box-shadow: 20px 30px 60px -10px rgba(0, 28, 73, 0.15);
    background: #ffffff;
    width: 550px;
    border-radius: 3px;
    overflow: hidden;
    z-index: 9;
        &.joomla-docker-top-right {
            right: 10px;
            top: 10px;
        }
        &.joomla-docker-top-left {
            left: 10px;
            top: 10px;
        }
        &.joomla-docker-bottom-right {
            right: 10px;
            bottom: 10px;
        }
        &.joomla-docker-bottom-left {
            left: 10px;
            bottom: 10px;
        }
        .joomla-docker-panel-header {
            background: #000000;
            color: #ffffff;
            display: flex;
            padding: 10px;
            .joomla-docker-panel-title {
                flex: 1;
                font-size: 12px;
            }
            .joomla-docker-panel-collapse-btn {
                width: 30px;
                text-align: right;
            }
        }
        .joomla-docker-panel-body {
            min-height: 100px;
            transition: height 0.5s linear;
            &.joomla-panel-collapse-in {
                transition: height 0.5s linear;
                height: 0px;
            }
        }
}
.joomla-recent-uploaded-media-item {
    transition: height 0.5s linear;
    &.joomla-media-upload-success {
        height: 0px;
        transition: height 0.5s linear;
    }
}