
$card-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15);
$card-box-shadow-hover: 0 20px 40px -10px rgba(0, 28, 73, 0.15);

.j-card-columns{
	column-count: 2;
	column-gap: 30px;
	@include media-breakpoint-down(sm) {
		column-count: 1;
	}
	> div,
	.module-wrapper{
		display: inline-block;
		width: 100%;
		margin-bottom: 30px;
	}
}

.j-card{
	background: #ffffff;
	border-radius: 3px;
	transition: 300ms;
	box-shadow: $card-box-shadow;
	position: relative;
	&.active,
	&.j-card-has-hover:hover{
		box-shadow: $card-box-shadow-hover;
	}
	.j-card-header{
		padding: .714286rem 0 .714286rem 1.429rem;
		border-bottom: 1px solid var(--bg-color);
		@extend .d-flex;
		@extend .justify-content-between;
		@extend .align-items-start;
		.j-card-header-right{
			margin-left: auto;
			@extend .d-inline-flex;
			joomla-dropdown{
				margin-top: 0.714rem;
			}
		}
		&.handle {
			.j-card-title {
				pointer-events: none;
			}
		}
		> h4,
		.j-card-title{
			margin: 0;
			font-weight: 400;
			line-height: 1.714rem;
			color: var(--primary-text-color);
			.j-card-icon {
				color: var(--icon-color);
				display: inline-block;
				margin-right: 0.293rem;
				~ small{
					margin-left: 1.786rem;
				}
			}
			small{
				display: block;
				font-size: 0.857rem;
				color: var(--icon-color)
			}
		}

		h4{
			font-size: 1.143rem;
		}

		.j-card-header-icon{
			@extend .iconic-btn;
			margin: -.714rem 0 -.714rem;
			cursor: pointer;
		}
		
		&.j-card-header-sm{
			padding: 0 0 0 0.714rem;
			border-bottom: none;
			@extend .align-items-start;
			.j-card-title{
				padding-top: .714286rem;
				color: var(--secondary-text-color);
			}
			.j-card-header-icon{
				padding: .642857rem;
				margin: 0;
			}
		}

		&.handle {
			cursor: move;
		}
	}
	
	.j-card-body {
		padding: 1.5rem;
		&:last-child p:last-child{
			margin-bottom: 0;
		}
	}
	
	.j-card-vertical-content{
		h4{
			font-size: 1.286rem;
			margin-bottom: 0.857rem;
			line-height: 1.5;
		}
		p{
			font-size: 1.143rem;
			color: var(--secondary-text-color);
			margin: 0;
		}
		.j-card-vertical-btn-group{
			margin-top: 2.357rem;
			margin-left: -0.429rem;
			.btn{
				margin-top: 0.571rem;
				margin-left: 0.429rem;
			}
		}
	}
	
	.j-card-footer{
		border-top: 1px solid var(--bg-color);
		@extend .d-flex;
		@extend .justify-content-center;
		.j-card-footer-item{
			text-align: center;
			flex-grow: 1;
			.j-card-footer-item-text,
			> span,
			> div,
			a,
			button{
				line-height: 1.375rem;
				padding: .571429rem .642857rem;
				color: var(--secondary-text-color);
				background: none;
				border: none;
				width: 100%;
				margin: 0;
				@extend .d-flex;
				@extend .justify-content-center;
				@extend .align-items-center;
				transition: 300ms;
				&:focus{
					outline: 1px solid var(--primary-color);
				}
				.j-card-icon {
					font-size: .714286rem;
					color: var(--primary-color);
					margin-right: .785714rem;
					transition: 300ms;
					&.j-icon-lg{
						font-size: 1rem;
						color: var(--icon-color);
					}
				}
				&:not(.j-card-footer-item-text):not(.no-link):hover,
				&:not(.j-card-footer-item-text):not(.no-link):focus {
					color: var(--primary-color);
					.j-card-icon {
						color: var(--primary-color);
					}
				}
			}
			&:not(:last-child) {
				a,
				button{
					width: calc(100% - 1px);
					margin-right: 1px;
				}
			}
			+ .j-card-footer-item {
				border-left: 1px solid var(--bg-color);
			}
			&.j-card-footer-icon {
				flex-grow: 0;
				button,
				a{
					font-size: 1.428571rem;
					color: var(--icon-color);
					transition: 300ms;
					&:hover,
					&:focus{
						color: var(--primary-color);
					}
				}
			}
		}
		&.j-card-footer-lg .j-card-footer-item {
			.j-card-footer-item-text,
			> span,
			> div,
			a,
			button{
				padding: 1rem .857143rem;
				.j-card-icon {
					font-size: 1rem;
					&.j-icon-lg {
						font-size: 1.428571rem;
					}
				}
			}
		}
	}
	.j-card-divider {
		display: block;
		height: 1px;
		background: var(--bg-color);
	}
	//media
	.j-card-media {
		position: relative;
		img{
			display: block;
			width: 100%;
			height: auto;
		}
		.j-card-media-overlay{
			@extend .d-flex;
			position: absolute;
			height: 100%;
			width: 100%;
			left: 0;
			top: 0;
			background: var(--overlay);
			opacity: 0;
			visibility: hidden;
			transition: 300ms;
		}
		&:hover .j-card-media-overlay{
			opacity: 1;
			visibility: visible;
		}
	}
	//button group
	.j-card-btn-group{
		@extend .d-flex;
		a,
		button{
			flex-grow: 1;
			justify-content: center;
			&:not(:last-child){
				margin-right: 1.071429rem;
			}
		}
	}
	// item group
	.j-card-item-group{
		@extend .j-card-btn-group;
		.j-card-item{
			//code
		}
		&:not(.j-no-margin) .j-card-item:not(:last-child){
			margin-right: 15px;
		}
		.j-card-item-right{
			margin-left: auto;
		}
	}

	.j-card-overview-box{
		@extend .d-flex;
		@extend .align-items-center;
		@extend .justify-content-center;
		padding: 0 1.428571rem 1.714286rem;
		.j-card-overview-icon{
			@extend .d-inline-flex;
			@extend .align-items-center;
			@extend .justify-content-center;
			font-size: 1.714286rem;
			height: 3.571429rem;
			max-width: 3.571429rem;
			min-width: 3.571429rem;
			border-radius: 50%;
			margin-right: 1.428571rem;
			background: rgba(var(--primary-rgb), .1);
			color: var(--primary-color);
			&.j-warning{
				background: rgba(var(--warning-rgb), .1);
				color: var(--warning-color);
			}
			&.j-danger{
				background: rgba(var(--danger-light-rgb), .1);
				color: var(--danger-light-color);
			}
			&.j-success{
				background: rgba(var(--success-light-rgb), .1);
				color: var(--success-light-color);
			}
		}
		.j-card-overview-content{
			font-size: 3.857143rem;
			line-height: 5.071429rem;
			font-weight: 700;
			sub{
				font-size: 1rem;
				bottom: 0;
				color: var(--secondary-text-color);
				font-weight: 400;
			}
		}
	}

	// table
	table.j-card-table{
		width: 100%;
		color: var(--primary-text-color);
		td,
		th{
			font-size: 1.142857rem;
			line-height: 1.785714rem;
			padding: .714286rem;
			border-bottom: 1px solid var(--bg-color);
			&:first-child{
				padding-left: 1.785714rem;
			}
			&:last-child{
				padding-right: 1.785714rem;
			}
		}
		th{
			font-weight: 400;
			color: var(--secondary-text-color);
		}
		tbody tr:last-child{
			td,
			th{
				border-bottom: none;
			}
		}
	}

}

// Event List

.j-card-event-item{
	padding: .928571rem 2.142857rem 1.785714rem;
	@extend .d-flex;
	&:not(:last-child){
		border-bottom: 1px solid var(--bg-color);
	}
	time{
		margin-right: 25px;
		white-space: nowrap;
		text-align: left;
		span:not(.month-text){
			font-size: 3.857143rem;
			line-height: 5.071429rem;
			font-weight: 700;
			display: block;
		}
	}
	.j-card-event-content{
		flex-grow: 1;
		padding-top: .857143rem;
		span{
			font-size: 1rem;
			color: var(--secondary-text-color);
			display: block;
			margin-bottom: .428571rem;
		}
		h5{
			font-size: 1.142857rem;
			line-height: 1.61em;
			font-weight: 400;
		}
	}
}

// activity list

.j-user-avatar{
	height: 3.571429rem;
	min-width: 3.571429rem;
	max-width: 3.571429rem;
	font-size: 1.428571rem;
	color: var(--secondary-text-color);
	background: var(--bg-color);
	border-radius: 50%;
	@extend .d-inline-flex;
	@extend .align-items-center;
	@extend .justify-content-center;
}
.j-list-item{
	padding: 1.785714rem 2.142857rem 1.785714rem;
	@extend .d-flex;
	@extend .align-items-start;
	&:not(:last-child){
		border-bottom: 1px solid var(--bg-color);
	}
	.j-user-avatar{
		margin-right: 1.071429rem;
	}
	.j-list-content{
		flex-grow: 1;
		color: var(--secondary-text-color);
		p{
			font-size: 12px;
			&:last-child{
				margin-bottom: 0;
			}
		}
		time{
			margin-bottom: .5rem;
			color: var(--secondary-text-color);
			display: block;
			span{
				padding: 0 .357143rem;
			}
		}
		h4{
			font-size: 1.142857rem;
			font-weight: 400;
			line-height: 1.857143rem;
			color: var(--primary-text-color);
			margin-bottom: .142857rem;
			span{
				color: var(--secondary-text-color);
				font-size: 1rem;
			}
		}
		h5{
			font-size: 1rem;
			margin-bottom: .928571rem;
			color: var(--secondary-text-color);
			font-weight: 400;
		}
	}
}

// list group padding

.j-card .list-group .list-group-item{
	padding-left: 1.429rem;
	padding-right: 1.429rem;
}


// quick links

.j-card-quick-link-col{
	//border-top: 1px solid var(--border-color);
	&:not(:last-child){
		border-bottom: 1px solid var(--border-color);
	}
	@media (min-width: 1340px) {
		flex: 0 0 50%;
		max-width: 50%;
		&:not(:nth-child(even)):nth-last-child(2){
			border-bottom: none;
		}
		&:not(:nth-child(2n)){
			border-right: 1px solid var(--border-color);
		}
	}
}

.j-card-quick-link{
	z-index: 1;
	overflow: hidden;
	box-shadow: none;
	.j-card-quick-link-body{
		@extend .d-flex;
		@extend .align-items-center;
		padding: 1.928571rem 2.142857rem;
		.j-card-icon{
			font-size: 2.857rem;
			margin-right: 3.214rem;
			color: var(--icon-color);
		}
		.j-card-quick-link-content{
			a{
				font-size: 1.714286rem;
				display: block;
				margin-bottom: .571429rem;
				@extend .stretched-link;
			}
			p{
				margin: 0;
			}
		}
	}
}

.j-card-image-mod-container{
	padding: 50px 50px 30px;
	img{
		max-width: 100%;
	}
}

.j-card-counter-msg{
	color: var(--secondary-text-color);
	margin-bottom: 1.071rem;
	span:not(.j-count-icon){
		font-size: 3.857rem;
		line-height: 5.071rem;
		font-weight: 700;
		display: inline-block;
		padding-right: 0.643rem;
		color: var(--primary-text-color);
	}
	span.j-count-icon{
		@extend .d-inline-flex;
		@extend .align-items-center;
		@extend .justify-content-center;
		color: var(--success-color);
		line-height: 1.286rem;
		font-size: 18px;
		border-radius: 50%;
		margin-right: 6px;
	}
}

//.j-card-skeleton

.skeleton-bg{
	background: var(--skeleton-bg) !important;
}

.j-quickicon-skeleton{
	&::before{
		@extend .skeleton-bg;
		content: '';
		position: absolute;
		left: 1.428571rem;
		top: 1.714286rem;
		height: 50px;
		width: 50px;
	}
	&::after{
		@extend .skeleton-bg;
		content: '';
		position: absolute;
		left: 6.286rem;
		top: 1.714286rem;
		height: 20px;
		width: calc(100% - 7.643rem);
	}
	.j-card-overview-box{
		&::before{
			@extend .skeleton-bg;
			content: '';
			position: absolute;
			left: 6.286rem;
			top: 54px;
			height: 20px;
			width: calc(100% - 15.643rem);
		}
		> * {
			opacity: 0;
		}
	}
	.j-card-footer{
		position: relative;
		&::before{
			@extend .skeleton-bg;
			content: '';
			position: absolute;
			height: 20px;
			width: calc(100% - 7.643rem);
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		> *{
			opacity: 0;
		}
	}
}

