// Global

html {
  height: 100%;
  font-size: 14px;
}

body {
   min-height: 100%;
   font-family: "Helvetica Neue", "Segoe UI", "SF Pro Text", "SF Pro Display", "SF UI Text", "SF UI Display", "Roboto", "Noto Sans", "Droid Sans", "Ubuntu","Oxygen", "Fira Sans", -apple-system, BlinkMacSystemFont, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
   text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--primary-text-color);
  text-align: left;
  background-color: var(--bg-color);
  padding: 0;
  margin: 0;
  &.monochrome {
    filter: grayscale(1);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $font-weight-bold;
}

h1 {
  font-weight: $font-weight-normal;
}

img {
  max-width: 100%;
}

// small,
// .small {
//   font-size: $font-size-sm;
// }

legend {
  font-size: 1.2rem;
  font-weight: $font-weight-bold;
}

// focus-visible polyfill rule
.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

// Default focus highlighting
a,
button,
input,
textarea {

  &.focus-visible {
  outline: solid 2px var(--primary-color);
  }
}

a {
  text-decoration: none;
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}

// Break up text in cells to prevent overflow
.break-word {
  word-break: break-all;
  word-wrap: break-word;
}

.content {
  font-size: $display1-size;
}

caption {
	font-size: 12px;
}

.logo {

  img path {
    fill: var(--khonsu-text-dark);
  }
}

.container-main,
.system-debug {
  padding-bottom: 50px;
  @include media-breakpoint-down(xs){
    padding-bottom: 110px;
  }
}

body .container-main {
  position: relative;
  min-height: calc(100vh - #{$header-height} - 3px);
  padding-top: 60px;
  max-width: calc(100% - #{$sidebar-width});
  @include media-breakpoint-down(xs){
    max-width: 100%;
  }
}

.content {
  padding-top: 15px;
  border-radius: $border-radius;

  > .row {
    margin-right: 0;
    margin-left: 0;
  }

  .subhead + & {
    padding-top: 0;
  }
}

.row-selected {
  background-color: var(--table-row-selected-color);
}

// Chosen (TEMPORARY)
.chzn-container-single {
  width: auto !important;
}

// Multilingual associations specific
.item-associations {
  padding: 0;
}

.item-associations li {
  display: inline-block;
  list-style: none;
}

// Quickicon specific
.message-alert {
  text-align: right !important;
}

// Fadeeffect for login page
.load-fadein {
  @include fadein-page;
}

.load-fadeout {
  @include fadeout-page;
}

// Fix blinking of fade effect
.container-main.fade-done > * {
  opacity: 1;
}

.sidebar-wrapper.fade-done > * {
  opacity: 1;
}

// dashboard items
.menu-quicktask,
.menu-badge {
  float: right;
  min-width: 1rem;
}

#wrapper{
  &.d-flex{
    @include media-breakpoint-down(xs){
      display:block !important;
    }
  }
}
.text-muted{
  color: var(--khonsu-text-dark);
}

.cpanel-help .card-columns,
.cpanel-system .card-columns {
  @include media-breakpoint-up(md) {
    column-count: 3;
  }
}
.card-columns {
  @include media-breakpoint-up(md) {
    column-count: 2;
  }
}
.form-title-wrap{
  label{
    color: var(--primary-text-color);
    font-size: 1rem;
  }
  input{
    color: var(--primary-text-color);
    background: var(--white);
    font-size: 1.15rem;
    height: 3.4rem;
    padding-left: 1.7rem;
    padding-right: 1.7rem;
  }
}
.j-table-responsive{
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.no-boxshadow{
  box-shadow: none !important;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
@-webkit-keyframes modalDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -150px, 0);
    transform: translate3d(0, -150px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes modalDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -150px, 0);
    transform: translate3d(0, -150px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.modalDown {
  -webkit-animation-name: modalDown;
  animation-name: modalDown;
}
@-webkit-keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0);
  }
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0);
  }
}

.fadeOutUp {
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp;
}
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100px, 0);
    transform: translate3d(0, 100px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100px, 0);
    transform: translate3d(0, 100px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.text-success,
.j-text-success{
	color: var(--success-color) !important;
}
.text-warning,
.j-text-warning{
	color: var(--warning-color) !important;
}
.text-danger,
.j-text-danger{
	color: var(--danger-color) !important;
}
.text-primary,
.j-text-primary{
	color: var(--primary-color) !important;
}

.bg-success{
	background-color: var(--success-color) !important;
}
.bg-warning{
	background-color: var(--warning-color) !important;
}
.bg-danger{
	background-color: var(--danger-color) !important;
}
.bg-primary{
	background-color: var(--primary-color) !important;
}

.js-pstats-btn-allow-always{
	color: var(--btn-disabled-color);
}
