//j table style
table {
    &.table {
        thead {
            td,
            th {
                border: 0;
            }
        }
    }
    &.j-list-table {
        border-collapse:separate;
        border-spacing: 0 10px;
        background-color: transparent;
        color: var(--primary-text-color);
        td,
        th {
            border:none;
            padding: 1rem;
            vertical-align: middle;
            @include media-breakpoint-down(lg){
                padding-left: 10px;
                padding-right: 10px;
            }
        }
        
        td.icon-1p5x, th.icon-1p5x {
            font-size: 20px;
        }
        
        thead {
            border-spacing: 0;
            td,
            th {
                border:none;
                padding-bottom: 0;
                font-size: 1rem;
                white-space: nowrap;
            }
            a{
                color: var(--primary-text-color-alt);
                font-weight: $normal-weight;
                text-decoration: none;
                &#sorted{
                    color: var(--primary-color);
                    font-weight: $normal-weight;
                    .icon-chevron-down,
                    .icon-chevron-up{
                        color: var(--primary-color);
                    }
                }
            }
        }
        tbody{
            tr{
                background: var(--white);
                -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15);
                box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15);
                transition: .35s;
                &.gu-mirror {
                    background-color: var(--table-row-selected-color);
                    -webkit-box-shadow: 10px 20px 40px -5px rgba(0, 28, 73, 0.25);
                    box-shadow: 10px 20px 40px -5px rgba(0, 28, 73, 0.25);
                    position: relative;
                    z-index: 1;
                }
                &:active,
                &:focus,
                &:hover {
                    background-color: var(--white);
                }
                td:first-child {
                    border-top-left-radius: 3px;
                }
                td:last-child {
                    border-top-right-radius: 3px;
                }
                td:first-child {
                    border-bottom-left-radius: 3px;
                }
                td:last-child {
                    border-bottom-right-radius: 3px;
                }
                .j-article-id-number{
                    font-weight: $medium-weight;
                    font-size: 1rem;
                }
                th,
                td {
                    a {
                        color: var(--primary-text-color);
                        font-weight: $normal-weight;
                        text-decoration: none;
                        &.j-has-dropdown,
                        &.j-has-dropdown:hover,
                        &.j-has-dropdown:focus,
                        &.j-has-dropdown:active,
                        &.j-transition-select:hover,
                        &.j-transition-select:active,
                        &.j-transition-select:focus,
                        &.j-transition-select,
                        &:not(.badge) {
                            text-decoration: none;
                        }
                        &:hover,
                        &:focus,
                        &:active{
                            color: var(--primary-color);
                            text-decoration: underline;
                        }
                    }
                    .small,
                    &.small{
                        font-size: 1rem;
                    }
                    small,
                    div.small,
                    span.small {
                        color: var(--secondary-text-color);
                    }
                    .btn {
                        &.dropdown-toggle {
                            border-color: var(--secondary-icon-color);
                            border-radius: 3px;
                        }
                    }
                    @include media-breakpoint-down (lg) {
                        .btn.btn-sm {
                            padding-left: .8rem;
                            padding-right: .8rem;
                        }
                    }
                }
                .j-transition-group {
                    position: relative;
                    min-width: 100px;
                    &::after {
                        content: "";
                        width: 7px;
                        height: 7px;
                        position: absolute;
                        left: -12px;
                        top: 0;
                        border-radius: 50%;
                        background: var(--primary-color);
                        bottom: 0;
                        margin: auto;
                    }
                    &[data-color="danger"] {
                        &::after {
                            background: var(--danger-color);
                        }
                    }
                    &[data-color="primary"] {
                        &::after {
                            background: var(--icon-color);
                        }
                    }
                    &[data-color="warning"] {
                        &::after {
                            background: var(--warning-color);
                        }
                    }
                }
                .j-transition-select {
                    span {
                        color: var(--secondary-icon-color);
                    }
                    &:hover {
                        span {
                            color: var(--primary-color);
                        }
                    }
                }
                joomla-dropdown {
                    .dropdown-item {
                        line-height: 1;
                        &:hover,
                        &:active,
                        &:focus {
                            text-decoration: none;
                        }
                    }
                }
                .badge.badge-info {
                    border: none;
                    background-color: transparent;
                    color: var(--primary-text-color);
                    margin: 0;
                    padding: 0;
                    font-size: 1rem;
                }
            }
        }
    }
    
    //j striped table
    &.j-striped-table {
        border-radius: 3px;
        background-color: $white;
        color: var(--primary-text-color);
        margin-bottom: 0;
        td,
        th {
            border: 0;
        }
        thead {
            td,
            th {
                color: var(--secondary-text-color);
                border: 0;
                font-size: 1rem;
                border-bottom: 1px solid #f2f5fa;
            }
        }
        tbody {
            tr {
                background-color: $white;
                &:hover {
                    background-color: $white;
                }
                &:nth-child(even){
                    background-color: var(--table-striped-row-color);
                }
            }
            td {
                border: 0;
                padding: 15px 10px;
                line-height: 1;
                .btn {
                    line-height: 1;
                    color: var(--primary-text-color);
                    &.btn-link {
                        &:focus {
                            box-shadow: none;
                        }
                    }
                }
                &.text-right {
                    padding-right: 10px;
                }
            }
        }
    }
}


