.toggle-toolbar.btn {
  display: block;
  span,i{
    margin-right: 0;
  }
}
.subhead {
  position: sticky;
  top: 60px;
  right: 0;
  left: 0;
  z-index: $zindex-toolbar;
  width: auto;
  min-height: 65px;
  padding: 13px 15px;
  color: var(--khonsu-text-dark);
  background: var(--bg-dark-color);
  border-bottom: 1px solid #d0dae3;
  margin-left: -14px;
  margin-right: -14px;
  @include media-breakpoint-down(xs){
    padding-left: 0;
    padding-right: 0;
    min-height: auto;
  }
  @include media-breakpoint-down(md){
    padding-bottom: 3px;
  }
  
  .row {
    margin-right: 0;
    margin-left: 0;
  }
  
  .btn-toolbar {
    margin-bottom: 0;
    
    > joomla-toolbar-button,
    > div,
    > button,
    > .btn-group {
      margin-left: 1.4rem;

      @include media-breakpoint-down(md){
        margin-left: 0;
        margin-right: .75rem;
        margin-bottom: .75rem;
      }
      &:first-child {
        margin-left: 0;
      }
      @include media-breakpoint-down(lg) {
        &:last-child {
          margin-right: 0;
        }
      }
    }
    #toolbar-preview {
      @include media-breakpoint-down(xs){
        margin-bottom: 1rem;
      }
    }
    #toolbar-help {
      margin-left: auto;
      display: flex;
      @include media-breakpoint-down(sm){
        margin-left: 0;
      }
    }
    #toolbar-status-group {
      .btn {
        &.dropdown-toggle {
          border-radius: 3px;
          &:after{
            margin-left: 2.14rem;
          }
          >span{
            margin-right: 12px;
            &.icon-chevron-down{
              margin-left: 12px;
              margin-right: 0;
            }
          }
        }
      }
    }
  }
}
.input-group {
  position: relative;
  flex-wrap: wrap;
  .input-group-prepend {
   .input-group-text {
    background: transparent;
    color: var(--icon-color);
   } 
  }
  .input-group-append {
    .btn{
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      box-shadow: none;
      &:not(:last-child){
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
      &.hidden{
        display: none;
      }
      span, i {
        margin-right: 0;
      }
    }
    .input-group-text{
      background: transparent;
      color: var(--icon-color);
      &.input-password-toggle{
        padding: 0;
        border: 0;
      }
    }
  }
  .focus-visible {
    + span {
      .btn {
        border-color: var(--primary-color);
      }
    }
  }
}

.btn-toolbar{
  margin-bottom: .8rem;
  .input-group-append {
    .btn {
      border-color: var(--input-border-color);
    }
  }
  
}

.js-calendar{
  .calendar-container{
    .btn{
      padding: 0 1.75rem;
    }
  }
}
