.accessibility-scaling{
	border: 1px solid var(--bg-dark-color);
	border-radius: 3px;
	box-shadow: 0 1px 1px 0 rgba(9, 30, 66, 0.25), 0 0 1px 0 rgba(9, 30, 66, 0.31);
	padding: 30px 15px;
	margin-bottom: 15px;
}

.mod-accessibility .accessibility-sidebar{
	padding-bottom: 40px;
}

.accessibility-scaling-header{
	text-align: center;
	span{
		font-size: 30px;
		display: block;
		line-height: 30px;
		color: var(--icon-color);
		margin-bottom: 10px;
	}
	h3{
		font-size: 1.143rem;
		font-weight: 400;
		line-height: 1.61;
		margin: 0 0 20px;
	}
}
.accessibility-scaling-btn-group{
	@extend .d-flex;
	@extend .justify-content-between;
	@extend .align-items-center;
	border: 1px solid var(--bg-dark-color);
	padding: 3px;
	border-radius: 30px;
	button{
		height: 24px;
		width: 24px;
		line-height: 24px;
		border: none;
		background: var(--primary-color);
		border-radius: 50%;
		color: var(--white);
		text-align: center;
		font-size: 10px;
		padding: 0;
	}
	span{
		height: 24px;
		line-height: 24px;
		display: inline-block;
	}
}

.accessibility-items-wrap{
	display: flex;
	.accessibility--item{
		@extend .accessibility-scaling;
		padding: 0;
		flex-grow: 1;
		max-width: calc(50% - 7.5px);
		border: none;
		.accessible-action-btn{
			padding: 0 15px;
			height: 140px;
			flex-wrap: wrap;
			line-height: 1.571rem;
			text-align: center;
			border: 1px solid var(--bg-dark-color);
			border-radius: 3px;
			@extend .d-flex;
			@extend .justify-content-center;
			@extend .align-items-center;
			span:not(.d-block){
				display: inline-flex;
				font-size: 30px;
				line-height: 30px;
				color: var(--icon-color);
			}
			span.d-block{
				margin-top: 15px;
				color: var(--primary-text-color);
			}
			&.a11y-active{
				border-color: var(--primary-color);
				background: var(--primary-color);
				color: var(--white);
				span{
					color: #fff !important;
				}
				&:active,
				&:focus{
					outline: none;
				}
			}
		}
		&:first-child{
			margin-right: 15px;
		}
	}
}
