//Buttons Style
.btn{
    padding: 0 1.857rem;
    line-height: 2.9rem;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: var(--color);
    background-color: rgba(var(--color-rgb), 0.1);
    box-shadow: 0 1px 1px 0 rgba(var(--color-rgb), 0.1), 0 1px 0 0 rgba(0, 0, 0, 0.03);
    text-decoration: none;
    transition: .3s;
    border-radius: 3px;
    position: relative;
    z-index: 10;
    &[disabled], &.disabled, &:disabled{
        pointer-events: none;
        background-image: none;
        color: var(--button-border-color);
    }
    >.icon{
        font-size: 1rem;
        line-height: 2.85rem;
        width: 2.2rem;
        height: 100%;
        z-index: -1;
        margin: 0 .3rem 0 -1.2rem;
        display: inline-block;
        
        &.right{
            margin: 0 -1rem 0 0rem;
        }
    }
    &:hover, &:focus, &:focus:active, &:active{
        text-decoration: none;
        box-shadow: 0 6px 10px -3px rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(0, 0, 0, 0.03);
    }
    &.btn-lg{
        padding: 0 2.857rem;
        line-height: 3.429rem;
        >.icon{
            font-size: 1.143rem;
            line-height: 3.429rem;
            margin: 0 .3rem 0 -2.2rem;
            &.right{
                margin: 0 -2.2rem 0 .3rem;
            }
        }
    }
    &.btn-sm{
        padding: 0 1.7rem;
        line-height: 2.286rem;
        >.icon{
            line-height: 2.286rem;
            margin: 0 .3rem 0 -1.2rem;
            font-size: 1rem;
            width: 2rem;
            &.right{
                margin: 0 -1.2rem 0 .3rem;
            }
        }
    }
    &.btn-primary {
        background-color: var(--link-color);
        color: var(--inverse-color);
        &:before{
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          left:0;
          right:0;
          background-color: rgba(0, 0, 0, 0.3);
          opacity: 0;
          transition: opacity .3s;
          z-index: -1;
          border-radius: 3px;
        }
        &:hover, &:focus{
            &:before{
                opacity: 1;
            }
        }
        &:focus, &:focus:active, &:not(:disabled):not(.disabled):active:focus{
            box-shadow: 0 0px 0px 1px #fff, 0 0px 0px 2px var(--link-color);
            &:before{
                opacity: 0;
            }
        }
        &[disabled], &.disabled, &:disabled{
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(0, 0, 0, 0.03);
            background-color: var(--button-border-color);
            color: var(--icon-color);
        }
    }
    &.btn-default {
        background-image: linear-gradient(to bottom, rgba(249, 252, 255, 0.5), rgba(var(--link-color-rgb), 0.5)), linear-gradient(to bottom, var(--button-background), var(--button-background));
        background-color: transparent;
        color: var(--link-color);
        &.active, &:not(:disabled):active, &:focus, &:focus:active, &:not(:disabled):active:focus{
            box-shadow: 0 0px 0px 1.2px var(--primary-gradient-color), 0 1px 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 1px rgba(0, 0, 0, 0.03);
        }
        &:focus, &:focus:active, &:not(:disabled):not(.disabled):active:focus{
            box-shadow: 0 0px 0px 1.2px var(--primary-gradient-color), 0 1px 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 1px rgba(0, 0, 0, 0.03);
        }
        &[disabled], &.disabled, &:disabled{
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(0, 0, 0, 0.03);
            background-image: none;
            background-color: var(--submenu-border);
            color: var(--button-border-color);
        }
    }
    &.btn-secondary{
        background-color: transparent;
        border: 1px solid var(--button-border-color);
        color: var(--secondary-color);
        box-shadow: none;
        >.icon{
            margin: 0 .3rem 0 -2.5rem;
        }
        &:hover, &:not(:disabled):active{
            background-color: transparent;
            border-color: var(--link-color);
            color: var(--link-color);
            box-shadow: 0 1px 1px 0 rgba(37, 39, 50, 0.15);
        }
        &:focus, &:not(:disabled):active:focus{
            background-color: transparent;
            border-color: var(--button-border-color);
            box-shadow: 0 0px 0px 1px #fff, 0 0px 0px 2px var(--link-color);
        }
        &[disabled], &.disabled, &:disabled{
            box-shadow: none;
            background-color: transparent;
            pointer-events: none;
            color: var(--button-border-color);
            border-color: var(--button-border-color);
            opacity: 0.8;
        }
    }
    &.btn-link{
        background-color: transparent;
        border: none;
        box-shadow: none;
        color: var(--secondary-color);
        padding: 0 1.2rem;
        >.icon{
            width: auto;
            margin: 0 .4rem 0 .4rem;
        }
        &:hover{
            color: var(--link-color);
            box-shadow: none;
            text-decoration: none;
        }
        &:focus, &:focus:active, &:not(:disabled):not(.disabled):active:focus{
            text-decoration: none;
            color: var(--link-color);
            box-shadow: 0px 0px 0px 1px var(--link-color);
        }
        &[disabled], &.disabled, &:disabled{
            pointer-events: none;
            background-image: none;
            color: var(--button-border-color);
        }
    }
    &.btn-cancel{
        color: var(--secondary-color);    
        background-color: var(--cancel-button-background);    
        border: 1px solid var(--button-border-color);
        box-shadow: none;
        &:hover{
            box-shadow: none;
            background-color: var(--button-border-color);
            color: var(--color);
        }
        &:not(:disabled):active, &:not(:disabled):focus:active, &:not(:disabled):active:focus{
            box-shadow: none;
            border-color: var(--danger-color);
            background-color: var(--danger-color);
            color: #fff;
        }
        &:focus{
            box-shadow: 0 0px 0px 1px #fff, 0 0px 0px 2px var(--link-color);
        }
        &[disabled], &.disabled, &:disabled{
            pointer-events: none;
            background-image: none;
            background-color: var(--cancel-button-background);
            color: var(--button-border-color);
        }
    }
    &.btn-danger{
        background-image: linear-gradient(to bottom, var(--danger-primary-color), var(--danger-color));
        color: var(--inverse-color);
        &.active, &:not(:disabled):active, &:focus, &:focus:active, &:not(:disabled):active:focus{
            background-image: linear-gradient(to bottom, var(--danger-color), var(--danger-primary-color));
            color: #fff;
        }
        &:focus, &:focus:active, &:not(:disabled):not(.disabled):active:focus{
            box-shadow: 0 0px 0px 1px #fff, 0 0px 0px 2px var(--danger-color);
        }
    }
    &.btn-success{
        background-image: linear-gradient(to bottom, var(--success-primary-color), var(--success-color));
        color: var(--inverse-color);
        &.active, &:not(:disabled):active, &:focus, &:focus:active, &:not(:disabled):active:focus{
            background-color: var(--success-color);
        }
        &:focus, &:focus:active, &:not(:disabled):not(.disabled):active:focus{
            box-shadow: 0 0px 0px 1px #fff, 0 0px 0px 2px var(--success-color);
        }
    }
    &.btn-warning{
        background-image: linear-gradient(to bottom, var(--warning-primary-color), var(--warning-color));
        color: var(--inverse-color);
        &.active, &:not(:disabled):active, &:focus, &:focus:active, &:not(:disabled):active:focus{
            background-color: var(--warning-color);
        }
        &:focus, &:focus:active, &:not(:disabled):not(.disabled):active:focus{
            box-shadow: 0 0px 0px 1px #fff, 0 0px 0px 2px var(--warning-color);
        }
    }
    &.btn-solid-primary{
        background-image: linear-gradient(to bottom, var(--primary-gradient-color) 1%, var(--link-color));
        color: var(--inverse-color);
        &:hover, &:focus{
            opacity: .8;
        }
    }
    &.btn-info{
        background: none;
        color: var(--icon-color);
        padding: 0;
        box-shadow: none;
        &:hover, &:focus, &:focus:active, &:active{
            opacity: .8;
            box-shadow: none;
        }
    }
    &.btn-dark{
        background-image: linear-gradient(to bottom, var(--secondary-icon-color), var(--secondary-color));
        color: var(--inverse-color);
        &:hover, &:focus{
            opacity: .8;
        }
    }
    &.btn-light{
        background-color: var(--inverse-color);
        color: var(--link-color);
        &:hover, &:focus{
            opacity: .8;
        }
    }
    &.btn-block{
        display: block;
        width: 100%;
    }
    &.button-new{
        padding-left: 1.5rem;
        .icon{
            border-left: 1px solid rgba(var(--inverse-color-rgb), 0.1);
            margin: 0 -1.8rem 0 1.2rem;
            width: 3rem;
        }
    }
    &.dropdown-toggle {
        padding: 0 1.4rem;
        border-right: 1px solid rgba(var(--inverse-color-rgb), 0.1);
        border-radius: 3px 0 0 3px;
        +.btn,
        +joomla-toolbar-button .btn{
            border-radius: 0 3px 3px 0;
        }
    }
}
.btn-group{
    position: relative;
    display: inline-flex;
    display: -ms-inline-flexbox;
    vertical-align: middle;
    &.dropdown-save-group{
        >.btn{
            margin-left: 0;
        }
        joomla-toolbar-button .btn{
            border-radius: 3px 0 0 3px;
        }
        .dropdown-toggle{
            border-radius: 0 3px 3px 0;
            border-left: 1px solid rgba(var(--inverse-color-rgb), 0.1);
            border-right: none;
            &:hover, &:focus, &:focus:active{
                border-radius: 0 3px 3px 0;
                &:before{
                    border-radius: 0 3px 3px 0;
                }
            }
        }
    }
    &.btn-group-lg>.btn{
        padding: 0 2.857rem;
        line-height: 3.429rem;
        >.icon{
            font-size: 1.143rem;
            line-height: 3.429rem;
            margin: 0 .3rem 0 -2.2rem;
            &.right{
                margin: 0 -2.2rem 0 .3rem;
            }
        }
    }
    &.btn-group-sm>.btn{
        padding: 0 1.7rem;
        line-height: 2.286rem;
        >.icon{
            line-height: 2.286rem;
            margin: 0 .3rem 0 -1.2rem;
            font-size: 1rem;
            width: 2rem;
            &.right{
                margin: 0 -1.2rem 0 .3rem;
            }
        }
    }
    &>.btn {
        position: relative;
        flex: 1 1 auto;
    }
    &.btn-group-border{
        border: 1px solid var(--button-border-color);
        border-radius: 3px;
        >.btn{
            border-radius: 0px;
            box-shadow: none;
            &.btn-secondary{
                border: none;
            }
            &:not(:last-child){
                border-right: 1px solid var(--button-border-color);
            }
        }
    }
}