//Buttons Style
.btn{
    padding: 0 1.857rem;
    line-height: 2.9rem;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: var(--primary-text-color);
    background-color: rgba(var(--primary-text-rgb), 0.1);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    text-decoration: none;
    transition: .3s;
    border-radius: 3px;

    &[disabled], &.disabled, &:disabled,
    &.btn-primary[disabled],&.btn-primary.disabled,&.btn-primary:disabled,
    &.btn-danger[disabled],&.btn-danger.disabled,&.btn-danger:disabled,
    &.btn-success[disabled],&.btn-success.disabled,&.btn-success:disabled,
    &.btn-warning[disabled],&.btn-warning.disabled,&.btn-warning:disabled,
    &.btn-dark[disabled],&.btn-dark.disabled,&.btn-dark:disabled,
    &.btn-light[disabled],&.btn-light.disabled,&.btn-light:disabled,
    &.btn-white[disabled],&.btn-white.disabled,&.btn-white:disabled{
        pointer-events: none;
        background-image: none;
        background-color: var(--secondary-icon-color);
        color: var(--secondary-text-color);
        span, i{
            color: var(--secondary-text-color);
        }
    }
    @include media-breakpoint-down(xs){
        padding: 0 1rem;
    }
    >.icon{
        margin-right: 12px;
        &.right{
            margin-right: 0;
            margin-left: 12px;
        }
    }
    &:hover, &:focus, &:focus:active, &:active{
        text-decoration: none;
        box-shadow: 0 6px 10px -3px rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(0, 0, 0, 0.03);
    }
    &.btn-lg{
        padding: 0 2.857rem;
        line-height: 3.429rem;
        @include media-breakpoint-down(xs){
            padding: 0 1rem;
        }
    }
    &.btn-sm{
        padding: 0 1.7rem;
        line-height: 2.286rem;
        @include media-breakpoint-down(xs){
            padding: 0 1rem;
        }
    }
    &.btn-primary {
        background-color: var(--primary-color);
        color: #fff;
        &:hover{
            box-shadow: 0 6px 10px -5px rgba(0, 0, 0, 0.15), 0 1px 1px 0 rgba(0, 0, 0, 0.05);
            background-color: var(--primary-color);
        }
        &:active, &.active{
            background-color: var(--primary-light-color);
            box-shadow: none;
        }
        &:focus, &:focus:active, &:not(:disabled):not(.disabled):active:focus{
            box-shadow: 0 0px 0px 1px #fff, 0 0px 0px 2px var(--primary-color);
        }
        span, i{
            color: #fff;
        }
    }
    &.btn-default {
        background-image: linear-gradient(to bottom, var(--lighter-link-color), var(--light-link-color));
        color: var(--primary-color);
        &:hover{
            color: var(--primary-color);
        }
        &:hover, &:active, &.active{
            background-image: none;
            background-color: #fff;
        }
        &:focus, &:focus:active, &:not(:disabled):not(.disabled):active:focus{
            box-shadow: 0 0px 0px 1.2px var(var(--primary-light-color)), 0 1px 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 1px rgba(0, 0, 0, 0.03);
        }
        &[disabled], &.disabled, &:disabled{
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(0, 0, 0, 0.03);
            background-image: none;
            background-color: var(--bg-dark-color);
            color: var(--secondary-icon-color);
        }
    }
    &.btn-secondary{
        line-height: 2.75rem;
        background-color: transparent;
        border: 1px solid var(--dark-border-color);
        color: var(--primary-text-color);
        box-shadow: none;
        &:hover, &.active, &:active{
            color: var(--primary-color);
            border-color: var(--primary-color);
        }
        &:hover{
            background-color: transparent;
            box-shadow: 0 1px 1px 0 rgba(37, 39, 50, 0.15);
        }
        &.active, &:active{
            background-color: #fff;
            box-shadow: 0 1px 1px 0 rgba(37, 39, 50, 0.15);
        }
        &:focus, &:not(:disabled):active:focus{
            background-color: transparent;
            box-shadow: 0 0px 0px 1px #fff, 0 0px 0px 2px var(--primary-color);
            border-color: var(--secondary-icon-color);
        }
        &[disabled], &.disabled, &:disabled{
            box-shadow: none;
            background-color: transparent;
            color: var(--secondary-icon-color);
            border-color: var(--secondary-icon-color);
            opacity: 0.8;
        }
        &.btn-lg{
            line-height: 3.29rem;
        }
        &.btn-sm{
            line-height: 2.15rem;
        }
    }
    &.btn-link{
        background-color: transparent;
        border: none;
        box-shadow: none;
        color: var(--primary-text-color);
        padding: 0;
        &:hover, &:active, &.active{
            color: var(--primary-color);
            text-decoration: underline;
        }
        &:active, &.active{
            color: var(--primary-color);
        }
        &:focus, &:focus:active, &:not(:disabled):active:focus{
            color: var(--primary-color);
        }
        &[disabled], &.disabled, &:disabled{
            pointer-events: none;
            background-image: none;
            color: var(--secondary-icon-color);
        }
    }
    &.btn-cancel{
        line-height: 2.75rem;
        color: var(--secondary-text-color);
        background-color: var(--bg-color);
        border: 1px solid var(--secondary-icon-color);
        box-shadow: none;
        &:hover{
            box-shadow: none;
            background-color: var(--secondary-icon-color);
            color: var(--primary-text-color);
        }
        &:focus, &.active, &:active{
            border-color: var(--danger-color);
            background-color: var(--danger-color);
            color: #fff;
            box-shadow: none;
        }
        &[disabled], &.disabled, &:disabled{
            pointer-events: none;
            background-image: none;
            background-color: var(--bg-color);
            color: var(--secondary-icon-color);
        }
        &.btn-lg{
            line-height: 3.29rem;
        }
        &.btn-sm{
            line-height: 2.15rem;
        }
    }
    &.btn-danger{
        background-color: var(--danger-color);
        color: #fff;
        &:hover, &:focus, &:active, &.active{
            background-color: var(--danger-light-color);
        }
        span, i{
            color: #fff;
        }
    }
    &.btn-success{
        background-color: var(--success-color);
        color: #fff;
        &:hover, &:focus, &:active, &.active{
            background-color: var(--success-light-color);
        }
        span, i{
            color: #fff;
        }
    }
    &.btn-warning{
        background-color: var(--warning-color);
        color: var(--primary-text-color);
        &:hover, &:focus, &:active, &.active{
            background-color: var(--warning-light-color);
        }
        span, i{
            color: #fff;
        }
    }
    &.btn-solid-primary{
        background-color: var(--primary-color);
        color: #fff;
        &:hover, &:focus{
            background-color: var(--primary-light-color);
        }
        span, i{
            color: #fff;
        }
    }
    &.btn-info{
        background: none;
        color: var(--secondary-text-color);
        box-shadow: none;
        &:hover, &:focus, &:focus:active, &:active{
            background-color: var(--primary-lighter-color);
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
        }
        &[disabled], &.disabled, &:disabled{
            background-image: none;
            opacity: 0.5;
        }
    }
    &.btn-dark{
        background-color: var(--primary-text-color);
        color: #fff;
        &:hover, &:focus{
            background-color: var(--primary-text-color);
        }
        span, i{
            color: #fff;
        }
    }
    &.btn-light{
        background-color: #fff;
        color: var(--primary-color);
        &:hover, &:focus{
            color: var(--primary-color);
        }
    }
    &.btn-white{
        box-shadow: 0 1px 1px 0 rgba(59, 72, 79, 0.03);
        border: solid 1px #e8ebf4;
        background-color: #ffffff;
        color: var(--secondary-text-color);
        font-weight: normal;
        line-height: 2.75rem;
        &:hover, &:focus{
            box-shadow: 0 6px 10px -3px rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(0, 0, 0, 0.03);
        }
        &:active, &.active{
            border-color: var(--primary-color);
            color: var(--primary-color);
        }
        &.btn-lg{
            line-height: 3.29rem;
        }
        &.btn-sm{
            line-height: 2.15rem;
        }
    }
    &.btn-block{
        display: block;
        width: 100%;
    }
    &.btn-outline-primary{
        border: 1px solid var(--primary-color);
        color: var(--primary-color);
    }
    &.btn-outline-secondary{
        border: 1px solid var(--dark-border-color);
        color: var(--primary-text-color);
    }
    &.btn-outline{
        border: 1px solid var(--dark-border-color);
        line-height: 2.75rem;
        &.btn-lg{
            line-height: 3.29rem;
        }
        &.btn-sm{
            line-height: 2.15rem;
        }
    }
    &.dropdown-toggle {
        padding: 0 1.1rem;
    }
    &.hidden {
        display: none;
    }
}
.btn-group, .toolbar-btn-group{
    position: relative;
    display: inline-flex;
    display: -ms-inline-flexbox;
    vertical-align: middle;
    >.btn, >joomla-toolbar-button{
        position: relative;
        flex: 1 1 auto;
        border-radius: 3px;
        &:hover{
            z-index: 1;
        }
    }
    >joomla-toolbar-button:not(:last-child) >.btn,
    >.btn:not(:last-child),
    >.btn:not(:last-child):not(.dropdown-toggle) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    >.btn:not(:first-child){
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    >.btn:not(:first-child){
        margin-left: -1px;
    }
    &.btn-group-lg>.btn{
        padding: 0 2.857rem;
        line-height: 3.429rem;
    }
    &.btn-group-sm>.btn{
        padding: 0 1.7rem;
        line-height: 2.286rem;
    }
    &.dropdown-save-group{
        >.btn{
            margin-left: 0;
        }
        joomla-toolbar-button .btn{
            border-radius: 3px 0 0 3px;
        }
        .dropdown-toggle{
            border-radius: 0 3px 3px 0;
            border-left: 1px solid rgba(var(--white-rgb), 0.1);
            border-right: none;
            &:hover, &:focus, &:focus:active{
                border-radius: 0 3px 3px 0;
                &:before{
                    border-radius: 0 3px 3px 0;
                }
            }
        }
    }
}
.toolbar-btn-group{
    joomla-toolbar-button + .dropdown-toggle{
        border-left: 1px solid rgba(255, 255, 255, 0.1);
    }
}
// iconic button
.js-focus-visible .iconic-btn,
.iconic-btn{
	padding: 1.071429rem 0.714rem;
	background: transparent;
	border: none;
	color: var(--secondary-icon-color);
	transition: 300ms;
	line-height: 1;
	display: inline-block;
	position: relative;
    z-index: 2;
    &.btn-sm{
		padding: .642857rem;
    }
	&:focus{
		outline: 1px solid var(--primary-color);
	}
	&:hover,
	&:focus{
		color: var(--primary-color);
	}
}

//Horizontal button in menu module assignment
.horizontal-buttons {
    &.unstyled {
        .switcher__legend {
            padding-top: 0;
        }
    }
}
