
$card-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15);
$card-box-shadow-hover: 20px 30px 60px -10px rgba(0, 28, 73, 0.15);

.jcard{
	background: #ffffff;
	border-radius: 3px;
	transition: 300ms;
	box-shadow: $card-box-shadow;
	position: relative;
	&.jcard-has-hover:hover{
		box-shadow: $card-box-shadow-hover;
	}
	.jcard-header{
		padding: .714286rem 0 .714286rem 1.429rem;
		border-bottom: 1px solid var(--background);
		@extend .d-flex;
		@extend .justify-content-between;
		@extend .align-items-center;
		.jcard-header-right{
			margin-left: auto;
		}
		> h4,
		.jcard-title{
			margin: 0;
			font-weight: 400;
			line-height: 1.714rem;
			color: var(--color);
			.jcard-icon {
				color: var(--icon-color);
				display: inline-block;
				margin-right: 0.293rem;
			}
		}

		h4{
			font-size: 1.143rem;
		}

		button{
			padding: 1.071429rem 0.714rem;
			margin: -.714rem 0 -.714rem;
			background: transparent;
			border: none;
			color: var(--secondary-icon-color);
			transition: 300ms;
			line-height: 1;
			display: block;
			position: relative;
			z-index: 2;
			&:focus{
				outline: 1px solid var(--link-color);
			}
			&:hover,
			&:focus{
				color: var(--link-color);
			}
		}

		&.jcard-header-sm{
			padding: 0 0 0 0.714rem;
			border-bottom: none;
			@extend .align-items-start;
			.jcard-title{
				padding-top: .714286rem;
				color: var(--secondary-color);
			}
			button{
				padding: .642857rem;
				margin: 0;
			}
		}
	}
	
	.jcard-footer{
		border-top: 1px solid var(--background);
		@extend .d-flex;
		@extend .justify-content-center;
		.jcard-footer-item{
			text-align: center;
			flex-grow: 1;
			a,
			button{
				line-height: 1.375rem;
				padding: .571429rem .642857rem;
				color: var(--secondary-color);
				background: none;
				border: none;
				width: 100%;
				margin: 0;
				@extend .d-flex;
				@extend .justify-content-center;
				@extend .align-items-center;
				transition: 300ms;
				&:focus{
					outline: 1px solid var(--link-color);
				}
				.jcard-icon {
					font-size: .714286rem;
					color: var(--link-color);
					margin-right: .785714rem;
					transition: 300ms;
					&.j-icon-lg{
						font-size: 1rem;
						color: var(--icon-color);
					}
				}
				&:hover,
				&:focus{
					color: var(--link-color);
					.jcard-icon{
						color: var(--link-color);
					}
				}
			}
			&:not(:last-child){
				a,
				button{
					width: calc(100% - 1px);
					margin-right: 1px;
				}
			}
			+ .jcard-footer-item{
				border-left: 1px solid var(--background);
			}
			&.jcard-footer-icon{
				flex-grow: 0;
				button,
				a{
					font-size: 1.428571rem;
					color: var(--icon-color);
					transition: 300ms;
					&:hover,
					&:focus{
						color: var(--link-color);
					}
				}
			}
		}
		&.jcard-footer-lg .jcard-footer-item{
			a,
			button{
				padding: 1rem .857143rem;
				.jcard-icon{
					font-size: 1rem;
					&.j-icon-lg{
						font-size: 1.428571rem;
					}
				}
			}
		}
	}
	.jcard-divider{
		display: block;
		height: 1px;
		background: var(--background);
	}
	//media
	.jcard-media{
		img{
			display: block;
			width: 100%;
			height: auto;
		}
	}
	//button group
	.jcard-btn-group{
		@extend .d-flex;
		a, 
		button{
			flex-grow: 1;
			padding-left: .357143rem;
			padding-right: .357143rem;
			&:not(:last-child){
				margin-right: 1.071429rem;
			}
		}
	}
	// item group
	.jcard-item-group{
		@extend .jcard-btn-group;
		.jcard-item{
			//code
		}
		&:not(.j-no-margin) .jcard-item:not(:last-child){
			margin-right: 15px;
		}
		.jcard-item-right{
			margin-left: auto;
		}
	}

	.jcard-overview-box{
		@extend .d-flex;
		@extend .align-items-center;
		@extend .justify-content-center;
		padding: 0 1.428571rem 1.714286rem;
		.jcard-overview-icon{
			@extend .d-inline-flex;
			@extend .align-items-center;
			@extend .justify-content-center;
			font-size: 1.714286rem;
			height: 3.571429rem;
			width: 3.571429rem;
			border-radius: 50%;
			margin-right: 1.428571rem;
			background: rgba(var(--primary-color-rgb), .2);
			color: var(--primary-color);
			&.j-warning{
				background: rgba(var(--warning-color-rgb), .2);
				color: var(--warning-color);
			}
			&.j-danger{
				background: rgba(var(--danger-color-rgb), .2);
				color: var(--danger-color);
			}
			&.j-success{
				background: rgba(var(--success-color-rgb), .2);
				color: var(--success-color);
			}
		}
		.jcard-overview-content{
			font-size: 3.857143rem;
			line-height: 5.071429rem;
			font-weight: 700;
			sub{
				font-size: 1rem;
				bottom: 0;
				color: var(--secondary-color);
				font-weight: 400;
			}
		}
	}

	// table
	table{
		width: 100%;
		color: var(--color);
		td,
		th{
			font-size: 1.142857rem;
			line-height: 1.785714rem;
			padding: .714286rem;
			border-bottom: 1px solid var(--background);
			&:first-child{
				padding-left: 1.785714rem;
			}
			&:last-child{
				padding-right: 1.785714rem;
			}
		}
		th{
			font-weight: 400;
			color: var(--secondary-color);
		}
		tr:last-child{
			td,
			th{
				border-bottom: none;
			}
		}
	}

}

// Event List
.jcard-event-list{
	.jcard-event-item{
		padding: .928571rem 2.142857rem 1.785714rem;
		@extend .d-flex;
		&:not(:last-child){
			border-bottom: 1px solid var(--background);
		}
		time{
			margin-right: 25px;
			white-space: nowrap;
			text-align: left;
			span{
				font-size: 3.857143rem;
				line-height: 5.071429rem;
				font-weight: 700;
				display: block;
			}
		}
		.jcard-event-content{
			flex-grow: 1;
			padding-top: .857143rem;
			span{
				font-size: 1rem;
				color: var(--secondary-color);
				display: block;
				margin-bottom: .428571rem;
			}
			h5{
				font-size: 1.142857rem;
				line-height: 1.61em;
				font-weight: 400;
			}
		}
	}
}

// quick links

.jcard-quick-link{
	z-index: 1;
	overflow: hidden;
	.jcard-quick-link-body{
		@extend .d-flex;
		padding-bottom: 1.928571rem;
		padding-left: 2.142857rem;
		padding-right: 2.142857rem;
		.jcard-icon{
			font-size: 80px;
			margin-right: 60px;
			color: var(--link-color);
		}
		.jcard-quick-link-content{
			a{
				font-size: 1.714286rem;
				display: block;
				margin-bottom: .571429rem;
				color: var(--color);
				@extend .stretched-link;
			}
			p{
				margin: 0;
			}
		}
	}
	&::after{
		content: '';
		position: absolute;
		background: var(--link-color);
		width: 300px;
		height: 300px;
		border-radius: 50%;
		left: -150px;
		top: -50px;
		z-index: -1;
		opacity: .15;
	}

	&.j-warning{
		.jcard-quick-link-body .jcard-icon{
			color: var(--warning-color);
		}
		&::after{
			background: var(--warning-color);
		}
	}

	&.j-success{
		.jcard-quick-link-body .jcard-icon{
			color: var(--success-color);
		}
		&::after{
			background: var(--success-color);
		}
	}

	&.j-danger{
		.jcard-quick-link-body .jcard-icon{
			color: var(--danger-color);
		}
		&::after{
			background: var(--danger-colorcolor);
		}
	}

}
