// Edit Form

.title-alias, .form-title-wrap {
	.control-group {
		position: relative;
	}

	.form-control-feedback {
		text-align: left;
		position: absolute;
		bottom: -1.4rem;
		font-size: .9rem;
	}
}

.layout-edit {
	.control-group {
		min-width: (100% / 3);
	}
}
