//TinyMCE editor

.js-editor-tinymce {
    &.joomla-tinymce-hide-menu {
        .tox-menubar {
            display: none;
        }
        .tox {
            .tox-toolbar {
                border: none;
            }
        }
    }
    .tox {
        .tox-tbtn {
            margin: 10px 0;
            &:hover,
            &:focus {
                background: var(--primary-lighter-color);
            }
            svg {
                fill: var(--icon-color);
                &.toggle-elipsis {
                    fill: var(--success-color);
                    &:hover {
                        fill: var(--success-color);
                    }
                }
            }
            &:hover,
            &:focus,
            &:active {
                svg {
                    fill: var(--success-color);
                }
            }
        }
        .tox-mbtn{
            &.tox-mbtn--active,
            &:hover:not(:disabled),
            &:focus:not(:disabled){
                color: var(--primary-color);
                background: var(--primary-lighter-color);
            }
        }
        .tox-toolbar__group:not(:last-of-type),
        .tox-edit-area {
            border-color: var(--bg-color);
        }
        .tox-toolbar {
            background: url("data:image/svg+xml;charset=utf8,%3Csvg height='54px' viewBox='0 0 40 54px' width='40' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0' y='38px' width='100' height='1' fill='%23edf0f5'/%3E%3C/svg%3E") left 0 top 16px #fff;
            border-top: 0;
            .tox-tbtn__select-label {
                color: var(--icon-color);
            }
        }
    }
    .tox-tinymce {
        border-radius: 3px;
        box-shadow: 0 1px 1px 0 rgba(94, 114, 124, 0.05), 0 1px 0 0 rgba(94, 114, 124, 0.03);
        border-color: var(--bg-color);
        border-width: 0 1px 1px;
        border-style: solid;
    }
}

div {
    &.tox {
        .tox-collection--list {
            .tox-collection__group {
                border-color: var(--bg-color);
            }
            .tox-collection__item--active {
                color: var(--primary-color);
                background-color: var(--primary-lighter-color);
            }
        }
        .tox-menu {
            border-color: #eaeef5;
            box-shadow: 0 30px 60px -10px rgba(0,28,73,.15);
        }
        .tox-statusbar {
            border-color: var(--bg-color);
            height: 30px;
            button {
                color: var(--icon-color);
            }
        }
    }
    .joomla-editor-tinymce {
        border-color: var(--input-border-color);
        border-top: 0;
    }
}
