// Global

html {
  height: 100%;
  font-size: 14px;
}

body {
   min-height: 100%;
   font-family: "Helvetica Neue", "Segoe UI", "SF Pro Text", "SF Pro Display", "SF UI Text", "SF UI Display", "Roboto", "Noto Sans", "Droid Sans", "Ubuntu","Oxygen", "Fira Sans", -apple-system, BlinkMacSystemFont, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
   text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color);
  text-align: left;
  background-color: var(--background);
  padding: 0;
  margin: 0;
  &.monochrome {
    filter: grayscale(1);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $font-weight-bold;
}

h1 {
  font-weight: $font-weight-normal;
}

// small,
// .small {
//   font-size: $font-size-sm;
// }

legend {
  font-size: 1.2rem;
  font-weight: $font-weight-bold;
}

// focus-visible polyfill rule
.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

// Default focus highlighting
a,
button,
input,
textarea {

  &.focus-visible {
  outline: solid 2px var(--primary-color);
  }
}

a {
  text-decoration: none;
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}

// Break up text in cells to prevent overflow
.break-word {
  word-break: break-all;
  word-wrap: break-word;
}

.content {
  font-size: $display1-size;
}

caption {
	font-size: 12px;
}

.logo {

  img path {
    fill: var(--atum-text-dark);
  }
}

.container-main,
.system-debug {
  padding-bottom: 50px;
}

body .container-main {
  position: relative;
  min-height: calc(100vh - #{$header-height} - 3px);
  padding-top: 60px;
}

.content {
  padding-top: 15px;
  border-radius: $border-radius;

  > .row {
    margin-right: 0;
    margin-left: 0;
  }

  .subhead + & {
    padding-top: 0;
  }
}

.row-selected {
  background-color: var(--tr-hover-background);
}

// Chosen (TEMPORARY)
.chzn-container-single {
  width: auto !important;
}

// Multilingual associations specific
.item-associations {
  padding: 0;
}

.item-associations li {
  display: inline-block;
  list-style: none;
}

// Quickicon specific
.message-alert {
  text-align: right !important;
}

// Fadeeffect for login page
.load-fadein {
  @include fadein-page;
}

.load-fadeout {
  @include fadeout-page;
}

// Fix blinking of fade effect
.container-main.fade-done > * {
  opacity: 1;
}

.sidebar-wrapper.fade-done > * {
  opacity: 1;
}

// dashboard items
.menu-quicktask,
.menu-badge {
  float: right;
  min-width: 1rem;
}

#wrapper{
  &.d-flex{
    @include media-breakpoint-down(xs){
      display:block !important;
    }
  }
}
.text-muted{
  color: var(--atum-text-dark);
}

.cpanel-help .card-columns,
.cpanel-system .card-columns {
  @include media-breakpoint-up(md) {
    column-count: 3;
  }
}
.card-columns {
  @include media-breakpoint-up(md) {
    column-count: 2;
  }
}
.form-title-wrap{
  label{
    color: var(--color);
    font-size: 1rem;
  }
  input{
    color: var(--color);
    background: var(--inverse-color);
    font-size: 1.15rem;
    height: 3.4rem;
    padding-left: 1.7rem;
    padding-right: 1.7rem;
  }
}
.form-inline-group{
  .control-group{
    padding-left: 1.07rem;
    @extend .d-flex;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.15);
    background: var(--inverse-color);
    border-radius: 3px;
    transition: .3s;
    font-size: 1rem;
    min-height: 40px;
    .control-label{
      width: auto;
      border-right: 1px solid var(--page-background);
      padding-right: 35px;
      flex: 0 0 90px;
      max-width: 90px;
      @extend .d-flex;
      @extend .align-items-center;
      &.sr-only{
        position: initial;
        margin: 0;
        height: auto;
      }
    }
    .controls{
      flex: 1;
      padding-left: 25px;
      margin-left: 0;
      color: var(--color);
      @include media-breakpoint-down(lg){
        padding-left: 0;
      }
      .choices{
        &,
        .choices__inner{
          height: 100%;
        }
      }
      input, select{
        height: 100%;
        border-width: 1px;
        &:focus, &:active{
          border-color: var(--primary-color);
        }
      }
      select{
        color: var(--color);
        background: transparent;
        border-color: transparent;
        -webkit-appearance: menulist-button;
        -moz-appearance: menulist-button;
        appearance: menulist-button;
        padding-right: 15px;
        @include media-breakpoint-down(lg){
          padding-right: 0;
        }
      }
      .switcher__legend{
        display: none;
      }
      .switcher{
        padding-top: 6px;
        label{
          color: var(--color);
        }
      }
    }
  }
  .field-calendar{
    &,.input-group,
    input{
      height: 100%;
    }
    >.input-group{
      input{
        border-color: transparent;
        background: transparent;
        &:active,
        &:focus {
          border-color: var(--primary-color);
        }
      }
    }
  }
  .choices{
    .choices__inner{
      border-color: transparent;
      border-width: 1px;
    }
  }
}
.alias-wrap{
  margin-bottom: 15px;
  border-bottom: 1px solid var(--background);
  padding-bottom: 10px;
  max-width: 100%;
  @extend .d-flex;
  @extend .align-items-center;
  @extend .justify-content-between;
  .alias-text{
    @extend .d-flex;
    @extend .align-items-center;
    margin: 0;
    .control-label{
      min-width: 110px;
    }
    .controls{
      color: var(--color);
    }
  }
  #remove-edit,
  #edit-alias{
    color: var(--button-border-color);
    font-size: 12px;
    
  }
  .alias-edit{
    display: none;
    .control-group{
      margin-bottom: 0;
      .control-label{
        min-width: 90px;
      }
      .controls{
        input{
          padding-right: 2.2rem;
          width: 100%;
        }
      }
    }
    .control-group{
      @extend .d-flex;
      @extend .align-items-center;
    }
  }
  #remove-edit{
    display: none;
    position: absolute;
    right: 30px;
  }
  &.active{
    #edit-alias,
    .alias-text{
      display: none !important;
    }
    #remove-edit,
    .alias-edit{
      display: block;
    }
  }
}
.tags-group{
  .tags-label{
    color: var(--color);
    margin-bottom: 10px;
  }
  .choices{
    .choices__inner{
      border-color: transparent;
      border-width: 1px;
    }
  }
}
.j-table-responsive{
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.no-boxshadow{
  box-shadow: none !important;
}