// Header

.closed.header{
  padding-left: calc(73px + 2.071rem);
}

.header {
  background: #ffffff;
  box-shadow: 0 1px 1px 0 #eaedf2;
  z-index: $zindex-header;
  color: var(--atum-special-color);
  padding-left: $sidebar-width;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  transition: .3s ease;
  
  .header-title {
    flex-grow: 1;
    .d-flex:last-child {
      max-width: calc(100% - #{$sidebar-width});

      @include media-breakpoint-down(md) {
        max-width: calc(100% - #{$sidebar-width-closed});
      }
    }

    .container-title {
      width: 100%;
    }

    @include media-breakpoint-down(xs) {
      width: 100%;
    }
  }

  .logo {
    display: inline-block;
    line-height: $header-height;
    width: $sidebar-width;
    transition: width .3s ease;

    &.small {
      width: $sidebar-width-closed;
      transition: width .3s ease;

      svg, img {

        &:not(.logo-small) {
          display: none;
        }

        &.logo-small {
          display: inline-block;
        }
      }
    }

    svg, img {
      margin-left: 0.8rem;
      max-height: 1.3rem;
      max-width: calc(15.625rem - 0.8rem);

      &.logo-small {
        display: none;
        max-width: 1.3rem;
      }
    }
    svg {
      height: 1.3rem;
    }
  }

  .page-title {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    font-size: 1.2rem;
    line-height: $header-height;
    color: var(--atum-special-color);

    [class^='icon-'] {
      margin-right: 0.625rem;
      font-size: 1rem;
    }
  }

  .header-items {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .header-item {
    position: relative;
    &:not(:last-child){
      border-right: 1px solid var(--background);
    }
  }
  
  .header-item-content{
    .header-item-link,
    .header-dropdown-button{
      display: flex;
      border: none;
      padding: 0 2.107rem;
      align-items: center;
      height: 60px;
      img{
        height: 32px;
        width: 32px;
        border-radius: 50%;
        margin-right: 0.714rem;
        display: inline-block;
      }
      span.header-user-name{
        display: inline-block;
        margin-right: 0.871rem;
      }
  
      span.header-user-icon{
        font-size: 22px;
        display: inline-block;
        margin-right: 6px;
      }
    }
    
    .header-item-link{
      font-size: 1.143rem;
      color: var(--color);
      transition: .2s ease-in;
      span.header-item-icon{
        color: var(--link-color);
        display: inline-block;
        padding-left: 0.714rem;
      }
      &:hover{
        color: var(--link-color);
        text-decoration: none;
      }
    }
    
  }

  .fa, .fab {
    //font-size: 1.2rem;
    vertical-align: middle;
    transition: all .2s ease-in-out;
  }
  
  .header-profile{
    position: relative;
    &:hover{
      .header-dropdown-items{
        opacity: 1;
        visibility: visible;
      }
    }
  }
  
  .header-dropdown-items{
    position: absolute;
    right: 14px;
    top: 100%;
    z-index: 9999;
    box-shadow: $atum-box-shadow;
    border-radius: 3px;
    background: #fff;
    width: 300px;
    opacity: 0;
    visibility: hidden;
    transition: 300ms;
    .header-dropdown-item{
      a{
        color: var(--color);
        padding: 13.5px 17px;
        line-height: 25px;
        display: flex;
        align-items: center;
        transition: 300ms;
        font-size: 1.143rem;
        span{
          margin-right: 16px;
          color: var(--icon-color);
          font-size: 25px;
        }
        &:hover{
          color: var(--link-color);
          text-decoration: none;
          span{
            color: var(--link-color);
          }
        }
      }
    }
    
    .header-dropdown-footer{
      border-top: 1px solid var(--background);
      a{
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8.5px;
        color: var(--color);
        transition: 300ms;
        span{
          color: var(--secondary-icon-color);
          margin-left: 14px;
          display: inline-block;
        }
        &:hover{
          color: var(--link-color);
          text-decoration: none;
          span{
            color: var(--link-color);
          }
        }
      }
    }
  }

  .dropdown-menu {
    //min-width: 17.5rem;
    //padding: 0;
    //z-index: 1041;
  }

  .badge {
    //position: absolute;
    //left: 50%;
    //top: 0.4rem;
    //margin-left: 0.8rem;
  }

  .align-items-end {
    min-height: 2rem;
  }

  a[target="_blank"]::before {
    display: none;
  }

  .dropdown-menu {
    //z-index: $zindex-popover;
    //min-width: 18rem;
    //background-color: var(--atum-bg-dark-70);

    &.icons-left .dropdown-item {
      a {
        //padding-left: 0;
      }
    }

    .dropdown-header {
      //color: $white;
      //background-color: var(--atum-bg-dark);
      //box-shadow: $atum-box-shadow;
      //font-size: inherit;
      //padding: 1rem 0.75rem;
    }
  }

  .dropdown-item {
    //color: $white;
    //background-color: var(--atum-bg-dark-70);
    //padding: 0;

    a {
      //display: inline-block;
      //width: 100%;
      //color: var(--atum-text-light);
      //padding-left: 0.75rem;
      //line-height: 3;

      &:hover {
        //text-decoration: none;
        //background: var(--atum-bg-dark);
      }
    }

    .fa {
      //padding: 1rem;
      //width: 3rem;
    }
  }
}
