// Header

.closed {
  .logo-header {
    min-width: 73px;
    max-width: 73px;
  }
  .main-nav-container {
    width: 73px;
  }
}

.header {
  background: #ffffff;
  z-index: $zindex-header;
  color: var(--atum-special-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  transition: .3s ease;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: 0 1px 4px 0 rgba(209,213,223,.5);
  @include media-breakpoint-down(xs){
    padding-left: 0;
    max-width: 100%;
    overflow: hidden;
  }
  .header-title {
    flex-grow: 1;
    .d-flex {
      padding-left: 30px;
      padding-right: 30px;
    }
    .container-title {
      width: 100%;
    }
    @include media-breakpoint-down(xs) {
      width: 100%;
    }
  }

  .logo {
    display: inline-block;
    transition: width .3s ease;

    &.small {
      width: $sidebar-width-closed;
      transition: width .3s ease;

      svg, img {

        &:not(.logo-small) {
          display: none;
        }

        &.logo-small {
          display: inline-block;
        }
      }
    }

    svg, img {
      margin-left: 0.8rem;
      max-height: 1.3rem;
      max-width: calc(15.625rem - 0.8rem);

      &.logo-small {
        display: none;
        max-width: 1.3rem;
      }
    }
    svg {
      height: 1.3rem;
    }
  }

  .page-title {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    font-size: 1.2rem;
    line-height: $header-height;
    color: var(--atum-special-color);

    [class^='icon-'] {
      margin-right: 0.625rem;
      font-size: 1rem;
    }
  }

  .header-items {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .header-item {
    position: relative;
    &:not(:last-child){
      border-right: 1px solid var(--background);
    }
  }
  
  .header-item-content{
    line-height: 60px;
    joomla-dropdown,
    joomla-callout {
      line-height: 1;
    }
    .joomlaversion {
      line-height: 60px;
      .align-items-end {
        margin-right: .5rem;
      }
      margin-right: 1rem;
    }
    .btn {
      &.btn-link {
        &:focus,
        &:focus:active,
        &:not(:disabled):not(.disabled):active:focus{
          box-shadow: none;
        }
      }
    }
    .header-item-link,
    .header-dropdown-button{
      display: flex;
      border: none;
      padding: 0 2.107rem;
      align-items: center;
      line-height: 59px;
      background-color: #fff;
      img{
        height: 32px;
        width: 32px;
        border-radius: 50%;
        margin-right: 0.714rem;
        display: inline-block;
      }
      span.header-user-name{
        display: inline-block;
        margin-right: 0.871rem;
      }
  
      span.header-user-icon{
        font-size: 22px;
        display: inline-block;
        margin-right: 6px;
      }
    }
    
    .header-item-link{
      font-size: 1.143rem;
      color: var(--color);
      transition: .2s ease-in;
      span.header-item-icon{
        color: var(--link-color);
        display: inline-block;
      }
      
      span + span{
        padding-left: 0.714rem;
      }
      
      &:hover{
        color: var(--link-color);
        text-decoration: none;
      }
    }
    
  }

  .fa, .fab {
    vertical-align: middle;
    transition: all .2s ease-in-out;
  }

  joomla-dropdown[expanded] {
    z-index: $zindex-popover;
  }
}
