//Custom article table
table.j-list-table {
    border-collapse:separate; 
    border-spacing: 0 10px;
    background-color: transparent;
    color: var(--inverse-background);
    td,
    th {
        border:none;
        padding: 5px 1rem;
        vertical-align: middle;
    }
    
    td.icon-1p5x, th.icon-1p5x {
        font-size: 20px;
    } 
    
    thead {
        border-spacing: 0;
        td,
        th {
            border:none;
            padding-bottom: 0;
            font-size: 1rem;
        }
        a{
            color: var(--table-sort-color);
            font-weight: $normal-weight;
            text-decoration: none;
            &#sorted{
                color: var(--primary-color);
                font-weight: $normal-weight;
                .icon-chevron-down,
                .icon-chevron-up{
                    color: var(--primary-color);
                }
            }
        }
    }
    tbody{
        tr{
            background: #fff;
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15);
            transition: .35s;
            border-radius: 3px;
            &.gu-mirror {
                background-color: var(--tr-hover-background);
                box-shadow: 10px 20px 40px -5px rgba(0, 28, 73, 0.25);
                position: relative;
                z-index: 1;
            }
            &:active,
            &:focus,
            &:hover {
                background-color: #fff;
                box-shadow: none;
            }
            td:first-child { 
                border-top-left-radius: 3px; 
            }
            td:last-child { 
                border-top-right-radius: 3px; 
            }
            td:first-child { 
                border-bottom-left-radius: 3px; 
            }
            td:last-child { 
                border-bottom-right-radius: 3px; 
            }
            .j-article-id-number{
                font-weight: $medium-weight;
                font-size: 1rem;
            }
            .has-context {
                .break-word {
                    .small.break-word{
                        color: var(--secondary-color);
                        font-size: 1rem;
                    }
                }
            }
            th,
            td {
                a {
                    
                    color: var(--inverse-background);
                    font-weight: $normal-weight;
                    text-decoration: none;
                    color: var(--inverse-background);
                    &:not(.badge) {
                        text-decoration: none;
                    }
                    &:hover,
                    &:focus,
                    &:active{
                        color: var(--primary-color);
                        text-decoration: underline;
                    }
                }
            }

            .custom-select {
                padding: 0;
                border: 0;
                box-shadow: none;
                color: var(--success-color);
                width: 110px;
                option[selected],
                option:checked,
                option:hover {
                    background: var(--success-color);
                    color: #fff;
                }
                &[data-color="danger"] {
                    color: var(--danger-color);
                }
                &[data-color="primary"] {
                    color: var(--icon-color);
                }
                &[data-color="warning"] {
                    color: var(--warning-color);
                }
            }
            .badge.badge-info {
                border: none;
                background-color: transparent;
                color: var(--inverse-background);
                margin: 0;
                padding: 0;
                font-size: 1rem;
            }
        }
    }
}