#content{
  form{
    .name{
      &.break-word{
        word-break:break-word;
      }
    }
  }
}

.j-list-limit {
  @extend .d-flex;
  @extend .align-items-center;
}
.j-list-limit-label {
  margin-right: 1rem;
  color: var(--secondary-text-color);
}
