// Login page

.view-login {
  position: relative;
  background-color: var(--link-color) ;
  &:before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    right:0;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.3), transparent);
    z-index: -1;
  }
  .container-main {
    z-index: 10;
    @include media-breakpoint-down(sm) {
      min-height: calc(100vh - 35vh);
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      display: flex;
    }

    #content {

      @include media-breakpoint-down(sm) {
        padding: 0;
        max-width: 98%;
      }
    }
    a[target=_blank]:before{
      display: none;
    }
  }
  .main-wrap{
    display: -ms-flexbox;
    display: flex;
    border-radius: 3px;
    box-shadow: 20px 30px 60px -10px rgba(0, 28, 73, 0.3);
    max-width: 860px;
    width: 100%;
    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
    .main-sidebar{
      background: var(--color);
      flex: 0 0 43%;
      max-width: 43%;
      padding: 4.2rem 2rem 2rem 2rem;
      color: var(--inverse-color);
      border-radius: 3px 0px 0px 3px;
      @include media-breakpoint-down(sm) {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 1.2rem;
        margin-top: 30px;
        border-radius: 3px 3px 0 0;
      }
      .main-brand{
        display: flex;
        height: 100%;
        flex-direction: column;
      }
    }
    .main-greetings{
      margin-top: 1.7rem;
      margin-bottom: 3.5rem;
      @include media-breakpoint-down(sm) {
        margin-bottom: 1rem;
      }
      h3{
        font-weight: 500;
      }
    }
    .main-informations{
      text-align: left;
      opacity: 0.8;
      >ul{
        padding: 0;
        >li{
          display: flex;
          align-items: baseline;
          &:not(:last-child){
            margin-bottom: 1.2rem;
            @include media-breakpoint-down(sm) {
              margin-bottom: .3rem;
            }
          }
          &:before {
            content: "\f058";
            font: normal normal normal 14px/1 Font Awesome\ 5 Free;
            margin-right: 10px;
            opacity: 0.3;
          }
        }
      }
    }
    .main-informations+.module-wrapper{
      margin-top: auto;
      flex: initial;
      padding: 0;
    }
    .main-brand-logo{
      min-width: 50px;
    }
    .loginsupport{
      font-weight: 500;
      a{
        &:hover, &:focus{
          color: var(--inverse-color);
        }
      }
      >ul{
        display: flex;
        margin: 0;
        >li{
          display: flex;
          align-items: center;
          &:not(:last-child){
            margin-right: 5px;
          }
          &:before {
            content: "";
            width: 7px;
            height: 7px;
            opacity: 0.5;
            background-color: var(--link-color);
            float: left;
            border-radius: 10px;
            margin-right: 5px;
          }
        }
      }
    }
    .login{
      flex: 0 0 57%;
      max-width: 57%;
      padding: 3.2rem 6.4rem;
      border-radius: 0px 3px 3px 0px;
      @include media-breakpoint-down(sm) {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 1.2rem;
        border-radius: 0 0 3px 3px;
      }
      .main-brand>h3{
        font-size: 1.72rem;
        text-align: center;
        font-weight: normal;
        margin-bottom: 4rem;
        color: var(--color);
        @include media-breakpoint-down(sm) {
          font-size: 1.2rem;
          margin-bottom: 1rem;
        }
      }
      a{
        color: var(--icon-color);
        &:hover, &:focus{
          color: var(--link-color);
          text-decoration: none;
        }
      }
    }
    .module-wrapper{
      >.card{
        background: transparent;
        box-shadow: initial;
      }
    }
  }
  .login-bg-grad {
    position: fixed;
    z-index: $zindex-negative;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(45deg,
            rgba(var(--atum-bg-dark), .9) 30%,
            rgba(color("atum-bg-light"), .2) 100%);
  }

  .login-initial {
    display: none;
  }

  .login-logo {
    width: 200px;
    margin: 0 auto 2rem;
    text-align: center;

    @include media-breakpoint-down(sm) {
      margin: 1rem 0;
    }
  }

  .login {
    background: var(--white);
    padding: 15px;
    color: var(--atum-text-dark);

    img {
      height: 4.4rem;
      padding: 15px;
    }

    #form-login {

      .form-group {
        position: relative;
        margin-bottom: 1.85rem;
        @include media-breakpoint-down(sm) {
          margin-bottom: 1rem;
        }

        .form-control-feedback {
          text-align: right;
          position: absolute;
          bottom: -1.1rem;
          right: 0;
          font-size: 0.75rem;
        }
      }

    }
  }

  .input-password-toggle {
    border: none;
    padding: 0;
    line-height: 1;
  }

  .login-box {
    background: var(--login-main-bg);
    box-shadow: 0 0 20px var(--atum-bg-dark);

    a {
      color: $white;
    }
  }

  .form-group {

    label {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;

      span {
        font-size: .9rem;

        @include media-breakpoint-down(xs) {
          width: 100%;
        }

        &.text-right {
          color: var(--atum-special-color);
          font-size: .75rem;
        }
      }
    }
  }
  .input-group{
    background-color: var(--input-background-color);
  }

  h1 {
    margin: 0;
    text-align: center;
    color: var(--atum-special-color);
    font-weight: bold;
    padding-bottom: 1rem;
  }

  .btn {

    @include media-breakpoint-only(xs) {
      padding: 8px 10px;
      font-size: 14px;
    }
  }

  .form-control,
  .custom-select {
    max-width: none;
  }

  #sidebar-wrapper {

    @include media-breakpoint-down(sm) {
      order: 2;
    }

    #main-brand {

      a {
        font-size: .875rem;
      }
    }

    .card-header {
      font-size: 1.125rem;
    }
  }

  #sidebar {
    color: var(--atum-text-light);
    width: 100%;
    text-align: center;
    align-self: flex-end;
    font-size: 0.875rem;

    .card {
      background: var(--atum-bg-dark);
      box-shadow: none;

      .module-body {
        padding: .75rem 1.25rem;
      }
    }

    @include media-breakpoint-down(sm) {
      position: relative;
      bottom: 0;
    }
  }

  .container-main,
  .sidebar-wrapper {

    @include media-breakpoint-down(sm) {
      max-width: 100% !important;
      flex: 1 0 100% !important;
    }
  }

  .d-flex {

    @include media-breakpoint-down(sm) {
      flex-wrap: wrap;
      display:flex !important;
    }
  }

  .header{
    .logo{
      &.small{
        line-height: 2.5rem;
      }
    }
  }
}

label {
  color: var(--secondary-color);
}

.com_login .sidebar-wrapper .main-brand {
  margin-top: 100px;
  color: var(--atum-text-light);
  text-align: center;
  flex: 1;
  flex-basis: auto;

  @include media-breakpoint-down(sm) {
    margin-top: 10px;
  }
}

.com_login .sidebar-wrapper #sidebar p {
  margin-bottom: 0.2rem;
}

.com_login .sidebar-wrapper .main-brand h1,
.com_login .sidebar-wrapper .main-brand a,
.com_login .sidebar-wrapper #sidebar,
.com_login .sidebar-wrapper #sidebar a {
  color: var(--atum-text-light);
}

.view-login{
  #wrapper.d-flex{
      @include media-breakpoint-down(sm) {
        display:flex !important;
     }
  }

  #sidebar-wrapper:not(.show):not(.collapse){
    @include media-breakpoint-down(sm) {
      display:block;
    }
  }

 .invalid .form-control-feedback {
    color: theme-color("danger");
  }
}
