//Media Manager Style
//Media action popup style mixin
@mixin media-popup-action ($width, $pad1, $pad2) {
    display: block;
    position: absolute;
    right: 0;
    top: 25px;
    width: $width;
    background: var(--inverse-color);
    border-radius: 3px;
    box-shadow: 0 30px 60px -10px rgba(0, 28, 73, 0.15);
    border: solid 1px #eaeef5;
    padding: $pad1 $pad2;
}
//Progress bar style
.joomla-progress {
    background: #f1f8ec;
    @extend .d-flex;
    height: 6px;
    overflow: hidden;
    font-size: .75rem;
    border-radius: .25rem;
    border: 1px solid var(--success-color);
    width: 100%;
    margin-left: 15px;
    .joomla-progress-bar {
        background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
        background-size: $display1-size $display1-size;
        @extend .d-flex;
        @extend .flex-column;
        @extend .justify-content-center;
        color: var(--inverse-color);
        text-align: center;
        white-space: nowrap;
        background-color: var(--success-color);
        transition: width .6s ease;
    }
}

//Custom Design for modal

.joomla-recent-uploaded-media {
    color: var(--inverse-background);
    max-height: 300px;
    overflow-y: scroll;
    .joomla-recent-uploaded-media-item {
        @extend .d-flex;
        @extend .align-items-center;
        @extend .justify-content-between;
        position: relative;
        border-bottom: 1px solid rgba(0, 0, 0, .15);
        padding: 20px 0px;
        &:last-child {
            border: none;
        }
        .joomla-progress-container {
            width: 205px;
            @extend .d-flex;
            @extend .align-items-center;
            margin-right: 15px;
            span {
                padding-left: 15px;
                color: var(--secondary-color);
            }
        }
        .joomla-recent-upload-file {
            @extend .d-flex;
            @extend .align-items-center;
            span {
                &:first-child {
                    margin-right: 10px;
                }
                &.joomla-image-item {
                    background: url(../images/files-icon-picture.svg);
                    width: 25px;
                    height: 30px;
                }
                &.joomla-media-item {
                    background: url(../images/files-icon-music.svg);
                    width: 25px;
                    height: 30px;
                }
                &.joomla-docs-item,
                &.joomla-file-item {
                    background: url(../images/files-icon-docx.svg);
                    width: 25px;
                    height: 30px;
                }
            }
        }
        .joomla-upload-complete {
            @extend .d-flex;
            @extend .align-items-center;
            i {
                color: var(--success-color);
                font-size: 1.15rem;
            }
            span {
                padding-left: 5px;
                color: var(--secondary-color);
            }
        }
        .joomla-file-upload-cancel-btn{
            color: var(--secondary-color);
            text-decoration: none;
        }
        .joomla-media-upload-error {
            i {
                color: var(--danger-color);
                font-size: 1.15rem;
            }
            span {
                padding-left: 5px;
                color: var(--danger-color);
            }
        }
        .joomla-file-remove-btn {
            border-radius: 3px;
            border: solid 1px var(--secondary-icon-color);
            color: var(--secondary-color);
            text-decoration: none;
            line-height: 1.9rem;
            padding-right: 23px;
            padding-left: 5px;
            @extend .d-flex;
            @extend .align-items-center;
            transition: .35s;
            &:hover {
                border-color: var(--danger-color);
                background-color: var(--danger-color);
                color: var(--inverse-color);
                i {
                    color: var(--inverse-color);
                }
            }
            i {
                color: var(--secondary-icon-color);
                font-size: 1.15rem;
                line-height: 1;
                display: inline-block;
                margin-right: 14px;
                transition: .35s;
            }
        }
    }
}

//Media manager container
.media-main {
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
}
.media-toolbar {
    background-color: var(--inverse-color);
    border-bottom: none;
    border-radius: 0;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
}
.media-browser-item-file,
.media-browser-item-directory,
.media-browser-image {
    border-radius: 3px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15);
    background-color: var(--inverse-color);
    position: relative;
    margin: 0 0 0 15px;
}
.file-background,
.folder-background {
    background-color: transparent;
    border-radius: 0;
    padding-bottom: 80%;
}
.image-background{
    background: none;
}
.media-browser-item-preview {
    color: #93ceff;
    position: relative;
    font-size: $display1-size;
    &::after {
        display: none;
    }
    &:hover {
        .media-item-preview {
            opacity: 1;
            visibility: visible;
        }
    }
    .media-item-preview {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, .5);
        @extend .d-flex;
        @extend .align-items-center;
        @extend .justify-content-center;
        transition: .35s;
        opacity: 0;
        visibility: hidden;
    }
}
.media-browser-select{
    position: absolute;
    top: auto;
    left: auto;
    width: 20px;
    height: 20px;
    content: initial;
    background-color: var(--secondary-icon-color);
    border: 0;
    border-radius: 0.25rem;
    box-shadow: none;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    right: 4px;
    bottom: 4px;
    text-align: center;
    line-height: 1;
    &::after {
        position: absolute;
        top: -2px;
        left: 0;
        width: 16px;
        height: 16px;
        font-family: "Font Awesome 5 Free";
        font-size: 1.3rem;
        line-height: 1;
        text-align: center;
        content: "\F00C";
        opacity: 1;
        transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        color: var(--inverse-color);
        margin: auto;
        right: 0;
        bottom: 0;
        transform: scale(.6);
    }
}
.selected {
    .media-browser-select {
        color: var(--inverse-color);
        box-shadow: none;
        background-color: var(--primary-color);
        &::after {
            transform: scale(.6);
        }
    }
}
.media-browser-item-info {
    padding: 1.08rem 3.3rem 1.06rem 1.08rem;
    overflow: hidden;
    font-size: $display1-size;
    line-height: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--inverse-background);
}
.media-browser-actions {
    position: absolute;
    top: 7px;
    right: 12px;
    padding: 0;
    overflow: visible;
    z-index: 10;
    > button{
        opacity: 1;
    }
    &.active {
        > button {
            display: block;
        }
        .image-browser-action.fa-ellipsis-h {
            color: var(--primary-color);
        }
    }
}
.media-browser-actions-list {
    @include media-popup-action(200px, 7px, 0px);
    ul {
        columns: initial;
        li {
            display: block;
            button {
                width: 100%;
                text-align: left;
                margin: 0;
                padding: 0 10px;
                border-bottom: 1px solid rgba(234, 238, 245, .5);
                color: var(--secondary-color);
                &:hover {
                    color: var(--primary-color);
                    background-color: var(--button-background);
                    .image-browser-action { 
                        color: var(--primary-color);
                    }
                }
            }
            &:last-child {
                button {
                    border-bottom: 0;
                }
            }
        }
    }
    .image-browser-action {
        width: auto;
        height: auto;
        margin-right: 5px;
        &::before {
            font-size: $display1-size;
        }
    }
}

//Media info popup
.media-infobar-popup {
    @include media-popup-action(285px, 25px, 20px);
    ul {
        columns: initial;
        li {
            padding: 5px 0;
            @extend .d-flex;
            @extend .justify-content-between;
            border-bottom: 1px solid var(--background);
            .media-info-title {
                color: var(--secondary-color);
                flex: 0 0 50%;
            }
            .media-info-details {
                flex: 0 0 50%;
            }
            &:last-child {
                border: 0;
            }
        }
    }
    .infobar-close {
        padding: 0 10px;
        font-size: 2rem;
        line-height: 1;
        color: #ccc;
    }
}
.image-browser-action {
    width: calc(1.3rem * 1.55);
    height: calc(1.3rem * 1.55);
    margin-right: 0;
    margin-left: 0;
    color: var(--secondary-icon-color);
    text-align: center;
    cursor: pointer;
    background-color: transparent;
    border-radius: 0;
    transition: .35s;
    &:hover {
        color: var(--primary-color);
        background-color: transparent;
    }
}
.file-icon, .folder-icon{
    color: #93ceff;
    font-size: 4.3rem;
}
.action-delete {
    .image-browser-action {
        background-color: transparent;
    }
}
.image-cropped {
    padding-bottom: 80%;
    background-size: 100%;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.media-toolbar-icon {
    @extend .d-flex;
    @extend .align-items-center;
    @extend .justify-content-center;
    width: 68px;
    border-left: none;
    box-shadow: none;
    &:hover {
        background-color: transparent;
    }
    @include media-breakpoint-down(xs) {
        width: 50px;
    }
}
.media-view-icons {
    border-left: 1px solid var(--media-border);
}
.media-toolbar-zoom-btn,
.media-toolbar-view-type {
    @extend .d-flex;
    @extend .align-items-center;
    .media-toolbar-icon {
        padding: 0;
        width: 30px;
        height: 30px;
        color: var(--secondary-icon-color);
        display: inline-block;
        line-height: 30px;
        transition: .35s;
        &.media-toolbar-decrease-grid-size,
        &.media-toolbar-grid-view {
            border-color: #ccd3d7;
            border-style: solid ;
            border-width: 1px 1px 1px 1px;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
        }
        &.media-toolbar-increase-grid-size,
        &.media-toolbar-list-view{
            border-color: #ccd3d7;
            border-style: solid ;
            border-width: 1px 1px 1px 0;
            margin-right: 15px;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
        }
    }
    .media-toolbar-decrease-grid-size,
    .media-toolbar-increase-grid-size {
        &:hover {
            background-color: var(--secondary-color);
        }
    }
    &.grid-active {
        .media-toolbar-grid-view {
            background-color: var(--secondary-color);
        }
    }
    &.list-active {
        .media-toolbar-list-view {
            background-color: var(--secondary-color);
        }
    }
}
.media-toolbar-view-type {
    margin-left: 15px;
}
.media-checkbox {
    width: 22px;
    height: 22px;
    border-radius: 3px;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.05);
    border: solid 1px var(--secondary-icon-color);
    background-color: var(--inverse-color);
    position: relative;
    &.active {
        background-color: var(--primary-color);
        border-color: var(--primary-color);
        box-shadow: none;
        &::after {
            content: "";
            transform: rotate(45deg);
            height: 12px;
            width: 8px;
            border-bottom: 2px solid var(--inverse-color);
            border-right: 2px solid var(--inverse-color);
            position: absolute;
            left: 0;
            right: 0;
            top: -5px;
            bottom: 0;
            margin: auto;
        }
    }
}
//Media searchbox
.media-view-search-input {
    position: relative;
    padding: 0 15px;
    span {
        position: absolute;
        color: var(--icon-color);
        font-size: 1.2rem;
        left: 33px;
    }
}
.media-toolbar {
    input {
        height: 3.45rem;
        padding: .375rem .75rem .375rem 3.4rem;
        width: 20.45rem;
        border-width: 2px;
        &::placeholder{
            color: var(--icon-color);
        }
        @include media-breakpoint-down(md) {
            height: 2.8rem;
            width: 17.45rem;
        }
        @include media-breakpoint-down(xs) {
            width: 8.45rem;
            padding-left: 3rem;
        }
    }
}

//Media drop area
.media-dragoutline {
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px dashed var(--inverse-color);
    border-radius: 0;
    p {
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
        color: $white;
        font-weight: $bold-weight;
        font-size: 3.85rem;
    }
}
.joomla-drop-media-image {
    width: 247px;
    height: 265px;
    background: url(../images/joomla-media-drop.svg) no-repeat center scroll / cover;
    margin-bottom: 60px;
}

//Docker upload
.joomla-docker-panel {
    position: fixed;
    box-shadow: 20px 30px 60px -10px rgba(0, 28, 73, 0.15);
    background: var(--inverse-color);
    width: 550px;
    border-radius: 3px;
    overflow: hidden;
    z-index: 11;
    &.joomla-docker-top-right {
        right: 30px;
        top: 60px;
    }
    &.joomla-docker-top-left {
        left: 30px;
        top: 60px;
    }
    &.joomla-docker-bottom-right {
        right: 40px;
        bottom: 60px;
    }
    &.joomla-docker-bottom-left {
        left: 30px;
        bottom: 60px;
    }
    .joomla-docker-panel-header {
        background: $black;
        color: var(--inverse-color);
        @extend .d-flex;
        padding: 15px 15px 12px;
        .joomla-docker-panel-title {
            flex: 1;
            font-size: 1.145rem;
            line-height: 1;
        }
        .joomla-docker-panel-close-btn,
        .joomla-docker-panel-collapse-btn {
            font-size: 1.15rem;
            line-height: 1;
            display: inline-block;
            margin-left: 5px;
            cursor: pointer;
            &:hover {
                color: rgba($white, .8);
            }
        }
        .disable-btn {
            cursor: not-allowed;
        }
    }
    .joomla-docker-panel-body {
        min-height: 70px;
        transition: height 0.5s linear;
        overflow-y: scroll;
        &.joomla-panel-collapse-in {
            transition: height 0.5s linear;
            min-height: 0;
            max-height: 0;
        }
    }
    .joomla-recent-uploaded-media {
        padding: 0 35px 0 25px;
    }
}
.joomla-recent-uploaded-media-item {
    transition: height 0.5s linear;
    &.joomla-media-upload-success {
        height: 0px;
        transition: height 0.5s linear;
    }
}

//Folder browse breadcrumb style
.media-breadcrumb {
    border-color: var(--media-border);
}
.media-breadcrumb-item {
    background: transparent;
    padding: 0;
    &::before,
    &::after {
        display: none;
    }
    &:last-of-type {
        .media-chevron-icon {
            display: none;
        }
    }
    a {
        color: var(--secondary-color);
        font-size: 1.14rem;
        @extend .d-flex;
        @extend .align-items-center;
        text-decoration: none;
        line-height: 4.9rem;
        @include media-breakpoint-down(xs) {
            line-height: 3.9rem;
        }
        span {
            display: inline-block;
            padding: 0 15px 0 0;
            &.media-folder-icon {
                font-size: 3rem;
                color: #93ceff;
                @include media-breakpoint-down(xs) {
                    font-size: 2rem;
                }
            }
            &.media-chevron-icon {
                padding: 0 15px;
            }
        }
    }
}
.media-infobar {
    top: 68px;
}
//Media listview table

table {
    &.media-browser-table {
        border-collapse:separate; 
        border-spacing: 0 10px;
        background-color: transparent;
        color: var(--inverse-background);
        td,
        th {
            border:none;
            padding: 1rem 0;
            vertical-align: middle;
        }
        
        thead {
            border-spacing: 0;
            tr {
                box-shadow: none;
                background: transparent;
            }
            td,
            th {
                border:none;
                padding-bottom: 0;
                font-size: 1rem;
                color: var(--table-sort-color);
                &.type {
                    border: 0;
                    background: transparent;
                    &::after {
                        display: none;
                    }
                    span {
                        visibility: visible;
                    }
                }
            }
        }
        tr {
            background: var(--inverse-color);
            box-shadow: 0 1px 1px 0 rgba(0,0,0,.15);
            transition: .35s;
            .media-view-icons {
                border: 0;
                display: block;
            }
            td {
                &.type {
                    border: 0;
                    background: transparent;
                    padding: 0 1rem 0 0;
                    line-height: 1;
                    width: 6%;
                    &::before{
                        font-size: 2.5rem;
                        color: #93ceff;
                        line-height: 1;
                    }
                    &::after {
                        display: none;
                    }
                    span {
                        visibility: visible;
                    }
                }
            }
            td:first-child { 
                border-top-left-radius: 3px; 
            }
            td:last-child { 
                border-top-right-radius: 3px; 
            }
            td:first-child { 
                border-bottom-left-radius: 3px; 
            }
            td:last-child { 
                border-bottom-right-radius: 3px; 
            }
        }
        .media-toolbar-icon {
            width: 18px;
            margin-left: 1rem;
        }
        .media-checkbox {
            width: 16px;
            height: 16px;
            &.active {
                &::after {
                    height: 10px;
                    width: 6px;
                    top: -4px;
                }
            }
        }
        .checkmark {
            width: 3%;
        }
    }
}