// Sidebar
.wrapper {
	@include media-breakpoint-down(sm) {
		padding-left: 0;
	}
	
	&.closed {
		a.btn-dashboard {
			display: none
		}
		
		.menu-dashboard {
			display: none;
		}
	}
}

.sidebar-wrapper {
	width: $sidebar-width;
	background-color: #ffffff;
	box-shadow: 0 10px 30px 0 rgba(209, 213, 223, 0.5);
	height: 100vh;
	@include media-breakpoint-up(sm) {
		display: flex;
		flex-direction: column;
		flex: 1 0 $sidebar-width;
		max-width: $sidebar-width;
		// transition: all .3s ease;
	}
	
	@include media-breakpoint-down(xs) {
		&.sidebar-menu {
			/*height: 0;*/
			bottom: 0;
			top: auto;
		}
		&:not(.sidebar-menu) {
			display: flex;
			flex-direction: column;
			flex: 1 0 $sidebar-width;
			max-width: $sidebar-width;
			transition: all .3s ease;
		}
	}
	
	.main-brand {
		padding: 15px;
		margin-top: auto;
	}
	
	.view-login & {
		flex: 1 0 33%;
		max-width: $sidebar-width-login;
		
		&.transit-narrow {
			flex: 1 0 $sidebar-width;
			transition: flex 3s;
			
			@include media-breakpoint-down(sm) {
				@include fadeout-page;
			}
		}
		
		&.transit-narrow-closed {
			flex: 1 0 $sidebar-width-closed;
			transition: flex 3s;
			
			@include media-breakpoint-down(sm) {
				@include fadeout-page;
			}
		}
	}
	
	&.transit-wider {
		flex: 1 0 33%;
		max-width: $sidebar-width-login;
		transition: all 3s;
		
		@include media-breakpoint-down(sm) {
			@include fadein-page;
		}
	}
}

.main-nav-container {
	position: fixed;
	left: 0;
	top: $header-height;
	bottom: 0;
	overflow-y: scroll;
	overflow-x: hidden;
	width: $sidebar-width;
	background-color: #fff;
	@include media-breakpoint-down(xs) {
		width: 100%;
		position: static;
	}
}

.logo-header{
	padding: 0.536rem 2.071rem 0.321rem 1.643rem;
	position: relative;
	color: var(--secondary-color);
	font-size: 0.857rem;
	height: $header-height;
	transition: 300ms;
	min-width: $sidebar-width + 0.050;
	@include media-breakpoint-down(xs) {
		padding-left: 1rem;
		padding-right: 0;
		min-width: 1rem;
		width: 20%;
		display: flex;
		align-items: center;
		padding-top: 0;
	}
	.main-logo{
		svg{
			width: 102px;
			margin-left: 0;
		}
		.logo-small{
			display: none;
			width: auto;
			height: auto;
			padding-left: 6px;
			transition: 300ms;
		}
		
	}
	.sidebar-toggle{
		position: absolute;
		width: 2.071rem;
		height: 100%;
		right: 0;
		top: 0;
		border-left: 1px solid var(--background);
		border-right: 1px solid var(--background);
		background: #ffffff;
		transition: 300ms;
		a{
			height: 100%;
			width: 100%;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			text-decoration: none;
			font-size: 1.143rem;
			transition: 300ms;
		}
	}
	.header-version{
		margin-bottom: 0;
		margin-top: 0.386rem;
		line-height: 1.643rem;
		width: 100%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		position: relative;
		color: var(--secondary-color);
	}
}

.menu-toggle-icon {
	width: $header-height;
	font-size: 1.7rem;
}

// Sidebar navigation
.main-nav {
	opacity: 1;
	margin: 0;
	padding: 0;
	min-height: 100%;
	.divider {
		height: 1px;
		margin: -1px 20px 0;
		background-color: var(--background);
	}
	
	@include media-breakpoint-down(xs) {
		width: 100%;
	}
	
	// All list items
	li {
		list-style-type: none;
		position: relative;
		&.j-help-menu {
			margin-top: auto;
		}
		.menu-quicktask{
			position: absolute;
			top: 7px;
			right: 11px;
			height: 20px;
			width: 20px;
			border-radius: 50%;
			display: inline-block;
			background: var(--background);
			transition: 300ms;
			&:hover{
				background: var(--button-background);
				border-radius: 50%;
			}
			> a{
				padding: 0;
				&:hover{
					background: transparent;
				}
				span{
					line-height: 21px;
					display: block;
					color: var(--link-color);
					font-size: 0.921rem;
					text-align: center;
				}
			}
		}
		
		.menu-dashboard {
			a {
				.fa {
					align-items: flex-start;
				}
			}
		}
		
		.menu-badge{
			float: none;
			> span.system-counter {
				margin: -6px 0 0 !important;
				text-align: center;
				display: inline-block;
				font-size: 6px;
				position: absolute;
				right: 17px;
				top: 50%;
				background: var(--success-color);
				color: #fff !important;
				height: 12px;
				width: 12px;
				line-height: 12px;
				border-radius: 50%;
			}
		}
		
		> ul{
			padding: 0;
			> li > a{
				padding-left: 4.786rem;
				padding-right: 2.357rem;
				.sidebar-item-title{
					margin-left: 0;
				}
			}
			> li:last-child{
				padding-bottom: .500rem;
			}
		}
		
		&.dropdown-submenu > ul{
			> li > a{
				color: var(--secondary-color);
				padding-left: 75px;
				.sidebar-item-title{
					margin-left: 0;
				}
			}
			> li.active a,
			> li a.active,
			> li a:hover{
				color: var(--link-color);
				background: transparent;
			}
		}
		
	}
	
	.sidebar-item-title{
		margin-left: 1.071rem;
	}
	
	// All links
	a {
		position: relative;
		color: var(--color);
		font-size: 1rem;
		line-height: 1.786rem;
		padding-top: 0.393rem;
		padding-bottom: 0.393rem;
		transition: 300ms;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	li > a.active,
	li.active > a{
		color: var(--link-color);
		text-decoration: none;
		background: var(--background);
		&.has-arrow::after{
			color: var(--link-color);
		}
	}
	
	
	a:hover{
		color: var(--link-color);
		&.has-arrow::after{
			color: var(--link-color);
		}
	}
	
	// 1st level items
	> li {
		white-space: nowrap;
		max-width: 100%;
		width: 100%;
		> a {
			display: block;
			padding: 0.857rem 1.643rem 0.857rem 1.500rem;
			line-height: 1.857rem;
			font-size: 1.143rem;
			border-left: 2px solid transparent;
			transition: .3s;
			border-top: 1px solid var(--background);
			> span:first-child{
				position: relative;
				display: inline-block;
				text-align: center;
				vertical-align: top;
				transition: 300ms;
				font-size: 1.429rem;
				line-height: 1.857rem;
				color: var(--secondary-icon-color);
			}
		}
		
		&.active > a,
		> a.active{
			color: var(--link-color);
			background-color: var(--button-background);
			border-top-color: var(--button-background);
			border-left-color: var(--link-color);
			span.fa{
				color: var(--link-color);
			}
			&.has-arrow::after{
				color: var(--link-color);
			}
		}
		
		> a:hover{
			color: var(--link-color);
			text-decoration: none;
			span.fa{
				color: var(--link-color);
			}
			&.has-arrow::after{
				color: var(--link-color);
			}
		}
		
		&:first-child a{
			border-top: none;
		}
		
	}
	
	// 2nd level items
	ul {
		padding: 0;
		width: 100%;
		transition: 200ms;
		li {
			position: relative;
			&.active > a,
			> a.active{
				color: var(--link-color);
			}
		}
		
		a {
			display: block;
		}
		
	}
	
	.collapse {
		display: none;
		
		&.in {
			display: block;
		}
	}
	
	.collapsing {
		position: relative;
		height: 0;
		overflow: hidden;
		transition-timing-function: ease;
		transition-duration: .35s;
		transition-property: height, visibility;
	}
	
	// Dropdown indicator
	.has-arrow::after {
		position: absolute;
		color: var(--secondary-icon-color);
		content: "\f054";
		font-weight: 900;
		font-family: "Font Awesome 5 Free";
		transition: 300ms;
		font-size: 0.714rem;
		right: .786rem;
		top: 50%;
		transform: translateY(-50%);
		height: 0.714rem;
		width: 0.714rem;
		line-height: 1em;
		text-align: center;
	}
	
	
	
	.active {
		
		> .has-arrow::after {
			-webkit-transform: translateY(-50%) rotate(90deg);
			transform: translateY(-50%) rotate(90deg);
		}
	}
}

// Sidebar Closed
.closed {
	.sidebar-wrapper .logo-header .main-logo{
		margin-bottom: 0;
	}
	
	.sidebar-wrapper .logo-header .sidebar-toggle{
		border-right: 1px solid var(--background);
	}
	
	.logo-header{
		padding-left: 15px;
		padding-right: 15px;
		.header-version{
			text-align: center;
			transition-delay: 300ms;
		}
	}
	.sidebar-wrapper{
		width: 73px;
		flex: 1 0 73px;
		max-width: 73px;
	}
	.sidebar-toggle{
		transform: translateX(100%);
	}
	.main-nav span.fa {
		transition: 300ms;
	}
	.main-logo .logo svg.logo-small{
		display: block;
	}
	.sidebar-update-status{
		display: none;
	}
	.menu-badge,
	.main-nav .collapse.in,
	.main-nav li .menu-quicktask,
	.main-logo .header-version,
	.main-logo .logo svg:not(.logo-small),
	.has-arrow::after {
		display: none;
	}
	.sidebar-item-title{
		opacity: 0;
		width: 0;
		margin: 0;
		overflow: hidden;
		display: none;
	}
	.main-nav {
		> li > ul {
			height: 0;
			padding: 0;
			visibility: hidden;
		}
	}
}

@include media-breakpoint-up(sm) {
	button.toggler-burger {
		display: none;
	}
}


.navbar-wrap{
	display: none;
}
// Mobile
@include media-breakpoint-down(xs) {
	#menu-collapse {
		display: none;
	}
	.navbar-wrap{
		display: block;
		position: fixed;
		bottom: 0;
		width: 100%;
		left: 0;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='713' height='62'%3E%3Cdefs%3E%3Cfilter id='a' width='103.4%25' height='148%25' x='-1.7%25' y='-36%25'%3E%3CfeMorphology in='SourceAlpha' radius='1' result='shadowSpreadOuter1'/%3E%3CfeOffset dy='-6' in='shadowSpreadOuter1' result='shadowOffsetOuter1'/%3E%3CfeGaussianBlur in='shadowOffsetOuter1' result='shadowBlurOuter1' stdDeviation='4'/%3E%3CfeColorMatrix in='shadowBlurOuter1' values='0 0 0 0 0.0352941176 0 0 0 0 0.117647059 0 0 0 0 0.258823529 0 0 0 0.156905594 0'/%3E%3C/filter%3E%3Cpath id='b' d='M707 12v50H6V12h407.44zm-295.406.029H301.501l.309454.0113883c12.557543.5057117 21.814401 5.7605327 27.770573 15.7644631 6.445737 10.8262001 15.264733 16.5496822 26.456987 17.1704463L356.548387 45c11.434841-.473199 20.423961-6.2049151 26.967361-17.1951486C389.471919 17.800921 398.728777 12.5461 411.28632 12.0403883zm-110.316111-.0071536c-1.069058-.031431-2.161688-.0289466-3.277889.0074534l3.501-.0002998zm112.986154-.0134874c-.828312-.0145817-1.643364-.0100858-2.445158.0134874L411.594 12.029l3.502774.0002998z'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cuse fill='%23000' filter='url(%23a)' xlink:href='%23b'/%3E%3Cuse fill='%23fff' xlink:href='%23b'/%3E%3C/g%3E%3C/svg%3E");
		background-position: top;
		background-size: auto 61px;
		background-repeat: repeat-x;
		padding-top: 12px;
		ul.mobile-quickmenu-items {
			padding: 0;
			margin: 0;
			list-style: none;
			display: flex;
			align-items: flex-start;
			position: relative;
			&::after{
				content: '';
				position: absolute;
				width: 100%;
				height: 50px;
				background: #fff;
				top: 40px;
				z-index: -1;
			}
			li{
				width: 23%;
				text-align: center;
				padding: 0 15px;
				display: inline-flex;
				align-items: center;
				justify-content: center;
				flex-wrap: wrap;
				max-height: 65px;
				&:nth-child(2){
					margin-right: 8%;
				}
				a{
					padding-top: 13px;
					padding-bottom: 13px;
					display: block;
					text-align: center;
					font-size: 0.714rem;
					color: var(--secondary-color);
					cursor: pointer;
					position: relative;
					&:focus{
						outline: 1px solid red;
					}
					span{
						display: block;
						text-align: center;
						margin: 0 auto;
						font-size: 20px;
						color: var(--icon-color);
						padding-bottom: 4px;
					}
					span.system-counter,
					span.badge{
						padding: 0px 4px;
						background: red;
						position: absolute;
						top: 9px;
						font-size: 10px;
						color: #fff;
						line-height: 11px;
						border: none;
						display: inline-block;
						border-radius: 30px;
						left: 50%;
					}
					span.system-counter{
						color: var(--secondary-color);
						background: none;
					}
				}
			}
		}
	}
	.toggler-burger {
		width: 48px;
		height: 48px;
		background: var(--primary-color);
		border-radius: 50%;
		position: fixed;
		bottom: 40px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 9999999;
		padding: 0;
		margin: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		.navbar-toggler-icon {
			height: 2.21px;
			width: 20px;
			background: #ffffff;
			position: relative;
			transition: .3s;
			transform: rotate(-135deg);
			&::before,
			&::after{
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				background: #fff;
				left: 0;
				top: -5.89px;
				border-radius: 1.5px;
				transform: rotate(90deg) translate(6px);
				transition: .3s;
			}
			&::after{
				top: auto;
				bottom: -5.89px;
				transform: rotate(45deg) translate(-6px);
				background: transparent;
			}
		}
		
		&.collapsed {
			.navbar-toggler-icon {
				transform: none;
				background: #fff;
				&::before,
				&::after{
					transform: none;
					background: #fff;
				}
			}
		}
		
	}
	
	#sidebar-wrapper {
		position: fixed;
		top: auto;
		bottom: 0;
		left: 0;
		width: 100%;
		height: auto;
		overflow-x: hidden;
		overflow-y: scroll;
		padding-bottom: 85px;
		transition: 300ms;
		z-index: 99;
		transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
		&:not(.show) {
			max-height: 0;
		}
		&.show {
			transition-property: all;
			transition-duration: 1s;
			display: flex;
			flex-direction: column;
			max-height: calc(100vh - 60px);
		}
	}
	
	#sidebar-wrapper {
		&:not(.show) {
			&:not(.collapse) {
				display: none;
			}
		}
	}
	
	//#wrapper::before{
	//	content: '';
	//	position: fixed;
	//	z-index: 999999;
	//	width: 100%;
	//	height: 65px;
	//	bottom: 0;
	//	background: #ffffff;
	//	transform: translateY(40px);
	//}
	//#wrapper::after{
	//	content: '';
	//	width: 100%;
	//	height: 71px;
	//	bottom: 0;
	//	position: fixed;
	//	z-index: 999999;
	//	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='527' height='62'%3E%3Cdefs%3E%3Cpath id='b' d='M0 0h515v50H0V0zm257.548.03H199c14.51-.474 25.038 4.785 31.581 15.775 6.543 10.99 15.533 16.722 26.967 17.195 11.435-.473 20.424-6.205 26.968-17.195 6.543-10.99 17.07-16.249 31.58-15.776h-58.548z'/%3E%3Cfilter id='a' width='105.4%25' height='156%25' x='-2.7%25' y='-40%25' filterUnits='objectBoundingBox'%3E%3CfeMorphology in='SourceAlpha' radius='1' result='shadowSpreadOuter1'/%3E%3CfeOffset dy='-6' in='shadowSpreadOuter1' result='shadowOffsetOuter1'/%3E%3CfeGaussianBlur in='shadowOffsetOuter1' result='shadowBlurOuter1' stdDeviation='4'/%3E%3CfeColorMatrix in='shadowBlurOuter1' result='shadowMatrixOuter1' values='0 0 0 0 0.0156862745 0 0 0 0 0.0901960784 0 0 0 0 0.219607843 0 0 0 0.13 0'/%3E%3CfeOffset dy='-1' in='SourceAlpha' result='shadowOffsetOuter2'/%3E%3CfeGaussianBlur in='shadowOffsetOuter2' result='shadowBlurOuter2' stdDeviation='.5'/%3E%3CfeColorMatrix in='shadowBlurOuter2' result='shadowMatrixOuter2' values='0 0 0 0 0.0169894885 0 0 0 0 0.0909468795 0 0 0 0 0.217730978 0 0 0 0.05 0'/%3E%3CfeMerge%3E%3CfeMergeNode in='shadowMatrixOuter1'/%3E%3CfeMergeNode in='shadowMatrixOuter2'/%3E%3C/feMerge%3E%3C/filter%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd' transform='translate(6 12)'%3E%3Cuse fill='%23000' filter='url(%23a)' xlink:href='%23b'/%3E%3Cuse fill='%23FFF' xlink:href='%23b'/%3E%3C/g%3E%3C/svg%3E");
	//	background-position: top center;
	//	background-size: auto 62px;
	//	background-repeat: repeat-x;
	//}
	
}

//com_config, smart search sidebar style
.sidebar-nav,
.com-config-sidebar{
	.nav-header{
		font-size: 1.14rem;
		font-weight: 400;
		margin-bottom: 15px;
	}
	ul.nav{
		>li {
			border-bottom: 1px solid var(--border-color);
			padding-bottom: 5px;
			>a{
				color: var(--secondary-color);
				font-size: 1rem;
				font-weight: 400;
				&:hover, &:focus{
					color: var(--link-color);
				}
			}
			&.active>a{
				color: var(--link-color);
			}
		}
	}
}
