// Sidebar

.wrapper {
  padding-left: $sidebar-width;
  padding-top: 80px;
  transition: all .3s ease;
  @include media-breakpoint-down(sm) {
    padding-left: 0;
  }

  &.closed {
    a.btn-dashboard {
      display: none
    }

    .main-nav {
      max-width: 3rem;
    }

    .menu-dashboard {
      display: none;
    }
  }
}

.sidebar-wrapper {
  position: fixed;
  width: $sidebar-width;
  left: 0;
  top: 0;
  z-index: $zindex-sidebar;
  background-color: #ffffff;
  overflow: hidden;
  height: 100vh;
  @include media-breakpoint-up(sm) {
    display: flex;
    flex-direction: column;
    flex: 1 0 $sidebar-width;
    max-width: $sidebar-width;
    transition: all .3s ease;
  }

  @include media-breakpoint-down(xs) {
    &.sidebar-menu {
      /*height: 0;*/
      bottom: 0;
      top: auto;
    }
    &:not(.sidebar-menu) {
      display: flex;
      flex-direction: column;
      flex: 1 0 $sidebar-width;
      max-width: $sidebar-width;
      transition: all .3s ease;
    }
  }
  
  #sidebarmenu{
    width: calc(100% + 15px);
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .main-brand {
    padding: 15px;
    margin-top: auto;
  }

  .view-login & {
    flex: 1 0 33%;
    max-width: $sidebar-width-login;

    &.transit-narrow {
      flex: 1 0 $sidebar-width;
      transition: flex 3s;

      @include media-breakpoint-down(sm) {
        @include fadeout-page;
      }
    }

    &.transit-narrow-closed {
      flex: 1 0 $sidebar-width-closed;
      transition: flex 3s;

      @include media-breakpoint-down(sm) {
        @include fadeout-page;
      }
    }
  }

  &.transit-wider {
    flex: 1 0 33%;
    max-width: $sidebar-width-login;
    transition: all 3s;

    @include media-breakpoint-down(sm) {
      @include fadein-page;
    }
  }

  .sidebar-toggle {
    position: relative;
    background:var(--atum-bg-dark-50);

    a {
      display: block;
      padding: 0 0.35rem;
      position: relative;
      color: var(--atum-text-light);
      height: 3.2rem;
      line-height: 3.2rem;
      overflow: hidden;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .card {
    background: var(--atum-bg-dark);
    box-shadow: none;
  }


}

.menu-toggle-icon {
  width: $header-height;
  font-size: 1.7rem;
}

// Sidebar navigation
.main-nav {
  width: $sidebar-width;
  opacity: 1;
  @include media-breakpoint-down(xs) {
    width: 100%;
  }

  // All list items
  li {
    //color: var(--atum-text-light);
    list-style-type: none;
    position: relative;
    display: flex;
    flex-wrap: wrap;

    > a {
      flex-grow: 2;
    }
  
    .menu-dashboard, .menu-quicktask {
      position: relative;
      display: none; // @TODO: Must remove from markup

      > a {
        padding: 0;
        display: inline-block;
        height: 100%;

        > .fa {
          display: flex;
          padding: 1rem;
          align-items: center;
          margin: 0;
        }

        &:hover,
        &.active {
          background-color: var(--atum-bg-dark-70);

          .fa {
            color: var(--atum-contrast);
          }
        }
      }

      &::before {
        background-image: none;
        width: 0;
      }
    }

    li {
      .menu-dashboard, .menu-quicktask {
        > a {
          &.active {
            background-color: var(--atum-bg-dark-80);
            &::before {
              display: none;
            }
          }
        }
      }
    }

    .menu-dashboard {
      a {
        .fa {
          align-items: flex-start;
        }
      }
    }
    
    > ul{
      padding: 0.536rem 0;
      > li > a{
        padding-left: 67px;
      }
    }
    
    &.dropdown-submenu > ul{
      > li > a{
        color: var(--secondary-color);
        padding-left: 75px;
        &.active,
        &:hover{
          color: var(--link-color);
        }
      }
    }
    
  }

  span.fa {
    //padding: 1rem 0;
  }

  .sidebar-item-title {
    word-break: break-word;
    //padding: 0.6rem 0;

    @include media-breakpoint-up(sm) {
      max-width: 11rem !important;
      display: inline-block;
    }
    @include media-breakpoint-down(xs) {
      max-width: 60vw !important;
      display: inline-block;
    }
  }

  // All links
  a {
    position: relative;
    color: var(--color);
    font-size: 1rem;
    line-height: 1.786rem;
    padding-top: 0.393rem;
    padding-bottom: 0.393rem;
    transition: 300ms;
    &.active,
    &:hover{
      color: var(--link-color);
      text-decoration: none;
      &.has-arrow::after{
        color: var(--link-color);
      }
    }
  }

  // 1st level items
  > li {
    > a {
      display: block;
      padding: 0.857rem 0 0.857rem 1.500rem;
      line-height: 1.857rem;
      font-size: 1.143rem;
      border-left: 2px solid transparent;
      transition: all .2s ease-in-out;
      border-bottom: 1px solid var(--background);
    }
    
    &.active > a,
    > a:hover{
      color: var(--link-color);
      text-decoration: none;
      background-color: var(--button-background);
      border-bottom-color: var(--button-background);
      border-left-color: var(--link-color);
      span.fa{
        color: var(--link-color);
      }
      &.has-arrow::after{
        color: var(--link-color);
      }
    }
    
    &:not(:last-child) > a{
      border-bottom: none;
    }
  }

  // 2nd level items
  ul {
    padding: 0;
    width: 100%;

    li {
      position: relative;
      display: flex;

      &.active {
        box-shadow: 0 0 6px -6px rgba(0, 0, 0, .8)
      }

    }

    a {
      display: block;
    }
  }

  .divider,
  .menuitem-group {
    list-style: none;

    a::before {
      display: none;
    }
  }

  .menuitem-group {
    margin-top: 0.65rem;
    font-size: .75rem;
    letter-spacing: 2px;
  }

  .collapse {
    display: none;

    &.in {
      display: block;
    }
  }

  .collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    transition-timing-function: ease;
    transition-duration: .35s;
    transition-property: height, visibility;
  }

  // Dropdown indicator
  .has-arrow::after {
    position: absolute;
    color: var(--secondary-icon-color);
    content: "\f054";
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    transition: all .3s ease-out;
    font-size: 0.714rem;
    right: 1.093rem;
    top: 50%;
    transform: translateY(-50%);
    height: 0.714rem;
    width: 0.714rem;
    line-height: 1em;
    text-align: center;
  }

  .active {

    > .has-arrow::after {
      -webkit-transform: translateY(-50%) rotate(90deg);
      transform: translateY(-50%) rotate(90deg);
    }
  }

  // Parent icons
  .fa {
    position: relative;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    transition: all .2s ease-in-out;
    font-size: 1.429rem;
    line-height: 1.857rem;
    color: var(--secondary-icon-color);
    margin-right: 1.071rem;
  }
}

.sidebar-toggle .fa {
  position: relative;
  top: -1px;
  display: inline-block;
  margin: 0 0.3rem;
  font-size: 1.1rem;
  text-align: center;
  vertical-align: middle;
}

// Sidebar Closed
.closed {

  .main-nav span.fa {
    transition: all .2s ease-in-out;
  }


  /*.sidebar-wrapper {
    flex: 1 0 $sidebar-width-closed;
    max-width: $sidebar-width-closed;
    &.transit-wider-closed {
      flex: 1 0 33%;
      max-width: $sidebar-width-login;
      transition: flex 3s;

      @include media-breakpoint-down(sm) {
        @include fadein-page;
      }
    }
  }*/

  .sidebar-item-title,
  .has-arrow::after {
    display: none;
  }

  .main-nav {

    > li > ul {
      height: 0;
      padding: 0;
      visibility: hidden;
    }
  }
}

@include media-breakpoint-up(sm) {
  button.toggler-burger {
    display: none;
  }
}

// Mobile
@include media-breakpoint-down(xs) {
  #menu-collapse {
    display: none;
    background:var(--atum-bg-dark-50);
  }
  .toggler-burger {
    display: block;
    width: 70px;
    height: 70px;
    background: var(--atum-link-color);
    border-radius: 40px;
    border: 8px solid var(--atum-bg-light);
    position: fixed;
    bottom: 20px;
    right: 10px;
    z-index: $zindex-mobil-toggle;

    .navbar-toggler-icon {
      color: var(--toggle-color);

      &::before {
        font: normal normal normal 30px/1 'Font Awesome 5 Free';
        content: "\f00d";
        color: var(--toggle-color);

      }
    }

    &.collapsed {
      .navbar-toggler-icon::before {
        content: "\f0c9";
      }
    }

  }

  .sidebar-menu {
    &.show {
      /* overflow-y: hidden;*/
      max-height: 100vh;
      transition-property: all;
      transition-duration: 1s;
      transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
      bottom: 55px;
      position: fixed;
      width: 100%;
      z-index: $zindex-mobil-menu;
      display: flex;
      flex-direction: column;

      #sidebarmenu {
        overflow-y: scroll;

      }

    }

    &:not(.show) {
      max-height: 0;
    }
  }

  #sidebar-wrapper {
    &:not(.show) {
      &:not(.collapse) {
        display: none;
      }
    }
  }
}

#menu-collapse-icon {
  font-size: 0.9rem;
  margin-right: 0.6rem;
  padding: 0.3rem;
}
