// Sidebar
//$sidebar-width: auto;
.wrapper {
  transition: all .3s ease;
  @include media-breakpoint-down(sm) {
    padding-left: 0;
  }

  &.closed {
    a.btn-dashboard {
      display: none
    }

    .menu-dashboard {
      display: none;
    }
  }
}

.sidebar-wrapper {
  width: $sidebar-width;
  background-color: #ffffff;
  box-shadow: 0 10px 30px 0 rgba(209, 213, 223, 0.5);
  margin-top: -60px;
  @include media-breakpoint-up(sm) {
    display: flex;
    flex-direction: column;
    flex: 1 0 $sidebar-width;
    max-width: $sidebar-width;
    transition: all .3s ease;
  }

  @include media-breakpoint-down(xs) {
    &.sidebar-menu {
      /*height: 0;*/
      bottom: 0;
      top: auto;
    }
    &:not(.sidebar-menu) {
      display: flex;
      flex-direction: column;
      flex: 1 0 $sidebar-width;
      max-width: $sidebar-width;
      transition: all .3s ease;
    }
  }
  

  .main-brand {
    padding: 15px;
    margin-top: auto;
  }

  .view-login & {
    flex: 1 0 33%;
    max-width: $sidebar-width-login;

    &.transit-narrow {
      flex: 1 0 $sidebar-width;
      transition: flex 3s;

      @include media-breakpoint-down(sm) {
        @include fadeout-page;
      }
    }

    &.transit-narrow-closed {
      flex: 1 0 $sidebar-width-closed;
      transition: flex 3s;

      @include media-breakpoint-down(sm) {
        @include fadeout-page;
      }
    }
  }

  &.transit-wider {
    flex: 1 0 33%;
    max-width: $sidebar-width-login;
    transition: all 3s;

    @include media-breakpoint-down(sm) {
      @include fadein-page;
    }
  }
  
  .sidebar-header{
    padding: 0.536rem 2.071rem 0.321rem 1.643rem;
    position: relative;
    color: var(--secondary-color);
    font-size: 0.857rem;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid var(--background);
    .sidebar-logo{
      flex-grow: 1;
      display: inline-flex;
      align-items: center;
      svg{
        width: 102px;
        margin-left: 2px;
      }
      .logo-small{
        display: none;
        width: auto;
        height: auto;
      }
      .sidebar-version{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding-left: 0.593rem;
        max-width: 90px;
      }
    }
    .sidebar-toggle{
      position: absolute;
      width: 2.071rem;
      height: 100%;
      right: 0;
      top: 0;
      border-left: 1px solid var(--background);
      background: #ffffff;
      a{
        height: 100%;
        width: 100%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        font-size: 1.143rem;
      }
    }
    .sidebar-update-status{
      margin-bottom: 0;
      margin-top: 0.386rem;
      line-height: 1.643rem;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      position: relative;
      padding-left: 1.429rem;
      color: var(--secondary-color);
      &:hover{
        text-decoration: none;
        color: var(--link-color);
      }
      &::before{
        content: "\f00c";
        height: 12px;
        width: 12px;
        text-align: center;
        background: var(--success-color);
        display: inline-block;
        color: #fff;
        font-family: 'Font Awesome 5 Free';
        font-size: 6px;
        border-radius: 50%;
        line-height: 12px;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -6px;
      }
      &.warning::before{
        content: '\f12a';
        background: var(--warning-color);
      }
    }
  }
}

.menu-toggle-icon {
  width: $header-height;
  font-size: 1.7rem;
}

// Sidebar navigation
.main-nav {
  opacity: 1;
  
  .divider {
    height: 1px;
    margin: 4px 18px;
    background-color: var(--background);
  }
  
  @include media-breakpoint-down(xs) {
    width: 100%;
  }

  // All list items
  li {
    list-style-type: none;
    position: relative;
    > a {
      flex-grow: 2;
    }
  
    .menu-quicktask{
      position: absolute;
      top: 50%;
      right: 13px;
      height: 20px;
      width: 20px;
      margin-top: -10px;
      border-radius: 50%;
      display: inline-block;
      background: var(--background);
      transition: 300ms;
      &:hover{
        background: var(--button-background);
      }
      > a{
        padding: 0;
        span{
          line-height: 21px;
          display: block;
          color: var(--link-color);
          font-size: 0.921rem;
        }
      }
    }

    .menu-dashboard {
      a {
        .fa {
          align-items: flex-start;
        }
      }
    }
    
    > ul{
      //padding: 0;
      > li > a{
        padding-left: 4.786rem;
        padding-right: 2.357rem;
        .sidebar-item-title{
          margin-left: 0;
        }
      }
    }
    
    &.dropdown-submenu > ul{
      > li > a{
        color: var(--secondary-color);
        padding-left: 75px;
        .sidebar-item-title{
          margin-left: 0;
        }
        &.active,
        &:hover{
          color: var(--link-color);
        }
      }
    }
    
  }
  
  .sidebar-item-title{
    margin-left: 1.071rem;
    transition: all .3s ease;
  }

  // All links
  a {
    position: relative;
    color: var(--color);
    font-size: 1rem;
    line-height: 1.786rem;
    padding-top: 0.393rem;
    padding-bottom: 0.393rem;
    transition: 300ms;
  }
  
  a:hover,
  li.active > a{
    color: var(--link-color);
    text-decoration: none;
    background: var(--background);
    &.has-arrow::after{
      color: var(--link-color);
    }
  }
  
  // 1st level items
  > li {
    white-space: nowrap;
    max-width: 100%;
    > a {
      display: block;
      padding: 0.857rem 1.643rem 0.857rem 1.500rem;
      line-height: 1.857rem;
      font-size: 1.143rem;
      border-left: 2px solid transparent;
      transition: .3s;
      border-top: 1px solid var(--background);
    }
    
    &.active > a,
    > a:hover{
      color: var(--link-color);
      text-decoration: none;
      background-color: var(--button-background);
      border-top-color: var(--button-background);
      border-left-color: var(--link-color);
      span.fa{
        color: var(--link-color);
      }
      &.has-arrow::after{
        color: var(--link-color);
      }
    }
    
    &:first-child a{
      border-top: none;
    }
    
  }

  // 2nd level items
  ul {
    padding: 0;
    width: 100%;
    transition: 200ms;
    li {
      position: relative;
    }

    a {
      display: block;
    }
  }

  .collapse {
    display: none;

    &.in {
      display: block;
      padding-bottom: .500rem;
    }
  }

  .collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    transition-timing-function: ease;
    transition-duration: .35s;
    transition-property: height, visibility;
  }

  // Dropdown indicator
  .has-arrow::after {
    position: absolute;
    color: var(--secondary-icon-color);
    content: "\f054";
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    transition: all .3s ease-out;
    font-size: 0.714rem;
    right: .786rem;
    top: 50%;
    transform: translateY(-50%);
    height: 0.714rem;
    width: 0.714rem;
    line-height: 1em;
    text-align: center;
  }
  
  

  .active {

    > .has-arrow::after {
      -webkit-transform: translateY(-50%) rotate(90deg);
      transform: translateY(-50%) rotate(90deg);
    }
  }

  // Parent icons
  .fa {
    position: relative;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    transition: all .2s ease-in-out;
    font-size: 1.429rem;
    line-height: 1.857rem;
    color: var(--secondary-icon-color);
  }
}

// Sidebar Closed
.closed {
  .sidebar-wrapper .sidebar-header .sidebar-logo{
    margin-bottom: 0;
  }
  .sidebar-wrapper{
    width: 73px;
    flex: 1 0 73px;
    max-width: 73px;
  }
  .sidebar-toggle{
    transform: translateX(100%);
  }
  .main-nav span.fa {
    transition: all .2s ease-in-out;
  }
  .sidebar-logo .logo svg.logo-small{
    display: block;
  }
  .sidebar-update-status{
    display: none;
  }
  .sidebar-logo .sidebar-version,
  .sidebar-logo .logo svg:not(.logo-small),
  .has-arrow::after {
    display: none;
  }
  .sidebar-item-title{
    opacity: 0;
    width: 0;
    margin: 0;
    overflow: hidden;
    display: none;
  }
  .main-nav-container{
    overflow: hidden;
  }
  .main-nav {
    > li > ul {
      height: 0;
      padding: 0;
      visibility: hidden;
    }
  }
}

@include media-breakpoint-up(sm) {
  button.toggler-burger {
    display: none;
  }
}

// Mobile
@include media-breakpoint-down(xs) {
  #menu-collapse {
    display: none;
    background:var(--atum-bg-dark-50);
  }
  .toggler-burger {
    display: block;
    width: 70px;
    height: 70px;
    background: var(--atum-link-color);
    border-radius: 40px;
    border: 8px solid var(--atum-bg-light);
    position: fixed;
    bottom: 20px;
    right: 10px;
    z-index: $zindex-mobil-toggle;

    .navbar-toggler-icon {
      color: var(--toggle-color);

      &::before {
        font: normal normal normal 30px/1 'Font Awesome 5 Free';
        content: "\f00d";
        color: var(--toggle-color);

      }
    }

    &.collapsed {
      .navbar-toggler-icon::before {
        content: "\f0c9";
      }
    }

  }

  .sidebar-menu {
    &.show {
      transition-property: all;
      transition-duration: 1s;
      transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
      z-index: $zindex-mobil-menu;
      display: flex;
      flex-direction: column;
    }

    &:not(.show) {
      max-height: 0;
    }
  }

  #sidebar-wrapper {
    &:not(.show) {
      &:not(.collapse) {
        display: none;
      }
    }
  }
}
