.toggle-toolbar {
  display:block;
}
.subhead {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: $zindex-toolbar;
  width: auto;
  min-height: 43px;
  padding: 13px 0;
  color: var(--atum-text-dark);
  background: var(--subhead-background);
  border-bottom: 1px solid #d0dae3;

  .row {
    margin-right: 0;
    margin-left: 0;
  }
  
  .btn-toolbar {
    margin-bottom: 0;

    > joomla-toolbar-button,
    > .btn-group {
      margin-left: 1.4rem;

      &:first-child {
        margin-left: 0;
      }
    }
    #toolbar-help {
      margin-left: auto;
      .btn {
        padding: 0;
        color: var(--secondary-color);
        &:hover,
        &:active,
        &:focus {
          box-shadow: none;
          color: var(--primary-color);
          background-color: transparent;
        }
      }
    }
  }
}

.input-group {
  position: relative;
  display: block;
  .input-group-append {
    position: absolute;
    right: 1.1rem;
    top: 0;
    height: 1.5rem;
    bottom: 0;
    margin: auto;
    z-index: 4;
    .btn{
      background: var(--transparent-bg);
      border: 0;
      padding: 0 0 0 10px;
      color: var(--icon-color);
      box-shadow: none;
      line-height: 1;
      &.hidden{
        display: none;
      }
      span{
        margin-right: 0;
      }
    }
    .input-group-text{
      background: var(--transparent-bg);
      color: var(--icon-color);
      &.input-password-toggle{
        padding: 0;
        border: 0;
      }
    }
  }
}
.control-group {
  .controls {
    .input-group {
      .input-group-append {
        .btn{
          &.btn-primary,
          &.button-select,
          &:not(:disabled),
          &.btn-secondary{
            &:hover,
            &:focus,
            &:active{
              background-color: transparent;
              border-color: transparent;
              box-shadow: none;
              outline: none;
              color: var(--primary-color);
            }
          }
        }
      }
    }
  }
}
  
.btn-toolbar{
	
	.input-group-append {
    height: 1rem;
    line-height: 1;
    margin: 0;
    top: 1.2rem;
	  .btn-primary {
      background: var(--transparent-bg);
      color: var(--secondary-icon-color);
      box-shadow: none;
      line-height: 1;
	  }
	}
	> joomla-toolbar-button,
	> .btn-group {
	  @include media-breakpoint-down(lg) {
      margin-left:0 !important;
      margin-right:0.75rem;
      margin-bottom:0.75rem;
    }
  }
  
	
}

.js-stools{
  @include media-breakpoint-down(lg) {
    justify-content:flex-start;
    .js-stools-container-bar{
        .btn-toolbar{
          justify-content:flex-start;
        }
    }
  }
  @include media-breakpoint-down(xs) {
    display:block;
      .joomla-toolbar-button,
      .btn-group,
      .input-group,
      .ordering-select,
      .js-stools-field-list,
      .js-stools-container-selector      {
        @include media-breakpoint-down(sm) {
            width:100%;
        }
     }
     .ordering-select,
     .js-stools-container-selector{
        margin-right:.5rem;
     }
     .btn-group{
        @include media-breakpoint-down(sm) {
            margin-right:0;
        }
     }
     .js-stools-container-bar{
        .js-stools-field-list{
            @include media-breakpoint-down(sm) {
                margin-bottom: .75rem;
            }
         }    
    }
  }
}
.js-calendar{
	.calendar-container{
		.btn{
			padding: 0 1.75rem;
		}
	}
}