// com_cpanel

.cpanel-add-module-icon,
.com-cpanel {

  &-help, &-system {

    .list-group-item {
      padding: 0;

      a {
        display: block;
        padding: $list-group-item-padding-y $list-group-item-padding-x;
      }
    }
  }

  &-help {

    &__header {
      color: var(--khonsu-special-color);
    }

    a {
      color: var(--khonsu-link-color);
    }

    h2 {
      font-size: $h4-font-size;
    }

  }

  &-system {
    column-count: 4;

    &__category {
      margin-bottom: 1.5em;
      -webkit-column-break-inside: avoid;
      page-break-inside: avoid;
      break-inside: avoid;
    }

    &__header {
      color: var(--khonsu-special-color);

      span {
        margin-right: 5px;
      }
    }

    a {
      color: var(--khonsu-link-color);
    }

    h2 {
      font-size: $h4-font-size;
    }


    @include media-breakpoint-down(md) {
      column-count: 2;
    }

    @include media-breakpoint-down(sm) {
      column-count: 1;
    }
  }
}

.com_cpanel {

  .content {
    margin-top: 0;
  }

  .card {

    p:first-of-type {
      margin-top: 0;
    }

    p:last-child {
      margin-bottom: 0;
    }

    .list-group,
    .table {
      > .published {
        padding-left: .9rem;
        border-left: 5px solid var(--success);
      }

      > .unpublished {
        padding-left: .9rem;
        border-left: 5px solid var(--danger);
      }
    }

  }
}

.cpanel-modules {
  .module-wrapper {
    .j-module-content {
      &.collapse-in {
        display: none;
      }
    }
  }

  .list-group-item:hover {
    background:var(--toolbar-bg);
  }

  .list-group-item a > span.fa {
    background: var(--khonsu-link-color);
    color: rgba(255,255,255,.9);
    display: block;
    padding: 0.5rem;
    box-shadow: $khonsu-box-shadow;

    &:hover {
      background: var(--khonsu-link-hover-color);
    }
  }

   h2 {
      font-size: $h4-font-size;
    }
}
