//Media action popup style mixin
@mixin media-popup-action ($width, $pad1, $pad2) {
  display: block;
  position: absolute;
  right: 0;
  top: 25px;
  width: $width;
  background: var(--inverse-color);
  border-radius: 3px;
  box-shadow: 0 30px 60px -10px rgba(0, 28, 73, 0.15);
  border: solid 1px #eaeef5;
  padding: $pad1 $pad2;
}
/* Media browser */
.media-browser {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  transition: width .3s cubic-bezier(.4, .0, .2, 1);
}

// Grid View
.media-browser-grid {
  padding: $grid-outside-padding 0;
}

.media-browser-items {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
}

.media-browser-item {
  position: relative;
  margin-bottom: $grid-gutter-width;
  cursor: pointer;
  user-select: none;
  .media-browser-items-xs & {
    width: $grid-item-width-xs;
  }
  .media-browser-items-sm & {
    width: $grid-item-width-sm;
  }
  .media-browser-items-md & {
    width: $grid-item-width-md;
  }
  .media-browser-items-lg & {
    width: $grid-item-width-lg;
  }
  .media-browser-items-xl & {
    width: $grid-item-width-xl;
  }
  @media (max-width: 575.98px) {
    .media-browser-items-xs & {
      width: 50%;
    }
    .media-browser-items-sm & {
      width: 50%;
    }
    .media-browser-items-md & {
      width: 50%;
    }
    .media-browser-items-lg & {
      width: 50%;
    }
    .media-browser-items-xl & {
      width: 50%;
    }
  }
}

.media-browser-item-preview {
  border-radius: $grid-item-border-radius;
  color: #93ceff;
  position: relative;
  font-size: 1rem;
  &:hover {
    .media-item-preview {
      opacity: 1;
      visibility: visible;
    }
  }
  .media-item-preview {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .35s;
    opacity: 0;
    visibility: hidden;
  }
}

.media-browser-item-info {
  padding: 1.08rem 3.3rem 1.06rem 1.08rem;
  overflow: hidden;
  font-size: 1rem;
  line-height: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--inverse-background);
}

.media-browser-select {
  background-color: var(--secondary-icon-color);
  border-radius: 0.25rem;
  opacity: 0;
  position: absolute;
  top: auto;
  left: auto;
  width: 20px;
  height: 20px;
  content: initial;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  right: 4px;
  bottom: 4px;
  text-align: center;
  line-height: 1;
  
  .media-browser-item.active & {
    opacity: 1;
  }
  &::after {
    position: absolute;
    top: -2px;
    left: 0;
    width: 16px;
    height: 16px;
    font-family: "Font Awesome 5 Free";
    font-size: 1.3rem;
    line-height: 1;
    text-align: center;
    content: "\F00C";
    opacity: 1;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--inverse-color);
    margin: auto;
    right: 0;
    bottom: 0;
    transform: scale(.6);
    
    .selected & {
      opacity: 1;
      transform: scale(.6);
    }
  }
  .selected & {
    color: var(--inverse-color);
    background-color: var(--primary-color);
    opacity: 1;
  }
}

.media-browser-actions {
  position: absolute;
  top: 7px;
  right: 12px;
  overflow: visible;
  z-index: 10;
  
  > button {
    opacity: 1;
    .media-browser-item.active & {
      opacity: 1;
    }
  }
  &.active {
    > button {
      display: block;
    }
    .image-browser-action.fa-ellipsis-h {
      color: var(--primary-color);
    }
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    column-gap: 5px;
    li {
      display: block;
      button {
        width: 100%;
        text-align: left;
        margin: 0;
        padding: 0 10px;
        border-bottom: 1px solid rgba(234, 238, 245, .5);
        color: var(--secondary-color);
        &:hover {
          color: var(--primary-color);
          background-color: var(--button-background);
          .image-browser-action { 
            color: var(--primary-color);
          }
        }
      }
      &:last-child {
        button {
          border-bottom: 0;
        }
      }
    }
  }
}

.media-browser-actions-list {
  button, a {
    background-color: transparent;
    position: relative;
    top: 0;
    padding: 0;
    border: 0;
    margin-bottom: 3px;
    visibility: hidden;
    opacity: 0;
    transition: all 0s ease;
    transition-delay: 0s;
    .media-browser-actions.active & {
      top: 0;
      visibility: visible;
      opacity: 1;
      transition-duration: .2s;
      &:first-of-type {
        transition-delay: .1s;
      }
      &:nth-of-type(2) {
        transition-delay: .15s;
      }
      &:nth-of-type(3) {
        transition-delay: .2s;
      }
      &:nth-of-type(4) {
        transition-delay: .25s;
      }
    }
  }
  .image-browser-action {
    width: auto;
    height: auto;
    margin-right: 5px;
    &::before {
      font-size: 1rem;
    }
  }
}

.image-browser-action {
  width: calc(1.3rem * 1.55);
  height: calc(1.3rem * 1.55);
  color: var(--secondary-icon-color);
  text-align: center;
  cursor: pointer;
  transition: .35s;
  &::before {
    font-size: $grid-item-icon-size;
    line-height: calc(#{$grid-item-icon-size} * 1.55);
  }
  &:hover {
    color: var(--primary-color);
  }
}

.image-background {
  background-color: var(--tr-hover-background);
}

.image-cropped {
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 80%;
  background-size: 100%;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.file-background, 
.folder-background {
  padding-bottom: 80%;
}

.file-icon, .folder-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #93ceff;
  font-size: 4.3rem;
}

.media-dragoutline {
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px dashed var(--inverse-color);
  position: absolute;
  top: 6px;
  right: 6px;
  bottom: 1px;
  left: 6px;
  z-index: 1040;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  content: "";
  opacity: 0;
  transition: all .2s ease;
  transition-delay: .2s;
  transform: scale(.6);
  
  .upload-icon {
    font-size: 8rem;
    color: $dnd-icon-color;
    opacity: 0;
    transition: all .2s ease;
    transition-delay: .1s;
    transform: translateY(50%);
  }
  p {
    opacity: 0;
    transition: all .2s ease;
    transition-delay: 0s;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    color: #fff;
    font-weight: 700;
    font-size: 3.85rem;
  }
  &.active {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
    transform: scale(1);
    .upload-icon {
      opacity: 1;
      transform: translateY(0);
    }
    p {
      opacity: 1;
      transition-delay: .2s;
    }
  }
}

// Table View
.media-browser-table-head {
  .type {
    margin-left: 1px;
    &::before {
      display: none;
    }
  }
}

.media-browser-table {
  .name {
    width: calc(30% - 40px);
  }
  .size {
    width: 15%;
  }
  .dimension {
    width: 15%;
  }
  .created {
    width: 20%;
  }
  .modified {
    width: 20%;
  }
  .type {
    position: relative;
    z-index: 0;
    width: calc(#{$table-item-height} + 4px);
    padding: 0;
    font-size: $table-item-icon-size;
    line-height: $table-item-height;
    text-align: center;
    background-color: $table-item-icon-bg;
    border-right: 1px solid rgba(0, 0, 0, .03);
    &::before, &::after {
      transition: all .2s cubic-bezier(.4, .0, .2, 1);
    }
    &::before {
      font-family:"Font Awesome 5 Free";
      color: $table-item-icon-color;
      .selected & {
        color: $table-item-icon-color-selected;
      }
    }
    &::after {
      position: absolute;
      top: -1px;
      right: 100%;
      bottom: -1px;
      left: 0;
      z-index: -1;
      content: "";
      background-color: $table-item-icon-bg-selected;
    }
    span {
      visibility: hidden;
    }
  }
}

.action-toggle {
  background: transparent;
  padding: 0;
  border: 0;
}

.selected {
  .type {
    &::before {
      color: #fff;
    }
    &::after {
      right: 0;
    }
  }
}

.type {
  &[data-type] {
    &::before {
      content: $icon-type-default;
    }
  }
  // Folder
  &[data-type=""] {
    &::before {
      content: $icon-type-folder;
    }
  }
  // Images
  &[data-type="jpg"],
  &[data-type="png"],
  &[data-type="gif"],
  &[data-type="jpeg"],
  &[data-type="tiff"],
  &[data-type="bmp"],
  &[data-type="svg"] {
    &::before {
      content: $icon-type-images;
    }
  }
  // Video
  &[data-type="mov"],
  &[data-type="mkv"],
  &[data-type="mp4"],
  &[data-type="mpg"],
  &[data-type="mpeg"] {
    &::before {
      content: $icon-type-video;
    }
  }
  // Audio
  &[data-type="mp3"],
  &[data-type="wav"],
  &[data-type="raw"],
  &[data-type="wma"] {
    &::before {
      content: $icon-type-audio;
    }
  }
  // Docs
  &[data-type="doc"],
  &[data-type="xls"],
  &[data-type="pdf"],
  &[data-type="txt"] {
    &::before {
      content: $icon-type-docs;
    }
  }
  // Code
  &[data-type="html"],
  &[data-type="htm"] {
    &::before {
      content: $icon-type-code;
    }
  }
}
