//Media action popup style mixin
@mixin media-popup-action ($width, $pad1, $pad2) {
  display: block;
  position: absolute;
  right: 0;
  top: 25px;
  width: $width;
  background: var(--white);
  border-radius: 3px;
  box-shadow: 0 30px 60px -10px rgba(0, 28, 73, 0.15);
  border: solid 1px #eaeef5;
  padding: $pad1 $pad2;
}

//Progress bar style
.joomla-progress {
  background: #f1f8ec;
  display: flex;
  height: 6px;
  overflow: hidden;
  font-size: .75rem;
  border-radius: .25rem;
  border: 1px solid var(--success-color);
  width: 100%;
  margin-left: 15px;
  .joomla-progress-bar {
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-size: 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--white);
    text-align: center;
    white-space: nowrap;
    background-color: var(--success-color);
    transition: width .6s ease;
  }
}

//Custom Design for modal
.joomla-recent-uploaded-media {
  color: var(--primary-text-color);
  max-height: 300px;
  overflow-y: scroll;
  .joomla-recent-uploaded-media-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
    padding: 20px 0px;
    &:last-child {
      border: none;
    }
    .joomla-progress-container {
      width: 205px;
      display: flex;
      align-items: center;
      margin-right: 15px;
      span {
        padding-left: 15px;
        color: var(--secondary-text-color);
      }
    }
    .joomla-recent-upload-file {
      display: flex;
      align-items: center;
      span {
        &:first-child {
          margin-right: 10px;
        }
        &.joomla-image-item {
          background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='27' height='30'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='50%25' x2='50%25' y1='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%2336D2AD'/%3E%3Cstop offset='100%25' stop-color='%232DBC9A'/%3E%3C/linearGradient%3E%3Cpath id='c' d='M15 0h6.323C23.256 0 25 1.744 25 3.677V10L15 0z'/%3E%3Cfilter id='b' width='180%25' height='180%25' x='-40%25' y='-60%25' filterUnits='objectBoundingBox'%3E%3CfeOffset dy='-2' in='SourceAlpha' result='shadowOffsetOuter1'/%3E%3CfeGaussianBlur in='shadowOffsetOuter1' result='shadowBlurOuter1' stdDeviation='1'/%3E%3CfeComposite in='shadowBlurOuter1' in2='SourceAlpha' operator='out' result='shadowBlurOuter1'/%3E%3CfeColorMatrix in='shadowBlurOuter1' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.0909637238 0'/%3E%3C/filter%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath fill='url(%23a)' d='M15 0l10 10v16.5a3.5 3.5 0 0 1-3.5 3.5h-18A3.5 3.5 0 0 1 0 26.5v-23A3.5 3.5 0 0 1 3.5 0H15z' opacity='.8'/%3E%3Cg transform='rotate(180 20 5)'%3E%3Cuse fill='%23000' filter='url(%23b)' xlink:href='%23c'/%3E%3Cuse fill='%23FFF' fill-opacity='.4' xlink:href='%23c'/%3E%3C/g%3E%3Cpath d='M15.556 12.5h-10a.556.556 0 0 0-.556.556v8.889c0 .306.249.555.556.555h10a.555.555 0 0 0 .556-.555v-8.89a.556.556 0 0 0-.556-.555zm-1.111 8.333H6.667v-2.777l1.667-1.667 2.777 2.778 1.667-1.667 1.667 1.667v1.666zm-1.111-4.444a1.111 1.111 0 1 1 0-2.222 1.111 1.111 0 0 1 0 2.222z' fill='%23FFF' fill-rule='nonzero'/%3E%3C/g%3E%3C/svg%3E");
          width: 25px;
          height: 30px;
        }
        &.joomla-media-item {
          background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='27' height='30'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='50%25' x2='50%25' y1='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%23FFC547'/%3E%3Cstop offset='100%25' stop-color='%23FFAE01'/%3E%3C/linearGradient%3E%3Cpath id='c' d='M15 0h6.323C23.256 0 25 1.744 25 3.677V10L15 0z'/%3E%3Cfilter id='b' width='180%25' height='180%25' x='-40%25' y='-60%25' filterUnits='objectBoundingBox'%3E%3CfeOffset dy='-2' in='SourceAlpha' result='shadowOffsetOuter1'/%3E%3CfeGaussianBlur in='shadowOffsetOuter1' result='shadowBlurOuter1' stdDeviation='1'/%3E%3CfeComposite in='shadowBlurOuter1' in2='SourceAlpha' operator='out' result='shadowBlurOuter1'/%3E%3CfeColorMatrix in='shadowBlurOuter1' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.0909637238 0'/%3E%3C/filter%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath fill='url(%23a)' d='M15 0l10 10v16.5a3.5 3.5 0 0 1-3.5 3.5h-18A3.5 3.5 0 0 1 0 26.5v-23A3.5 3.5 0 0 1 3.5 0H15z' opacity='.9'/%3E%3Cg transform='rotate(180 20 5)'%3E%3Cuse fill='%23000' filter='url(%23b)' xlink:href='%23c'/%3E%3Cuse fill='%23FFF' fill-opacity='.4' xlink:href='%23c'/%3E%3C/g%3E%3Cpath fill='%23FFF' fill-rule='nonzero' d='M14.22 13.08v6.72a.79.79 0 0 1-.204.534 1.362 1.362 0 0 1-.516.363c-.208.086-.415.15-.621.192a2.905 2.905 0 0 1-.58.063 2.91 2.91 0 0 1-.578-.063 3.401 3.401 0 0 1-.621-.192 1.363 1.363 0 0 1-.516-.363.79.79 0 0 1-.204-.534c0-.2.068-.378.204-.534.136-.156.308-.277.516-.363a3.42 3.42 0 0 1 .62-.192 2.91 2.91 0 0 1 .58-.063c.42 0 .804.078 1.152.234V15.66l-4.608 1.422v4.254a.79.79 0 0 1-.204.534 1.362 1.362 0 0 1-.516.363 3.39 3.39 0 0 1-.622.192 2.906 2.906 0 0 1-.579.063c-.18 0-.373-.02-.579-.063a3.402 3.402 0 0 1-.62-.192 1.363 1.363 0 0 1-.517-.363.79.79 0 0 1-.204-.534c0-.2.068-.378.204-.534.136-.156.308-.277.516-.363.208-.086.415-.15.621-.192a2.91 2.91 0 0 1 .58-.063c.42 0 .803.078 1.152.234v-5.802a.592.592 0 0 1 .408-.552l4.992-1.537a.532.532 0 0 1 .168-.024c.16 0 .296.056.408.168a.556.556 0 0 1 .168.409z'/%3E%3C/g%3E%3C/svg%3E");
          width: 25px;
          height: 30px;
        }
        &.joomla-docs-item,
        &.joomla-file-item {
          background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='27' height='30'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='50%25' x2='50%25' y1='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%235895FF'/%3E%3Cstop offset='100%25' stop-color='%23387CF4'/%3E%3C/linearGradient%3E%3Cpath id='c' d='M15 0h6.323C23.256 0 25 1.744 25 3.677V10L15 0z'/%3E%3Cfilter id='b' width='180%25' height='180%25' x='-40%25' y='-60%25' filterUnits='objectBoundingBox'%3E%3CfeOffset dy='-2' in='SourceAlpha' result='shadowOffsetOuter1'/%3E%3CfeGaussianBlur in='shadowOffsetOuter1' result='shadowBlurOuter1' stdDeviation='1'/%3E%3CfeComposite in='shadowBlurOuter1' in2='SourceAlpha' operator='out' result='shadowBlurOuter1'/%3E%3CfeColorMatrix in='shadowBlurOuter1' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.0909637238 0'/%3E%3C/filter%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath fill='url(%23a)' d='M15 0l10 10v16.5a3.5 3.5 0 0 1-3.5 3.5h-18A3.5 3.5 0 0 1 0 26.5v-23A3.5 3.5 0 0 1 3.5 0H15z'/%3E%3Cg transform='rotate(180 20 5)'%3E%3Cuse fill='%23000' filter='url(%23b)' xlink:href='%23c'/%3E%3Cuse fill='%23FFF' fill-opacity='.4' xlink:href='%23c'/%3E%3C/g%3E%3Cpath fill='%23FFF' d='M10 21.25v1.25H5v-1.25h5zm5-2.5V20H5v-1.25h10zm0-2.5v1.25H5v-1.25h10zm0-2.5V15H5v-1.25h10z'/%3E%3C/g%3E%3C/svg%3E");
          width: 25px;
          height: 30px;
        }
      }
    }
    .joomla-upload-complete {
      display: flex;
      align-items: center;
      i {
        color: var(--success-color);
        font-size: 1.15rem;
      }
      span {
        padding-left: 5px;
        color: var(--secondary-text-color);
      }
    }
    .joomla-file-upload-cancel-btn{
      color: var(--secondary-text-color);
      text-decoration: none;
    }
    .joomla-media-upload-error {
      i {
        color: var(--danger-color);
        font-size: 1.15rem;
      }
      span {
        padding-left: 5px;
        color: var(--danger-color);
      }
    }
    .joomla-file-remove-btn {
      border-radius: 3px;
      border: solid 1px var(--secondary-icon-color);
      color: var(--secondary-text-color);
      text-decoration: none;
      line-height: 1.9rem;
      padding-right: 23px;
      padding-left: 5px;
      display: flex;
      align-items: center;
      transition: .35s;
      &:hover {
        border-color: var(--danger-color);
        background-color: var(--danger-color);
        color: var(--white);
        i {
          color: var(--white);
        }
      }
      i {
        color: var(--secondary-icon-color);
        font-size: 1.15rem;
        line-height: 1;
        display: inline-block;
        margin-right: 14px;
        transition: .35s;
      }
    }
  }
}

/* Media browser */
.media-browser {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  transition: width .3s cubic-bezier(.4, .0, .2, 1);
}

// Grid View
.media-browser-grid {
  padding: $grid-outside-padding 0;
}

.media-browser-items {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
}

.media-browser-item {
  position: relative;
  margin-bottom: $grid-gutter-width;
  cursor: pointer;
  user-select: none;
  .media-browser-items-xs & {
    width: $grid-item-width-xs;
  }
  .media-browser-items-sm & {
    width: $grid-item-width-sm;
  }
  .media-browser-items-md & {
    width: $grid-item-width-md;
  }
  .media-browser-items-lg & {
    width: $grid-item-width-lg;
  }
  .media-browser-items-xl & {
    width: $grid-item-width-xl;
  }
  @media (max-width: 575.98px) {
    .media-browser-items-xs & {
      width: 50%;
    }
    .media-browser-items-sm & {
      width: 50%;
    }
    .media-browser-items-md & {
      width: 50%;
    }
    .media-browser-items-lg & {
      width: 50%;
    }
    .media-browser-items-xl & {
      width: 50%;
    }
  }
}

.media-browser-item-preview {
  border-radius: $grid-item-border-radius;
  color: #93ceff;
  position: relative;
  font-size: 1rem;
  &:hover {
    .media-item-preview {
      opacity: 1;
      visibility: visible;
    }
  }
  .media-item-preview {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .35s;
    opacity: 0;
    visibility: hidden;
  }
}

.media-browser-item-info {
  padding: 1.08rem 3.3rem 1.06rem 1.08rem;
  overflow: hidden;
  font-size: 1rem;
  line-height: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--primary-text-color);
}

.media-browser-select {
  background-color: var(--secondary-icon-color);
  border-radius: 0.25rem;
  opacity: 0;
  position: absolute;
  top: auto;
  left: auto;
  width: 20px;
  height: 20px;
  content: initial;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  right: 4px;
  bottom: 4px;
  text-align: center;
  line-height: 1;
  
  .media-browser-item.active & {
    opacity: 1;
  }
  &::after {
    position: absolute;
    top: -2px;
    left: 0;
    width: 16px;
    height: 16px;
    font-family: "Font Awesome 5 Free";
    font-size: 1.3rem;
    line-height: 1;
    text-align: center;
    content: "\F00C";
    opacity: 1;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--white);
    margin: auto;
    right: 0;
    bottom: 0;
    transform: scale(.6);
    
    .selected & {
      opacity: 1;
      transform: scale(.6);
    }
  }
  .selected & {
    color: var(--white);
    background-color: var(--primary-color);
    opacity: 1;
  }
}

.media-browser-actions {
  position: absolute;
  top: 7px;
  right: 12px;
  overflow: visible;
  z-index: 10;
  
  > button {
    opacity: 1;
    .media-browser-item.active & {
      opacity: 1;
    }
  }
  &.active {
    > button {
      display: block;
    }
    .image-browser-action.fa-ellipsis-h {
      color: var(--primary-color);
    }
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    column-gap: 5px;
    li {
      display: block;
      button {
        width: 100%;
        text-align: left;
        margin: 0;
        padding: 0 10px;
        border-bottom: 1px solid rgba(234, 238, 245, .5);
        color: var(--secondary-text-color);
        &:hover {
          color: var(--primary-color);
          background-color: var(--primary-lighter-color);
          .image-browser-action {
            color: var(--primary-color);
          }
        }
      }
      &:last-child {
        button {
          border-bottom: 0;
        }
      }
    }
  }
}

.media-browser-actions-list {
  button, a {
    background-color: transparent;
    position: relative;
    top: 0;
    padding: 0;
    border: 0;
    margin-bottom: 3px;
    visibility: hidden;
    opacity: 0;
    transition: all 0s ease;
    transition-delay: 0s;
    .media-browser-actions.active & {
      top: 0;
      visibility: visible;
      opacity: 1;
      transition-duration: .2s;
      &:first-of-type {
        transition-delay: .1s;
      }
      &:nth-of-type(2) {
        transition-delay: .15s;
      }
      &:nth-of-type(3) {
        transition-delay: .2s;
      }
      &:nth-of-type(4) {
        transition-delay: .25s;
      }
    }
  }
  .image-browser-action {
    width: auto;
    height: auto;
    margin-right: 5px;
    &::before {
      font-size: 1rem;
    }
  }
}

.image-browser-action {
  width: calc(1.3rem * 1.55);
  height: calc(1.3rem * 1.55);
  color: var(--secondary-icon-color);
  text-align: center;
  cursor: pointer;
  transition: .35s;
  &::before {
    font-size: $grid-item-icon-size;
    line-height: calc(#{$grid-item-icon-size} * 1.55);
  }
  &:hover {
    color: var(--primary-color);
  }
}

.image-background {
  background-color: var(--primary-lighter-color);
}

.image-cropped {
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 80%;
  background-size: 100%;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.file-background,
.folder-background {
  padding-bottom: 80%;
}

.file-icon, .folder-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #93ceff;
  font-size: 4.3rem;
}

.media-dragoutline {
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px dashed var(--white);
  position: absolute;
  top: 6px;
  right: 6px;
  bottom: 1px;
  left: 6px;
  z-index: 1040;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  content: "";
  opacity: 0;
  transition: all .2s ease;
  transition-delay: .2s;
  transform: scale(.6);
  
  .upload-icon {
    font-size: 8rem;
    color: $dnd-icon-color;
    opacity: 0;
    transition: all .2s ease;
    transition-delay: .1s;
    transform: translateY(50%);
  }
  p {
    opacity: 0;
    transition: all .2s ease;
    transition-delay: 0s;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    color: #fff;
    font-weight: 700;
    font-size: 3.85rem;
  }
  &.active {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
    transform: scale(1);
    .upload-icon {
      opacity: 1;
      transform: translateY(0);
    }
    p {
      opacity: 1;
      transition-delay: .2s;
    }
  }
}
//Media manager container
.media-browser-item-file,
.media-browser-item-directory,
.media-browser-image {
  border-radius: 3px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15);
  background-color: var(--white);
  position: relative;
  margin: 0 0 0 15px;
}
.media-browser-actions-list {
  @include media-popup-action(200px, 7px, 0px);
}

//Media info popup
.media-infobar-popup {
  @include media-popup-action(285px, 25px, 20px);
  ul {
    columns: initial;
    li {
      padding: 5px 0;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid var(--bg-color);
      .media-info-title {
        color: var(--secondary-text-color);
        flex: 0 0 50%;
      }
      .media-info-details {
        flex: 0 0 50%;
      }
      &:last-child {
        border: 0;
      }
    }
  }
  .infobar-close {
    padding: 0 10px;
    font-size: 2rem;
    line-height: 1;
    color: #ccc;
  }
}
.media-toolbar-zoom-btn,
.media-toolbar-view-type {
  display: flex;
  align-items: center;
  .media-toolbar-icon {
    padding: 0;
    width: 30px;
    height: 30px;
    color: var(--secondary-icon-color);
    display: inline-block;
    line-height: 30px;
    transition: .35s;
    &.media-toolbar-decrease-grid-size,
    &.media-toolbar-grid-view {
      border-color: #ccd3d7;
      border-style: solid ;
      border-width: 1px 1px 1px 1px;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }
    &.media-toolbar-increase-grid-size,
    &.media-toolbar-list-view{
      border-color: #ccd3d7;
      border-style: solid ;
      border-width: 1px 1px 1px 0;
      margin-right: 15px;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }
  .media-toolbar-decrease-grid-size,
  .media-toolbar-increase-grid-size {
    &:hover {
      background-color: var(--secondary-text-color);
    }
  }
  &.grid-active {
    .media-toolbar-grid-view {
      background-color: var(--secondary-text-color);
    }
  }
  &.list-active {
    .media-toolbar-list-view {
      background-color: var(--secondary-text-color);
    }
  }
}
.media-toolbar-view-type {
  margin-left: 15px;
}
.media-checkbox {
  width: 22px;
  height: 22px;
  border-radius: 3px;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.05);
  border: solid 1px var(--secondary-icon-color);
  background-color: var(--white);
  position: relative;
  &.active {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    box-shadow: none;
    &::after {
      content: "";
      transform: rotate(45deg);
      height: 12px;
      width: 8px;
      border-bottom: 2px solid var(--white);
      border-right: 2px solid var(--white);
      position: absolute;
      left: 0;
      right: 0;
      top: -5px;
      bottom: 0;
      margin: auto;
    }
  }
}

//Media drop area
.joomla-drop-media-image {
  width: 247px;
  height: 265px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='247' height='265'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath fill='%23DEE4F5' fill-rule='nonzero' d='M245.976 258.992a3.533 3.533 0 0 1 0 4.975 3.492 3.492 0 0 1-2.474 1.033 3.539 3.539 0 0 1-2.475-1.033 3.616 3.616 0 0 1-.747-1.15 3.277 3.277 0 0 1-.28-1.337 3.324 3.324 0 0 1 .28-1.361 2.21 2.21 0 0 1 .327-.61c.115-.192.256-.366.42-.517a3.581 3.581 0 0 1 4.949 0zm-160.8-.94a3.1 3.1 0 0 1 .654.21c.214.086.418.195.607.327.194.127.374.276.536.443a3.496 3.496 0 0 1 1.027 2.47 3.542 3.542 0 0 1-1.027 2.472A3.501 3.501 0 0 1 84.5 265c-.928 0-1.818-.37-2.473-1.026A3.426 3.426 0 0 1 81 261.503c0-.927.37-1.816 1.027-2.471.157-.173.338-.322.536-.443a2.52 2.52 0 0 1 .607-.327c.21-.094.428-.164.653-.21a4.39 4.39 0 0 1 1.354 0zm78.36-.052c1.922 0 3.493 1.464 3.595 3.307l.005.192c0 1.867-1.506 3.393-3.402 3.493l-.198.005a3.66 3.66 0 0 1-2.64-.974 3.451 3.451 0 0 1-1.104-2.524h.144c0-1.868 1.506-3.394 3.402-3.494l.198-.005zm59.864 0c1.922 0 3.492 1.464 3.595 3.307l.005.192c0 1.867-1.506 3.393-3.403 3.493l-.197.005c-1.989 0-3.6-1.566-3.6-3.498 0-1.868 1.505-3.394 3.402-3.494l.198-.005zm-19.947 0c1.922 0 3.493 1.464 3.595 3.307l.005.192c-.012 1.862-1.512 3.381-3.403 3.492l-.197.006a3.657 3.657 0 0 1-2.593-1 3.45 3.45 0 0 1-1.08-2.498h.073c0-1.868 1.506-3.394 3.402-3.494l.198-.005zm-19.97 0c1.922 0 3.492 1.464 3.595 3.307l.005.192c0 1.867-1.506 3.393-3.403 3.493l-.197.005a3.657 3.657 0 0 1-2.593-1 3.45 3.45 0 0 1-1.08-2.498h.072c0-1.868 1.506-3.394 3.403-3.494l.198-.005zm-39.894 0c1.923 0 3.493 1.464 3.596 3.307l.005.192c0 1.867-1.506 3.393-3.403 3.493l-.198.005a3.657 3.657 0 0 1-2.592-1 3.45 3.45 0 0 1-1.08-2.498h.072c0-1.868 1.506-3.394 3.403-3.494l.197-.005zm-19.97 0c1.922 0 3.493 1.464 3.595 3.307l.005.192c0 1.867-1.506 3.393-3.402 3.493l-.198.005a3.681 3.681 0 0 1-2.585-1.007 3.474 3.474 0 0 1-1.087-2.491h.072c0-1.868 1.506-3.394 3.402-3.494l.198-.005zm-19.947 0c1.923 0 3.493 1.464 3.596 3.307l.005.192c0 1.867-1.506 3.393-3.403 3.493l-.198.005a3.657 3.657 0 0 1-2.592-1A3.45 3.45 0 0 1 100 261.5h.072c0-1.868 1.506-3.394 3.403-3.494l.197-.005zM84.5 239.936c1.868 0 3.395 1.478 3.495 3.338l.005.194c0 1.886-1.465 3.426-3.308 3.527L84.5 247c-1.933 0-3.5-1.581-3.5-3.532 0-1.885 1.464-3.426 3.308-3.526l.192-.006zm159 0c1.868 0 3.395 1.478 3.495 3.338l.005.194c0 1.886-1.465 3.426-3.308 3.527l-.192.005c-1.933 0-3.5-1.581-3.5-3.532 0-1.885 1.464-3.426 3.308-3.526l.192-.006zm-159-18.648c1.868 0 3.395 1.478 3.495 3.338l.005.194c0 1.886-1.465 3.426-3.308 3.527l-.192.005c-1.933 0-3.5-1.581-3.5-3.532 0-1.886 1.464-3.426 3.308-3.527l.192-.005zm159 0c1.868 0 3.395 1.478 3.495 3.338l.005.194c0 1.886-1.465 3.426-3.308 3.527l-.192.005c-1.933 0-3.5-1.581-3.5-3.532 0-1.886 1.464-3.426 3.308-3.527l.192-.005zm-159-18.648c.936 0 1.834.378 2.491 1.05a3.55 3.55 0 0 1 1.005 2.311l.004.218c0 1.885-1.465 3.426-3.308 3.526l-.192.006c-1.933 0-3.5-1.582-3.5-3.532v-.047c0-1.886 1.464-3.426 3.308-3.527l.192-.005zm159-.024a3.51 3.51 0 0 1 2.493 1.067 3.57 3.57 0 0 1 1.003 2.318l.004.218c-.013 1.877-1.474 3.403-3.309 3.503l-.191.005c-1.924 0-3.487-1.567-3.5-3.508v-.047c0-1.89 1.46-3.436 3.307-3.55l.193-.006zm-159-18.648c1.868 0 3.395 1.478 3.495 3.338l.005.194c0 1.886-1.465 3.426-3.308 3.527l-.192.005c-1.933 0-3.5-1.581-3.5-3.532 0-1.886 1.464-3.426 3.308-3.527l.192-.005zm159 0c1.868 0 3.395 1.478 3.495 3.338l.005.194c0 1.886-1.465 3.426-3.308 3.527l-.192.005c-1.933 0-3.5-1.581-3.5-3.532 0-1.886 1.464-3.426 3.308-3.527l.192-.005zm-159-18.648c1.868 0 3.395 1.478 3.495 3.338l.005.194c0 1.885-1.465 3.426-3.308 3.526l-.192.006c-1.933 0-3.5-1.582-3.5-3.532 0-1.886 1.464-3.426 3.308-3.527l.192-.005zm159 0c1.868 0 3.395 1.478 3.495 3.338l.005.194c0 1.885-1.465 3.426-3.308 3.526l-.192.006c-1.933 0-3.5-1.582-3.5-3.532 0-1.886 1.464-3.426 3.308-3.527l.192-.005zm-159-18.672c1.868 0 3.395 1.478 3.495 3.338l.005.194c0 1.886-1.465 3.426-3.308 3.527l-.192.005c-1.933 0-3.5-1.581-3.5-3.532 0-1.886 1.464-3.426 3.308-3.527l.192-.005zm159 0c1.868 0 3.395 1.478 3.495 3.338l.005.194c0 1.886-1.465 3.426-3.308 3.527l-.192.005c-1.933 0-3.5-1.581-3.5-3.532 0-1.886 1.464-3.426 3.308-3.527l.192-.005zm0-18.648c1.868 0 3.395 1.478 3.495 3.338l.005.194c0 1.885-1.465 3.426-3.308 3.526l-.192.006c-1.933 0-3.5-1.582-3.5-3.532 0-1.886 1.464-3.426 3.308-3.527l.192-.005zm-159 0c1.868 0 3.395 1.478 3.495 3.338l.005.194c0 1.885-1.465 3.426-3.308 3.526l-.192.006c-1.933 0-3.5-1.582-3.5-3.532 0-1.886 1.464-3.426 3.308-3.527L84.5 128zm.686-18.93l.651.187.605.326c.194.128.373.277.535.444A3.506 3.506 0 0 1 88 112.5c0 1.933-1.562 3.5-3.488 3.5h-.024a3.48 3.48 0 0 1-2.465-1.027A3.553 3.553 0 0 1 81 112.5c0-.928.369-1.818 1.023-2.473.157-.173.337-.322.535-.444a3.69 3.69 0 0 1 .605-.256l.674-.257a3.292 3.292 0 0 1 1.349 0zm159.016-.004l.653.187c.201.095.396.204.583.327.198.122.379.27.536.443.166.154.315.327.443.514 0 .21.233.397.326.607.084.211.146.43.187.654a3.505 3.505 0 0 1-.956 3.175 2.332 2.332 0 0 1-.536.42c-.181.131-.377.24-.583.327a3.285 3.285 0 0 1-1.353.28 3.473 3.473 0 0 1-2.923-1.555 3.482 3.482 0 0 1-.295-3.301c.081-.216.19-.42.327-.607.12-.187.26-.36.42-.514a3.542 3.542 0 0 1 3.17-.957zM163.536 109c1.922 0 3.493 1.464 3.595 3.307l.005.192c0 1.867-1.506 3.393-3.402 3.493l-.198.005a3.66 3.66 0 0 1-2.64-.974 3.451 3.451 0 0 1-1.104-2.524h.144c0-1.868 1.506-3.394 3.402-3.494l.198-.005zm-19.947 0c1.923 0 3.493 1.464 3.596 3.307l.005.192c0 1.867-1.506 3.393-3.403 3.493l-.198.005a3.657 3.657 0 0 1-2.592-1 3.45 3.45 0 0 1-1.08-2.498h.072c0-1.868 1.506-3.394 3.403-3.494l.197-.005zm-19.97 0c1.922 0 3.493 1.464 3.595 3.307l.005.192c0 1.867-1.506 3.393-3.402 3.493l-.198.005a3.657 3.657 0 0 1-2.593-1 3.45 3.45 0 0 1-1.08-2.498h.073c0-1.868 1.506-3.394 3.402-3.494l.198-.005zm-19.947 0c1.923 0 3.493 1.464 3.596 3.307l.005.192c0 1.867-1.506 3.393-3.403 3.493l-.198.005a3.657 3.657 0 0 1-2.592-1A3.45 3.45 0 0 1 100 112.5h.072c0-1.868 1.506-3.394 3.403-3.494l.197-.005zm99.781 0c1.922 0 3.493 1.464 3.595 3.307l.005.192c0 1.867-1.506 3.393-3.402 3.493l-.198.005a3.657 3.657 0 0 1-2.593-1 3.45 3.45 0 0 1-1.08-2.498h.073c0-1.868 1.506-3.394 3.402-3.494l.198-.005zm19.947 0c1.922 0 3.492 1.464 3.595 3.307l.005.192c0 1.867-1.506 3.393-3.403 3.493l-.197.005c-1.989 0-3.6-1.566-3.6-3.498 0-1.868 1.505-3.394 3.402-3.494l.198-.005zm-39.917 0c1.922 0 3.492 1.464 3.595 3.307l.005.192c0 1.867-1.506 3.393-3.403 3.493l-.197.005a3.657 3.657 0 0 1-2.593-1 3.45 3.45 0 0 1-1.08-2.498h.072c0-1.868 1.506-3.394 3.403-3.494l.198-.005z'/%3E%3Cpath fill='%23D0DBEF' fill-rule='nonzero' d='M182.008 116.541l-136.692 15.94 17.143 118.797 130.827-13.985c2.706-.45 4.812-2.857 4.511-5.714l-9.925-110.376c-.3-2.857-2.857-5.113-5.864-4.662z'/%3E%3Cg fill-rule='nonzero'%3E%3Cg transform='translate(96.744 82.707)'%3E%3Cpath fill='%23DDE4F3' d='M56.692 9.624l-39.55-8.27c-1.052-.151-1.954.45-2.104 1.353L1.504 67.067c-.15 1.053.45 1.956 1.353 2.106l50.376 10.526c1.053.15 1.955-.45 2.105-1.353l11.128-53.534-9.774-15.188z'/%3E%3Cpath fill='%23D0DBEF' d='M54.135 22.256l1.805 2.556 8.12 12.481 2.707-12.481L56.692 9.624z'/%3E%3Cpath fill='%23EEF1F9' d='M66.767 24.812l-12.632-2.556 2.557-12.632'/%3E%3Ccircle cx='31.429' cy='27.218' r='4.361' fill='%23D0DBEF' transform='rotate(-45.162 31.429 27.218)'/%3E%3Ccircle cx='30.788' cy='26.215' r='4.361' fill='%23FFF' transform='rotate(-45.162 30.788 26.215)'/%3E%3C/g%3E%3Cpath fill='%23D0DBEF' d='M110.88 132.03l37.894 9.323c.752.15 1.504-.601 1.203-1.353l-9.774-23.308-1.353 11.579-1.955 1.955-6.166 1.503-19.85.301z'/%3E%3Cpath fill='%23FFF' d='M138.248 115.188l-11.73 13.383c-.45.452-1.052.301-1.353-.3l-3.157-9.023c-.15-.601-.903-.752-1.354-.3l-10.225 11.88c-.452.45-.15 1.202.45 1.202l10.677 2.105 6.166 1.203 18.646 3.76c.602.15 1.053-.451.903-1.053l-7.67-22.707c-.3-.45-1.052-.601-1.353-.15z'/%3E%3Cpath fill='%23DDE4F3' d='M38.7 62.105L5.014 84.662c-.752.45-.902 1.503-.451 2.255l36.842 54.888c.451.751 1.504.902 2.256.45l42.857-28.721c.902-.602 1.052-1.654.45-2.557L56.595 65.564 38.7 62.105z'/%3E%3Cpath fill='%23D0DBEF' d='M45.917 72.782l3.158.451 14.587 2.857-7.068-10.526-17.895-3.459z'/%3E%3Cpath fill='%23EEF1F9' d='M56.594 65.564l-10.677 7.218L38.7 62.105'/%3E%3Cg transform='translate(32.083 85.714)'%3E%3Ccircle cx='13.383' cy='13.684' r='11.729' fill='%23D0DBEF'/%3E%3Ccircle cx='11.88' cy='11.88' r='11.729' fill='%23FFF'/%3E%3Cpath fill='%23DDE4F3' d='M6.316 8.12l7.067 10.827 3.76-10.376z'/%3E%3C/g%3E%3Cg%3E%3Cpath fill='%23DDE4F3' d='M109.827 0l-40 7.368c-.902.15-1.504 1.053-1.353 1.955l11.88 64.963c.15.902 1.052 1.503 1.954 1.353l50.827-9.323c1.053-.15 1.654-1.203 1.504-2.105l-9.925-53.835L109.827 0z'/%3E%3Cpath fill='%23D0DBEF' d='M112.083 12.632l2.706 1.804 12.331 8.421-2.406-12.481L109.827 0z'/%3E%3Cpath fill='%23EEF1F9' d='M124.714 10.376l-12.631 2.256L109.827 0'/%3E%3Cpath fill='%23D0DBEF' d='M117.496 38.797c-1.353-1.504-4.812-1.203-9.925.601-.902-.601-2.105-1.353-3.157-2.105-.752-.601-1.655-1.504-2.557-2.556.451-5.263.15-8.572-1.353-10.075-.752-.752-1.805-1.053-2.857-.903-1.354.301-2.106 1.053-2.406 2.256-.602 2.406 1.654 6.316 4.06 9.323-.15 1.504-.451 3.459-.903 5.564-.3 1.053-.45 2.256-.902 3.309-3.609 2.255-7.519 5.413-7.519 8.12 0 1.052.602 1.955 1.504 2.556.602.301 1.203.451 1.805.301.3 0 .45-.15.752-.3 2.255-1.053 4.21-5.114 5.413-8.873a67.47 67.47 0 0 1 3.61-1.955c1.653-.752 3.007-1.353 4.21-1.955 2.706 1.504 5.112 2.106 6.917 1.805 1.203-.301 2.406-.902 3.158-2.105 1.203-1.504.3-2.707.15-3.008zM92.985 52.782c-.15 0-.3 0-.451-.3 0-.602 1.052-2.106 3.308-3.91-.902 2.255-1.955 3.759-2.857 4.21zm4.511-26.015s0-.15.451-.3c.451 0 .602 0 .602.15.601.601.902 2.105.902 4.962-1.353-1.955-2.105-3.91-1.955-4.812zm4.361 15.188c-.451.15-.902.451-1.353.752 0-.301.15-.602.15-1.053.3-1.203.451-2.406.602-3.609.601.451 1.052.902 1.503 1.203l1.805 1.354a22.76 22.76 0 0 1-2.707 1.353zm13.384-1.353c-.301.601-.752.902-1.504.902-.902.15-1.955 0-3.158-.451 3.158-.903 4.962-1.053 4.662-.451z'/%3E%3Cpath fill='%23FFF' d='M116.594 37.143c-1.353-1.504-4.812-1.203-9.925.601-.902-.601-2.105-1.353-3.158-2.105-.752-.601-1.654-1.504-2.556-2.556.451-5.263.15-8.572-1.353-10.075-.752-.752-1.805-1.053-2.858-.903-1.353.301-2.105 1.053-2.406 2.256-.601 2.406 1.654 6.316 4.06 9.323-.15 1.504-.45 3.459-.902 5.564-.3 1.053-.45 2.256-.902 3.308-3.609 2.256-7.519 5.414-7.519 8.12 0 1.053.602 1.956 1.504 2.557.601.3 1.203.451 1.804.3.301 0 .452-.15.752-.3 2.256-1.053 4.21-5.113 5.414-8.872a67.242 67.242 0 0 1 3.609-1.955c1.654-.752 3.007-1.353 4.21-1.955 2.707 1.504 5.113 2.105 6.918 1.805 1.203-.301 2.406-.903 3.158-2.106 1.203-1.503.3-2.556.15-3.007zM92.083 51.278c-.15 0-.301 0-.451-.3 0-.602 1.052-2.106 3.308-3.91-.902 2.255-1.955 3.76-2.857 4.21zm4.511-26.165s0-.15.451-.301c.451 0 .602 0 .602.15.601.602.902 2.106.902 4.963-1.354-1.805-2.105-3.76-1.955-4.812zm4.511 15.188c-.45.15-.902.45-1.353.752 0-.301.15-.602.15-1.053.301-1.203.451-2.406.602-3.609.601.451 1.052.902 1.504 1.203l1.804 1.353-2.707 1.354zm13.233-1.354c-.3.602-.752.903-1.503.903-.903.15-1.955 0-3.158-.452 3.158-.902 4.962-1.052 4.661-.45z'/%3E%3C/g%3E%3C/g%3E%3Cpath fill='%23EEF1F9' fill-rule='nonzero' d='M187.27 233.083l-9.623-96.542c-.301-2.706-2.707-4.812-5.414-4.51L58.248 144.36l-7.218-21.203c-.902-2.857-3.76-4.662-6.767-4.361l-39.248 3.91c-2.707.3-4.812 2.707-4.511 5.413l3.76 37.444 8.57 85.714c.301 2.707 2.707 4.812 5.414 4.511l164.361-17.293c2.857-.15 4.962-2.707 4.662-5.413z'/%3E%3Cpath fill='%23D0DBEF' fill-rule='nonzero' d='M96.895 181.256a1.02 1.02 0 0 1 .425.094l.048.025a.709.709 0 0 1 .117.073 1.037 1.037 0 0 1 .204.2l.006.008 10.376 13.834a1 1 0 0 1-1.6 1.2l-8.577-11.435v24.67a1 1 0 0 1-.883.993l-.116.007a1 1 0 0 1-1-1l-.001-24.67-8.575 11.435a1 1 0 0 1-1.295.27l-.105-.07a1 1 0 0 1-.2-1.4l10.376-13.834a1.04 1.04 0 0 1 .268-.248.693.693 0 0 1 .058-.034l.049-.024a.644.644 0 0 1 .106-.043.827.827 0 0 1 .175-.041.977.977 0 0 1 .144-.01l-.092.004a.868.868 0 0 1 .072-.004z'/%3E%3Cpath stroke='%23D0DBEF' stroke-dasharray='4' stroke-linecap='round' stroke-linejoin='round' d='M96.895 225.263c16.112 0 29.173-13.061 29.173-29.173s-13.061-29.173-29.173-29.173-29.173 13.061-29.173 29.173 13.061 29.173 29.173 29.173z'/%3E%3C/g%3E%3C/svg%3E") no-repeat center scroll / cover;
  margin-bottom: 60px;
}

//Docker upload
.joomla-docker-panel {
  position: fixed;
  box-shadow: 20px 30px 60px -10px rgba(0, 28, 73, 0.15);
  background: var(--white);
  width: 550px;
  border-radius: 3px;
  overflow: hidden;
  z-index: 11;
  &.joomla-docker-top-right {
    right: 30px;
    top: 60px;
  }
  &.joomla-docker-top-left {
    left: 30px;
    top: 60px;
  }
  &.joomla-docker-bottom-right {
    right: 40px;
    bottom: 60px;
  }
  &.joomla-docker-bottom-left {
    left: 30px;
    bottom: 60px;
  }
  .joomla-docker-panel-header {
    background: #000;
    color: var(--white);
    display: flex;
    padding: 15px 15px 12px;
    .joomla-docker-panel-title {
      flex: 1;
      font-size: 1.145rem;
      line-height: 1;
    }
    .joomla-docker-panel-close-btn,
    .joomla-docker-panel-collapse-btn {
      font-size: 1.15rem;
      line-height: 1;
      display: inline-block;
      margin-left: 5px;
      cursor: pointer;
      &:hover {
        color: rgba(255, 255, 255, .8);
      }
    }
    .disable-btn {
      cursor: not-allowed;
    }
  }
  .joomla-docker-panel-body {
    min-height: 70px;
    transition: height 0.5s linear;
    overflow-y: scroll;
    &.joomla-panel-collapse-in {
      transition: height 0.5s linear;
      min-height: 0;
      max-height: 0;
    }
  }
  .joomla-recent-uploaded-media {
    padding: 0 35px 0 25px;
  }
}
.joomla-recent-uploaded-media-item {
  transition: height 0.5s linear;
  &.joomla-media-upload-success {
    height: 0px;
    transition: height 0.5s linear;
  }
}

//Media listview table
table {
  &.media-browser-table {
    border-collapse:separate;
    border-spacing: 0 10px;
    background-color: transparent;
    color: var(--primary-text-color);
    td,
    th {
      border:none;
      padding: 1rem 0;
      vertical-align: middle;
    }
    
    thead {
      border-spacing: 0;
      tr {
        box-shadow: none;
        background: transparent;
      }
      td,
      th {
        border:none;
        padding-bottom: 0;
        font-size: 1rem;
        color: var(--primary-text-color-alt);
        &.type {
          border: 0;
          background: transparent;
          &::after {
            display: none;
          }
          span {
            visibility: visible;
          }
        }
      }
    }
    tr {
      background: var(--white);
      box-shadow: 0 1px 1px 0 rgba(0,0,0,.15);
      transition: .35s;
      .media-view-icons {
        border: 0;
        display: block;
      }
      td {
        &.type {
          border: 0;
          background: transparent;
          padding: 0 1rem 0 0;
          line-height: 1;
          width: 6%;
          &::before{
            font-size: 2.5rem;
            color: #93ceff;
            line-height: 1;
          }
          &::after {
            display: none;
          }
          span {
            visibility: visible;
          }
        }
      }
      td:first-child {
        border-top-left-radius: 3px;
      }
      td:last-child {
        border-top-right-radius: 3px;
      }
      td:first-child {
        border-bottom-left-radius: 3px;
      }
      td:last-child {
        border-bottom-right-radius: 3px;
      }
    }
    .media-toolbar-icon {
      width: 18px;
      margin-left: 1rem;
    }
    .media-checkbox {
      width: 16px;
      height: 16px;
      &.active {
        &::after {
          height: 10px;
          width: 6px;
          top: -4px;
        }
      }
    }
    .checkmark {
      width: 3%;
    }
  }
}
// Table View
.media-browser-table-head {
  .type {
    margin-left: 1px;
    &::before {
      display: none;
    }
  }
}

.media-browser-table {
  .name {
    width: calc(30% - 40px);
  }
  .size {
    width: 15%;
  }
  .dimension {
    width: 15%;
  }
  .created {
    width: 20%;
  }
  .modified {
    width: 20%;
  }
  .type {
    position: relative;
    z-index: 0;
    width: calc(#{$table-item-height} + 4px);
    padding: 0;
    font-size: $table-item-icon-size;
    line-height: $table-item-height;
    text-align: center;
    background-color: $table-item-icon-bg;
    border-right: 1px solid rgba(0, 0, 0, .03);
    &::before, &::after {
      transition: all .2s cubic-bezier(.4, .0, .2, 1);
    }
    &::before {
      font-family:"Font Awesome 5 Free";
      color: $table-item-icon-color;
      .selected & {
        color: $table-item-icon-color-selected;
      }
    }
    &::after {
      position: absolute;
      top: -1px;
      right: 100%;
      bottom: -1px;
      left: 0;
      z-index: -1;
      content: "";
      background-color: $table-item-icon-bg-selected;
    }
    span {
      visibility: hidden;
    }
  }
}

.action-toggle {
  background: transparent;
  padding: 0;
  border: 0;
}

.selected {
  .type {
    &::before {
      color: #fff;
    }
    &::after {
      right: 0;
    }
  }
}

.type {
  &[data-type] {
    &::before {
      content: $icon-type-default;
    }
  }
  // Folder
  &[data-type=""] {
    &::before {
      content: $icon-type-folder;
    }
  }
  // Images
  &[data-type="jpg"],
  &[data-type="png"],
  &[data-type="gif"],
  &[data-type="jpeg"],
  &[data-type="tiff"],
  &[data-type="bmp"],
  &[data-type="svg"] {
    &::before {
      content: $icon-type-images;
    }
  }
  // Video
  &[data-type="mov"],
  &[data-type="mkv"],
  &[data-type="mp4"],
  &[data-type="mpg"],
  &[data-type="mpeg"] {
    &::before {
      content: $icon-type-video;
    }
  }
  // Audio
  &[data-type="mp3"],
  &[data-type="wav"],
  &[data-type="raw"],
  &[data-type="wma"] {
    &::before {
      content: $icon-type-audio;
    }
  }
  // Docs
  &[data-type="doc"],
  &[data-type="xls"],
  &[data-type="pdf"],
  &[data-type="txt"] {
    &::before {
      content: $icon-type-docs;
    }
  }
  // Code
  &[data-type="html"],
  &[data-type="htm"] {
    &::before {
      content: $icon-type-code;
    }
  }
}

