.media-toolbar {
  position: relative;
  display: flex;
  padding: 0;
  background-color: var(--white);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;
  
  input {
    border: 2px solid #ced4da;
    color: #495057;
    height: 3.45rem;
    padding: .375rem .75rem .375rem 3.4rem;
    width: 20.45rem;
    &::placeholder{
      color: var(--icon-color);
    }
  }
}

.media-toolbar-icon {
  font-size: 1.3rem;
  line-height: $toolbar-height;
  color: #464a4c;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 68px;
}

.media-view-icons {
  display: flex;
  border-left: 1px solid var(--bg-dark-color);
}

.media-view-icons {
  .disabled {
    span {
      opacity: .3;
    }
    &:hover, span:hover {
      cursor: default;
    }
  }
}

.media-view-search-input {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 15px;
  span {
    position: absolute;
    color: var(--icon-color);
    font-size: 1.2rem;
    left: 33px;
  }
}

.media-loader {
  position: absolute;
  right: 100%;
  bottom: 0;
  left: 0;
  z-index: 10;
  height: $toolbar-loader-height;
  background-image: $toolbar-loader-color;
  animation: 10s ease 0s normal none 1 running mediaLoader;
  animation-fill-mode: forwards;
}

@keyframes mediaLoader {
  from {
    right: 100%;
  }
  
  to {
    right: 0;
  }
}

@media (max-width: 767.98px) {
  .media-toolbar {
    input {
      height: 2.8rem;
      width: 17.45rem;
    }
  }
}
@media (max-width: 575.98px) {
  .media-browser-table {
    .size {
      width: 25%;
    }
    .name {
      padding-left: .5rem;
    }
  }
  .media-toolbar-icon {
    width: 50px;
  }
  .media-toolbar {
    input {
      width: 8.45rem;
      padding-left: 3rem;
    }
  }
}